{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

<div class="modal fade ez-modal ez-modal--send-to-trash" id="delete-section-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="ez-modal-body__main">
                    {{ 'section.modal.message'|trans|desc('Do you want to delete section?') }}
                </p>
            </div>
            <div class="modal-footer">
                {{ form_start(form, {
                    "action": path('ezplatform.section.delete', {'sectionId': section.id}),
                    'attr': {'class': 'd-inline-block'}
                }) }}
                <button type="button" class="btn btn-secondary btn--no" data-dismiss="modal">
                    {{ 'form.cancel'|trans|desc('Cancel') }}
                </button>
                {{ form_widget(form.delete, {'attr': {'class': 'btn-danger', 'disabled': not deletable}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
