{% extends 'EzPlatformAdminUiBundle:admin/section:base.html.twig' %}

{% form_theme form_section_update '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'section' %}

{% block breadcrumbs_admin %}
    {% include 'EzPlatformAdminUiBundle:parts:breadcrumbs.html.twig' with { 'items': [
        { 'value': 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { 'url': path('ezplatform.section.list'), 'value': 'section.list'|trans|desc('Sections') },
        { 'value': 'section.update.title'|trans({ '%identifier%': section.name })|desc('Editing Section "%identifier%"') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'section.update.title'|trans({ '%identifier%': section.name })|desc('Editing Section "%identifier%"'),
        iconName: 'sections'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form_section_update, {'attr': {'class': 'update-section'}}) }}

        <section class="container mt-4">
            <div class="card ez-card">
                <div class="card-body">
                    {{ form_row(form_section_update.identifier) }}
                    {{ form_row(form_section_update.name) }}
                </div>
            </div>
        </section>

    {{ form_widget(form_section_update.update, {'attr': {'hidden': 'hidden'}}) }}

    {{ form_end(form_section_update) }}
{% endblock %}

{% block right_sidebar %}
    {% set section_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.section_edit.sidebar_right', [], {'section': section}) %}
    {{ knp_menu_render(section_edit_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
