{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% trans_default_domain 'section' %}

{% block breadcrumbs %}
    {% include 'EzPlatformAdminUiBundle:parts:breadcrumbs.html.twig' with {
    'items': [
        { 'value': 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { 'url': path('ezplatform.section.list'), 'value': 'section.list'|trans|desc('Sections') },
        { 'value': 'section.update.title'|trans({ '%identifier%': section.name })|desc('Editing Section "%identifier%"') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'section.update.title'|trans({ '%identifier%': section.name })|desc('Editing Section "%identifier%"'),
        iconName: 'sections'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form_section_update) }}

    <section class="container mt-4">
        <div class="card">
            <div class="card-body">
                {{ form_row(form_section_update.identifier) }}
                {{ form_row(form_section_update.name) }}
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-4">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            <a href="{{ path("ezplatform.section.list") }}" class="btn btn-default">
                {{ "form.cancel"|trans|desc('Cancel') }}
            </a>
            {{ form_widget(form_section_update.update, {"attr": {"class": "btn btn-primary"}}) }}
        </div>
    </section>

    {{ form_end(form_section_update) }}
{% endblock %}

