{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% trans_default_domain 'section' %}

{% block breadcrumbs %}
    {% include 'EzPlatformAdminUiBundle:parts:breadcrumbs.html.twig' with {
    'items': [
    { 'value': 'breadcrumb.admin'|trans([], 'messages') },
    { 'url': path('ezplatform.section.list'), 'value': 'section.list'|trans },
    { 'url': path('ezplatform.section.view', { sectionId: section.id }), 'value': section.name },
    { 'value': 'section.edit'|trans }
    ]
    } %}
{% endblock %}

{% block pageTitle %}
    {{ 'section.update'|trans }}
{% endblock %}

{% block content %}
    <section class="container">
        {{ form_start(form_section_update) }}
        {{ form_row(form_section_update.data.identifier) }}
        {{ form_row(form_section_update.data.name) }}

        <a href="{{ path('ezplatform.section.view', {'sectionId': section.id}) }}"
           class="btn btn-default">{{ "section.form.cancel"|trans }}</a>
        {{ form_widget(form_section_update.data.update, {"attr": {"class": "btn btn-primary"}}) }}
        {{ form_end(form_section_update) }}
    </section>
{% endblock %}

