{% trans_default_domain 'content_url' %}
{% import _self as tab %}
{% include '@ezdesign/parts/table_header.html.twig' with {
    headerText: 'tab.urls.custom_url_aliases'|trans({'%contentName%' : ez_content_name(content)})|desc('Custom URL aliases for %contentName%'),
    tools: tab.table_header_tools(form_custom_url_remove, can_edit_custom_url)
} %}

{% if custom_urls_pager.currentPageResults is not empty %}
    {{  include('@ezdesign/content/tab/url/custom_urls_table.html.twig', {
            'custom_urls_pager': custom_urls_pager,
            'form_custom_url_remove': form_custom_url_remove,
            'can_edit_custom_url': can_edit_custom_url,
    }) }}
{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.urls.no_custom_urls'|trans|desc('This content item has no custom url aliases.') }}
    </p>
{% endif %}

{% if custom_urls_pager.haveToPaginate %}
    {{  include('@ezdesign/content/tab/pagination.html.twig', {
            'pager': custom_urls_pager,
            'paginatonParams': {
                'routeName': custom_urls_pagination_params.route_name,
                'routeParams': custom_urls_pagination_params.route_params|merge({
                    '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\UrlsTab::URI_FRAGMENT'),
                    'page[system_url]': system_urls_pagination_params.page
                }),
                'pageParameter': '[page][custom_url]'
            }
    }) }}
{% endif %}

{% include '@ezdesign/parts/table_header.html.twig' with { headerText: 'tab.urls.system.title'|trans|desc('System URL') } %}

{% if system_urls_pager.currentPageResults is not empty %}
    {{  include('@ezdesign/content/tab/url/system_urls_table.html.twig', {
            'system_urls_pager': system_urls_pager,
    }) }}
{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.urls.no_system_urls'|trans|desc('This content item has no system urls.') }}
    </p>
{% endif %}

{% if system_urls_pager.haveToPaginate %}
    {{  include('@ezdesign/content/tab/pagination.html.twig', {
        'pager': system_urls_pager,
        'paginatonParams': {
            'routeName': system_urls_pagination_params.route_name,
            'routeParams': system_urls_pagination_params.route_params|merge({
                '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\UrlsTab::URI_FRAGMENT'),
                'page[custom_url]': custom_urls_pagination_params.page
            }),
            'pageParameter': '[page][system_url]'
        }
    }) }}
{% endif %}

{% if can_edit_custom_url %}
    {% include '@ezdesign/content/tab/url/modal_add_custom_url.html.twig' with {
        'form': form_custom_url_add,
        'parent_name': parent_name
    } only %}
{% endif %}

{% macro table_header_tools(form_custom_url_remove, can_edit_custom_url) %}
    {% if can_edit_custom_url %}
        <button
            class="btn btn-primary ez-btn--prevented"
            data-toggle="modal"
            data-target="#ez-modal--custom-url-alias"
            title="{{ 'tab.urls.action.add'|trans|desc('Add Custom URL') }}">
            <svg class="ez-icon ez-icon-create">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
            </svg>
        </button>

        {% set modal_data_target = 'delete-custom-url-modal' %}
        <button
            id="delete-custom-urls"
            type="button"
            class="btn btn-danger"
            disabled
            data-toggle="modal"
            data-target="#{{ modal_data_target }}"
            title="{{ 'tab.urls.action.delete'|trans|desc('Delete Custom URL') }}">
            <svg class="ez-icon ez-icon-trash">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
            </svg>
        </button>
        {% include '@ezdesign/bulk_delete_confirmation_modal.html.twig' with {
            'id': modal_data_target,
            'message': 'tab.urls.modal.message'|trans|desc('Do you want to delete selected Custom URLs?'),
            'data_click': '#' ~ form_custom_url_remove.remove.vars.id,
        }%}
    {% endif %}
{% endmacro %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-translations-tab-js', null, 'ezplatform') }}
{% endblock %}
