{% trans_default_domain 'content_url' %}
{% import _self as tab %}
{% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.urls.custom_url_aliases'|trans({'%contentName%' : ez_content_name(content)})|desc('Custom URL aliases for %contentName%'), tools: tab.table_header_tools(form_custom_url_remove) } %}
{% form_theme form_custom_url_remove '@EzPlatformAdminUi/parts/form/flat_widgets.html.twig' %}

{% if custom_urls is not empty %}
    {{ form_start(form_custom_url_remove, {
        'action': path('ezplatform.custom_url.remove'),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-custom-urls' }
    }) }}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'tab.urls.url'|trans|desc('URL') }}</th>
            <th>{{ 'tab.urls.language'|trans|desc('Language') }}</th>
            <th>{{ 'tab.urls.type'|trans|desc('Type') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for custom_url in custom_urls %}
            <tr>
                <td class="ez-checkbox-cell">{{ form_widget(form_custom_url_remove.url_aliases[custom_url.id]) }}</td>
                <td>{{ custom_url.path }}</td>
                <td>
                    {% for languageCode in custom_url.languageCodes %}{{ admin_ui_config.languages.mappings[languageCode].name }}<br>{% endfor %}
                </td>
                <td>
                    {% if custom_url.forward %}
                        {{ 'tab.urls.type.redirect'|trans|desc('Redirect') }}
                    {% else %}
                        {{ 'tab.urls.type.direct'|trans|desc('Direct') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form_custom_url_remove) }}

{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.urls.no_custom_urls'|trans|desc('This content item has no custom url aliases.') }}
    </p>
{% endif %}

{% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.urls.system.title'|trans|desc('System URL') } %}

{% if system_urls is defined %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'tab.urls.url'|trans|desc('URL') }}</th>
            <th>{{ 'tab.urls.language'|trans|desc('Language') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for system_url in system_urls %}
            <tr>
                <td>{{ system_url.path }}</td>
                <td>
                    {% for languageCode in system_url.languageCodes %}{{ admin_ui_config.languages.mappings[languageCode].name }}<br>{% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.urls.no_system_urls'|trans|desc('This content item has no system urls.') }}
    </p>
{% endif %}

{% include '@EzPlatformAdminUi/content/tab/url/modal_add_custom_url.html.twig' with {'form': form_custom_url_add, 'parent_name': parent_name} only %}

{% macro table_header_tools(form_custom_url_remove) %}
    <button class="btn btn-primary ez-btn--prevented" data-toggle="modal" data-target="#ez-modal--custom-url-alias" title="{{ 'tab.urls.action.add'|trans|desc('Add Custom URL') }}">
        <svg class="ez-icon ez-icon-create">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
        </svg>
    </button>

    {% set modal_data_target = 'delete-custom-url-modal' %}
    <button id="delete-custom-urls" type="button" class="btn btn-danger" disabled data-toggle="modal"
            data-target="#{{ modal_data_target }}" title="{{ 'tab.urls.action.delete'|trans|desc('Delete Custom URL') }}">
        <svg class="ez-icon ez-icon-trash">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
        </svg>
    </button>
    {% include '@EzPlatformAdminUi/bulk_delete_confirmation_modal.html.twig' with {
        'id': modal_data_target,
        'message': 'tab.urls.modal.message'|trans|desc('Do you want to delete selected Custom URLs?'),
        'data_click': '#' ~ form_custom_url_remove.remove.vars.id,
    }%}
{% endmacro %}

{% block javascripts %}
    {% javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}