{% extends 'EzPlatformAdminUiBundle:content/content_edit:content_edit_base.html.twig' %}

{% trans_default_domain 'content_edit' %}

{% block details %}
    {% if baseLanguage is defined and baseLanguage is not null %}
        <h2 class="text-muted">{{ 'editing_in_language_based_on'|trans({'%contentName%': content.name, '%languageName%': language.name, '%baseLanguageName%': baseLanguage.name})|desc('Editing - %contentName% in %languageName% based on %baseLanguageName%') }}</h2>
    {% else %}
        <h2 class="text-muted">{{ 'editing_in_language'|trans({'%contentName%': content.name, '%languageName%': language.name})|desc('Editing - %contentName% in %languageName%') }}</h2>
    {% endif %}
    <h1>
        <svg class="ez-icon ez-icon-{{ contentType.identifier }}">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ contentType.identifier }}"></use>
        </svg>
        {{ content.name }}
    </h1>

    <div class="small">
        {{ contentType.name }} / {{ 'created_by'|trans({'%name%': 'Administrator'})|desc('Created by %name%') }} / {{ content.versionInfo.creationDate|localizeddate('medium', 'medium', app.request.locale) }} / {{ 'content_id'|trans({'%contentId%': content.id})|desc('Content ID: %contentId%') }}{% if content.versionInfo.contentInfo.mainLocationId %}, {{ 'location_id'|trans({'%locationId%': content.versionInfo.contentInfo.mainLocationId})|desc('Location ID: %locationId%') }}{% endif %}
    </div>
    {# @todo remove if statement once getDescription() bug is resolved in kernel #}
    {% if contentType.descriptions is not empty %}
        <div class="small text-muted">{{ contentType.description }}</div>
    {% endif %}
{% endblock %}

{% block form_fields %}
    {{ parent() }}
    {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
{% endblock %}

{% block right_sidebar %}
    {% set content_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_edit.sidebar_right', [], {'content': content, 'content_type': contentType}) %}
    {{ knp_menu_render(content_edit_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block closeButton %}
    {% set locationId = content.versionInfo.contentInfo.mainLocationId
        ? content.versionInfo.contentInfo.mainLocationId
        : (parentLocations|first).id
    %}
    <a class="ez-content-edit-container__close" href="{{ path('_ezpublishLocation', {'locationId': locationId }) }}"></a>
{% endblock %}

{% block form_before %}
    {{ ezplatform_admin_ui_component_group('content-edit-form-before', {
        'content': content,
        'contentType': contentType
    }) }}
{% endblock %}

{% block form_after %}
    {{ ezplatform_admin_ui_component_group('content-edit-form-after', {
        'content': content,
        'contentType': contentType
    }) }}
{% endblock %}
