{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'content_edit' %}
{% form_theme form with 'EzPlatformAdminUiBundle:content:form_fields.html.twig' %}

{% block bodyClass %}ez-standalone-page{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}{% endblock left_sidebar %}
        <div class="container px-0 pb-4 mt-5">
            {% block details %}{% endblock %}

            {% block form %}
                {{ form_start(form) }}

                {% block form_fields %}
                    {% for field in form.fieldsData -%}
                        {% if field.value is defined %}
                            {{- form_row(field.value) -}}
                        {% else %}
                            <div>
                                {{- form_label(field) -}}
                                <p class="non-editable">
                                    {{ "content.field.non_editable"|trans|desc('Field type is not editable') }}
                                </p>
                                {% do field.setRendered() %}
                            </div>
                        {% endif %}
                    {%- endfor %}
                {% endblock %}

                {{ form_end(form) }}
            {% endblock %}
        </div>
        <div class="col-sm-1 pt-4 bg-secondary ez-context-menu">
            {% block right_sidebar %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {%  javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/alloyeditor/dist/*.js'
        '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.content.edit.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-file-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-preview-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/ezplatformadminui/css/alloyeditor/alloyeditor-ez.css'
        '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
