{% set main_menu_context = {
    'location': location ?? null,
    'content': content ?? null
} %}
{% set main_menu = knp_menu_get('ezplatform_admin_ui.menu.main', [], main_menu_context) %}

<nav class="navbar navbar-expand-sm ez-main-nav">
    <div class="container-fluid">
        <a href="{{ url('ezplatform.dashboard') }}" class="navbar-brand">
            <img src="/bundles/ezplatformadminui/img/ibexa-logo.svg" alt="Ibexa" />
        </a>
        <div class="collapse navbar-collapse">
            <ul class="nav nav-tabs ez-tabs" role="tablist" style="width: 100%;">
                {{ knp_menu_render(main_menu, {
                    'depth': 1,
                    'template': '@ezdesign/ui/menu/top_menu.html.twig',
                    'currentClass': 'active',
                    'ancestorClass': 'active'
                }) }}
            </ul>
            <div class="ez-user-menu ml-md-auto">
                <div class='ez-user-menu__name-wrapper'>
                    {% set user = ez_admin_ui_config.user.user%}
                    <span class="ez-user-menu__name">{{ user.name }}</span>
                </div>
                {{ knp_menu_render('ezplatform_admin_ui.menu.user', {
                    'depth': 1,
                    'template': '@ezdesign/ui/menu/user_menu.html.twig'
                }) }}
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light ez-main-sub-nav">
    {{ knp_menu_render(main_menu, {
        'depth': 2,
        'template': '@ezdesign/ui/menu/top_menu_2nd_level.html.twig',
        'currentClass': 'active',
        'ancestorClass': 'active'
    }) }}
</nav>
