{% extends '@ezdesign/ui/menu/top_menu_base.html.twig' %}

{% block root %}
    {% set list_attributes = item.childrenAttributes %}
    {% set current_item = item %}
    <div class="tab-content mx-4">
        {% for child in current_item.children %}
            <div role="tabpanel"
                 class="tab-pane fade{{ matcher.isAncestor(child, options.matchingDepth) ? ' show active' }}"
                 id="{{ child.name }}">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% for item in child.children %}
                                {{ block('item') }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block label %}
    {% set icon_path = null %}
    {% set icon_class = (item_class|default('ez-icon ') ~ item.extras.icon_size|default('ez-icon--small ') ~ item.extras.icon_class|default(''))|trim %}
    {% if item.extras.icon_path|default %}
        {% set icon_path = item.extras.icon_path %}
    {% elseif item.extras.icon is defined and item.extras.icon is not empty %}
        {% set icon_path = asset('bundles/ezplatformadminui/img/ez-icons.svg') ~ '#' ~ item.extras.icon %}
        {% set icon_class = (icon_class ~ ' ez-icon-' ~ item.extras.icon)|trim %}
    {% endif %}
    {% if icon_path is not empty %}
        <svg class="{{ icon_class }}">
            <use xlink:href="{{ icon_path }}"></use>
        </svg>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% set params = {
        'href': item.uri,
        'aria-controls': item.name,
        'class': ('nav-link' ~ (matcher.isCurrent(item) ? ' ' ~ options.currentClass|trim)) ~ (item.linkAttributes.class is defined ?  ' ' ~ item.linkAttributes.class|trim)
    } %}

    {% if item.extras.title is defined %}
        {% set params = params|merge({
            'title': item.extras.title
        })  %}
    {% endif %}

    {% set link_attributes = item.linkAttributes|merge(params) %}
    <a{{ knp_menu.attributes(link_attributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    {{ block('linkElement') }}
{% endblock %}
