{% set main_menu_context = {
    'location': location ?? null,
    'content': content ?? null
} %}
{% set main_menu = knp_menu_get('ezplatform_admin_ui.menu.main', [], main_menu_context) %}

<nav class="navbar navbar-expand-sm navbar-light ez-main-nav" style="flex-wrap:wrap;">
    <div class="container-fluid">
        <a href="{{ url('ezplatform.dashboard') }}" class="navbar-brand">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" xml:space="preserve" width="70" viewBox="0 0 822.59995 309.89998">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-logo.svg') }}#logo"></use>
            </svg>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="nav nav-tabs" role="tablist">
                {{ knp_menu_render(main_menu, {
                    'depth': 1,
                    'template': '@ezdesign/ui/menu/top_menu.html.twig',
                    'currentClass': 'active',
                    'ancestorClass': 'active'
                }) }}
            </ul>
            <div class="ez-user-menu ml-md-auto">
                <div class='ez-user-menu__name-wrapper'>
                    {% set user = ez_admin_ui_config.user.user%}
                    <span class="ez-user-menu__name">{{ user.name }}</span>

                    {% if ez_admin_ui_config.user.profile_picture_field is not null and ez_admin_ui_config.user.profile_picture_field.value.uri is not null %}
                        {% set imageVariation = ez_image_alias(ez_admin_ui_config.user.profile_picture_field, user.versionInfo, 'ezplatform_admin_ui_profile_picture_user_menu') %}
                        {% set src = imageVariation ? asset(imageVariation.uri) : asset('bundles/ezplatformadminui/img/default-profile-picture.png') %}
                        <span class="ez-user-menu__avatar-wrapper"><img class="ez-user-menu__avatar" src="{{ src }}" alt="{{ user.name }}"></span>
                    {% else %}
                        <span class="ez-user-menu__avatar-wrapper"><img class="ez-user-menu__avatar" src="{{ asset('bundles/ezplatformadminui/img/default-profile-picture.png') }}" alt="{{ user.name }}"></span>
                    {% endif %}
                </div>
                {{ knp_menu_render('ezplatform_admin_ui.menu.user', {
                    'depth': 1,
                    'template': '@ezdesign/ui/menu/user_menu.html.twig'
                }) }}
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light ez-main-sub-nav" style="flex-wrap:wrap;">
    {{ knp_menu_render(main_menu, {
        'depth': 2,
        'template': '@ezdesign/ui/menu/top_menu_2nd_level.html.twig',
        'currentClass': 'active',
        'ancestorClass': 'active'
    }) }}
</nav>
