{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% do item.setChildrenAttribute('class', 'nav navbar-nav ez-user-menu__items ez-user-menu__items--hidden') %}
    {{ parent() }}
{% endblock %}

{% block item %}
    {% if item.name != 'root' %}
        {% set link_attributes = item.linkAttributes|merge({'class': (item.linkAttributes.class|default('') ~ ' nav-link')|trim}) %}
        {% set label_attributes = item.labelAttributes|merge({'class': (item.labelAttributes.class|default('') ~ ' nav-link')|trim}) %}
        {% set attributes = item.attributes|merge({'class': (item.attributes.class|default('') ~ ' nav-item ez-user-menu__item ez-user-menu__item--dark')|trim}) %}
        {% do item.setLinkAttributes(link_attributes) %}
        {% do item.setLabelAttributes(label_attributes) %}
        {% do item.setAttributes(attributes) %}
    {% endif %}
    {% if item.getExtra('template') is not null %}
        {% include item.getExtra('template') ignore missing with options only %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        <span class="ez-user-menu__item-label">
            {{ block('label') }}
        </span>
    </a>
{% endblock %}
