{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'content_preview' %}

{% set is_published = content.contentInfo.published and content.contentInfo.mainLocationId is not null %}

{% block body_class %}ez-content-preview{% endblock %}

{% block navigation %}{% endblock %}
{% block content %}
    <div class="ez-preview">
        <div class="ez-preview__nav">
            <div class="ez-preview__item ez-preview__item--back">
                <a 
                    class="ez-preview__link" 
                    href="{{ url('ezplatform.content.draft.edit', {'contentId': content.id, 'versionNo': version_no, 'language': language_code, 'locationId': is_published ? location.id : null}) }}"
                    title="{{ 'tooltip.exit_label'|trans({}, 'content')|desc('Exit') }}"
                >
                    <svg class="ibexa-icon ibexa-icon--small-medium">
                        <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                    </svg>
                </a>
            </div>
            <div class="ez-preview__item ez-preview__item--description">
                <span class="ez-preview__item-label">{{ 'previewing'|trans|desc('Previewing') }}:</span>
                <span class="ez-preview__item-text">{{ content.name }}</span>
            </div>
            <div class="ez-preview__item ez-preview__item--actions">
                <button data-preview-mode="desktop" class="ez-preview__action ez-preview__action--selected">
                    <svg class="ibexa-icon ibexa-icon--desktop">
                        <use xlink:href="{{ ibexa_icon_path('view-desktop') }}"></use>
                    </svg>
                </button>
                <button data-preview-mode="tablet" class="ez-preview__action">
                    <svg class="ibexa-icon ibexa-icon--tablet">
                        <use xlink:href="{{ ibexa_icon_path('view-tablet') }}"></use>
                    </svg>
                </button>
                <button data-preview-mode="mobile" class="ez-preview__action">
                    <svg class="ibexa-icon ibexa-icon--mobile">
                        <use xlink:href="{{ ibexa_icon_path('view-mobile') }}"></use>
                    </svg>
                </button>
            </div>
            {% if siteaccesses|length > 1 %}
                <div class="ez-preview__item ez-preview__item--siteaccess">
                    <select class="form-control">
                        {% for site_accesses_name, site_access_label in siteaccesses %}
                            {% set option_value = path(
                                '_ezpublishPreviewContent',
                                {
                                    'contentId': content.id,
                                    'versionNo': version_no,
                                    'language': language_code,
                                    'siteAccessName': site_accesses_name
                                }
                            ) %}
                            <option value="{{ option_value }}">
                                {{ site_access_label|trans({}, 'ezplatform_siteaccess') }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        <div class="ez-preview__iframe ez-preview__iframe--desktop">
            <iframe src="{{ url('_ezpublishPreviewContent', {'contentId': content.id, 'versionNo': version_no, 'language': language_code, 'siteAccessName': siteaccesses|first}) }}" frameborder="0"></iframe>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-preview-js', null, 'ezplatform') }}
{% endblock %}
