{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'content_preview' %}

{% set is_published = content.contentInfo.published and content.contentInfo.mainLocationId is not null %}

{% block body_class %}ibexa-content-preview{% endblock %}

{% block left_sidebar %}{% endblock %}

{% block header_row %}
    <div class="ibexa-preview-header">
        <div class="ibexa-preview-header__item ibexa-preview-header__item--back">
            <a
                class="ibexa-preview-header__link btn ibexa-btn ibexa-btn--ghost"
                href="{{ url('ezplatform.content.draft.edit', {'contentId': content.id, 'versionNo': version_no, 'language': language_code, 'locationId': is_published ? location.id : null}) }}"
            >
                <svg class="ibexa-icon ibexa-icon--small-medium">
                    <use xlink:href="{{ ibexa_icon_path('back') }}"></use>
                </svg>
                <span class="ibexa-btn__label">{{ 'preview_header.back'|trans({}, 'content')|desc('Back') }}</span>
            </a>
        </div>
        <div class="ibexa-preview-header__item ibexa-preview-header__item--siteaccess">
            {% set value = '' %}
            {% set choices = siteaccesses|map((site_accesses_name, site_access_label) => {
                value: path(
                    '_ezpublishPreviewContent',
                    {
                        'contentId': content.id,
                        'versionNo': version_no,
                        'language': language_code,
                        'siteAccessName': site_accesses_name
                    }
                ),
                label: site_access_label|trans({}, 'ezplatform_siteaccess')
            }) %}
            {% set source %}
                <select class="form-control ibexa-input">
                    {% for choice in choices %}
                        {% if loop.first %}
                            {% set value = choice.value %}
                        {% endif %}
                        <option value="{{ choice.value }}">
                            {{ choice.label }}
                        </option>
                    {% endfor %}
                </select>
            {% endset %}

            {% include '@ezdesign/ui/component/dropdown.html.twig' with {
                source: source,
                choices: choices,
                value: value,
            } %}
        </div>
        <div class="ibexa-preview-header__item ibexa-preview-header__item--actions">
            <button data-preview-mode="desktop" class="btn ibexa-btn ibexa-btn--ghost ibexa-preview-header__action ibexa-preview-header__action--selected">
                <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--desktop">
                    <use xlink:href="{{ ibexa_icon_path('view-desktop') }}"></use>
                </svg>
            </button>
            <button data-preview-mode="tablet" class="btn ibexa-btn ibexa-btn--ghost ibexa-preview-header__action">
                <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--tablet">
                    <use xlink:href="{{ ibexa_icon_path('view-tablet') }}"></use>
                </svg>
            </button>
            <button data-preview-mode="mobile" class="btn ibexa-btn ibexa-btn--ghost ibexa-preview-header__action">
                <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--mobile">
                    <use xlink:href="{{ ibexa_icon_path('view-mobile') }}"></use>
                </svg>
            </button>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="ibexa-preview">
        <div class="ibexa-preview__iframe ibexa-preview__iframe--desktop">
            <iframe src="{{ url('_ezpublishPreviewContent', {'contentId': content.id, 'versionNo': version_no, 'language': language_code, 'siteAccessName': siteaccesses|first}) }}" frameborder="0"></iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-preview-js', null, 'ezplatform') }}
{% endblock %}
