{% block close_button %}
    <a 
        class="ez-content-edit-container__close" 
        href="{{ path('_ez_content_view', { 'contentId': parent_location.contentId, 'locationId': parent_location.id}) }}"
        title="{{ 'tooltip.exit_label'|trans({}, 'content')|desc('Exit') }}"
    >
        <svg class="ez-icon ez-icon--small">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#discard"></use>
        </svg>
    </a>
{% endblock %}

{% if title is defined %}
    <div class="ez-page-title-content-edit">
        <div class="ez-page-title-content-edit__action">{{ action_name }}</div>
        <div class="ez-page-title-content-edit__title">{{ title }}</div>
        <div class="ez-page-title-content-edit__description">{{ description }}</div>
    </div>
{% endif %}
