{% trans_default_domain 'content' %}

{% block close_button %}
    {% if without_close_button is not defined or without_close_button != true %}
        {% set referrer_location = content is defined and is_published ? location : parent_location %}
        <a
            class="ez-content-edit-container__close"
            href="{{ path('_ez_content_view', { 'contentId': referrer_location.contentId, 'locationId': referrer_location.id }) }}"
            title="{{ 'tooltip.exit_label'|trans({}, 'content')|desc('Exit') }}"
        >
            <svg class="ez-icon ez-icon--small ez-icon--primary">
                <use xlink:href="{{ ez_icon_path('discard') }}"></use>
            </svg>
        </a>
    {% endif %}
{% endblock %}

{% if title is defined %}
    {% set is_autosave_enabled = ez_user_settings['autosave'] is same as('enabled') %}
    {% set form_has_autosave = form.autosave is defined %}

    <div class="ez-content-edit-page-title {{ class is defined ? class }}">
        <div class="ez-content-edit-page-title__main-data">
            <div class="ez-content-edit-page-title__action">{{ action_name }}</div>
            <div class="ez-content-edit-page-title__title">
                {{ title }}

                {% if description is defined and description and title is not empty  %}
                    <div class="ez-content-edit-page-title__icon-wrapper" title="{{ description }}">
                        <svg class="ez-icon ez-icon--medium">
                            <use xlink:href="{{ ez_icon_path('system-information') }}"></use>
                        </svg>
                    </div>
                {% endif %}
            </div>

            <div class="ez-content-edit-page-title__location">
                {{ 'editing_details'|trans({
                    '%language_name%': language.name,
                    '%location_name%': parent_location.contentInfo.name})
                    |desc('<b>in</b> %language_name% <b>under</b> %location_name%')|raw
                }}

                {% if is_autosave_enabled and form_has_autosave %}
                    <span class="ez-content-edit-page-title__content-info">
                        <span
                            class="ez-content-edit-page-title__autosave-wrapper ez-content-edit-page-title__autosave-wrapper--not-saved"
                            title="{{ 'content.autosave.turn_of.message'|trans()|desc('You can turn autosave off in your user settings') }}"
                        >
                            <span class="ez-content-edit-page-title__autosave-result">
                                <svg class="ez-icon ez-icon ez-icon--small-medium ez-icon--autosave">
                                    <use xlink:href="{{ ez_icon_path('autosave') }}"></use>
                                </svg>
                                <span class="ez-content-edit-page-title__autosave-info">{{ 'content_edit.autosave.message'|trans()|desc('<b>Autosave</b> is on.')|raw }} </span>
                                <span class="ez-content-edit-page-title__autosave-failed">
                                    <span class="ez-content-edit-page-title__autosave-failed-marked">{{ 'content.autosave.failed.message'|trans()|desc('Autosave failed') }}</span>,
                                    <span>{{ 'content.autosave.retry.message'|trans()|desc('please try to save manually.') }}</span>
                                </span>
                                <span class="ez-content-edit-page-title__autosave-last-saved"></span>
                            </span>
                        </span>
                    </span>
                {% endif %}
            </div>
        </div>

        <div class="ez-content-edit-page-title__aditional-data">
            {% if content is defined %}
                <div class="ez-content-edit-page-title__details">
                    {% if creator is defined and creator is not empty %}
                        <div>{{ 'content.details.created_by'|trans({'%name%': ez_content_name(creator)})|desc('Created by %name%') }}</div>
                    {% endif %}
                    <div>{{ content.versionInfo.contentInfo.publishedDate|ez_full_datetime }}</div>
                    <div>
                        {{ 'content.details.content_id'|trans({'%contentId%': content.id})|desc('Content ID: %contentId%') }} |
                        {% if is_published is defined and is_published == false %}
                            {{ 'content.details.parent_location_id'|trans({'%locationId%': parent_location.id})|desc('Parent Location ID: %locationId%') }}
                        {% else %}
                            {{ 'content.details.location_id'|trans({'%locationId%': location.id})|desc('Location ID: %locationId%') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
