{% trans_default_domain 'locationview' %}

{% form_theme form_location_update '@ezdesign/ui/form_fields.html.twig' %}

{% set body_row_cols = [
    { content: creator is not empty ? ez_content_name(creator) : 'tab.details.creator.not_found'|trans|desc('Can\'t fetch creator') },
    { content: last_contributor is not empty ? ez_content_name(last_contributor) : 'tab.details.last_contributor.not_found'|trans|desc('Can\'t fetch last contributor') },
    { content: version_info.versionNo },
] %}
{% set col_raw %}
    {% for translation in translations %}
        {{ translation.name }}<br>
    {% endfor %}
{% endset %}
{% set body_row_cols = body_row_cols|merge([{ content: col_raw, raw: true }]) %}
{% include '@ezdesign/ui/component/table/table.html.twig' with {
    headline: 'tab.details.content_details'|trans()|desc('Content details'),
    head_cols: [
        { content: 'tab.details.creator'|trans()|desc('Creator') },
        { content: 'tab.details.last_contributor'|trans()|desc('Last contributor') },
        { content: 'tab.details.published_version'|trans()|desc('Published version') },
        { content: 'tab.details.translations'|trans()|desc('Translations') },
    ],
    body_rows: [{
        cols: body_row_cols
    }],
} %}

{% include '@ezdesign/ui/component/table/table.html.twig' with {
    headline: 'tab.details.technical_details'|trans()|desc('Technical details'),
    head_cols: [
        { content: 'tab.details.content_id'|trans()|desc('Content ID') },
        { content: 'tab.details.location_id'|trans()|desc('Location ID') },
        { content: 'tab.details.content_remote_id'|trans()|desc('Content remote ID') },
        { content: 'tab.details.location_remote_id'|trans()|desc('Location remote ID') },
    ],
    body_rows: [{
        cols: [
            { content: content_info.id },
            { content: location.id },
            { content: content_info.remoteId },
            { content: location.remoteId },
        ]
    }],
} %}

{% if can_see_section %}
    {% set body_row_cols = [
        { content: section.name },
    ] %}
    {% set col_raw %}
        {% if form_assign_section %}
            {% form_theme form_assign_section '@ezdesign/ui/form_fields.html.twig' %}

            {{ form_start(form_assign_section, {
                'action': path('ezplatform.location.assign_section'),
                'attr': {
                    'class': 'form-inline ez-form-inline ez-form-inline--align-left'
                }
            }) }}
            {{ form_row(form_assign_section.section, { 'attr': {'class': 'ez-form-autosubmit'} }) }}

            {% do form_assign_section.assign.setRendered() %}
            {{ form_end(form_assign_section) }}
        {% endif %}
    {% endset %}
    {% set body_row_cols = body_row_cols|merge([{ content: col_raw, raw: true }]) %}
    {% include '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'tab.details.section_details'|trans()|desc('Section details'),
        head_cols: [
            { content: 'tab.details.section_name'|trans()|desc('Section name') },
            { content: 'tab.details.change_section '|trans()|desc('Change Section') },
        ],
        body_rows: [{
            cols: body_row_cols
        }],
    } %}
{% endif %}

{% set body_rows = [] %}
{% for object_state in object_states %}
    {% set body_row_cols = [] %}

    {% set body_row_cols = body_row_cols|merge([
        { content: object_state.objectStateGroup.name },
        { content: object_state.name },
    ]) %}

    {% set col_raw %}
        {% if can_assign and form_state_update[object_state.objectStateGroup.id].objectState.vars.choices|length != 0 %}
            {% form_theme form_state_update[object_state.objectStateGroup.id] '@ezdesign/ui/form_fields.html.twig' %}
            {{ form_start(form_state_update[object_state.objectStateGroup.id], {
                'method': 'POST',
                'action': path('ezplatform.object_state.contentstate.update', {
                    'contentInfoId': content_info.id,
                    'objectStateGroupId': object_state.objectStateGroup.id
                }),
                'attr': {'class': 'form-inline ez-form-inline ez-form-inline--align-left'}
            }) }}
                {{ form_row(form_state_update[object_state.objectStateGroup.id].contentInfo) }}
                {{ form_row(form_state_update[object_state.objectStateGroup.id].objectStateGroup) }}
                {{ form_row(form_state_update[object_state.objectStateGroup.id].objectState, { 'attr': {'class': 'ez-form-autosubmit'} }) }}
                {% do form_state_update[object_state.objectStateGroup.id].set.setRendered %}
            {{ form_end(form_state_update[object_state.objectStateGroup.id]) }}
        {% endif %}
    {% endset %}
    {% set body_row_cols = body_row_cols|merge([{
        content: col_raw,
        raw: true,
    }]) %}

    {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
{% endfor %}

{% include '@ezdesign/ui/component/table/table.html.twig' with {
    headline: 'tab.details.state_details'|trans()|desc('Object state details'),
    head_cols: [
        { content: 'tab.details.state_group_name'|trans()|desc('Group name') },
        { content: 'tab.details.state_name'|trans()|desc('Current Object state') },
        { content: 'tab.details.change_state'|trans()|desc('Change Object state') },
    ],
    body_rows,
} %}

{% include '@ezdesign/ui/component/table/table_header.html.twig' with {
    headline: 'tab.details.sub_items_sorting_order'|trans|desc('Sub-item sorting order'),
} only %}

<div class="bg-white ml-4" data-sort-field="{{ sort_field_clause_map[location.sortField] }}" data-sort-order="{{ location.sortOrder ? 'ascending' : 'descending' }}">
    {{ form_start(form_location_update, {
        'method': 'POST',
        'action': path('ezplatform.location.update'),
        'attr': {'class': 'form-inline ez-form-inline justify-content-start'}
        }) }}

    {{ form_label(form_location_update.sort_field, 'tab.details.sub_items_listing_by.order_by'|trans|desc('Order by')) }}
    {{ form_widget(form_location_update.sort_field, { 'attr': {'class': 'ez-form-autosubmit ml-2'} }) }}

    {{ form_label(form_location_update.sort_order, 'tab.details.sub_items_listing_by.in'|trans|desc('in')) }}
    {{ form_widget(form_location_update.sort_order, { 'attr': {'class': 'ez-form-autosubmit ml-2'} }) }}

    {% do form_location_update.update.setRendered() %}
    {{ form_end(form_location_update) }}
</div>
