{% import "@ezdesign/content_type/macros.html.twig" as macros %}

{% trans_default_domain 'content_type' %}
{% set current_language = app.request.get('languageCode') ?: language_code %}

<div class="container ez-container">
    <section class="ez-fieldgroup">
        <h2 class="ez-fieldgroup__name">{{ "content_type.global_properties"|trans|desc("Global properties") }}</h2>
        {% if languages|length > 1 %}
            <form class="form-inline justify-content-end mb-4">
                <select class="form-control ez-location-language-change">
                    {% for language in languages %}
                        <option
                            value="{{ path('ezplatform.content_type.view', {
                                'contentTypeId': content_type.id,
                                'contentTypeGroupId': content_type_group.id,
                                'languageCode': language.languageCode,
                                '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\ContentType\\ViewTab::URI_FRAGMENT'),
                            }) }}"
                            {% if current_language == language.languageCode %} selected="selected" {% endif %}
                        >
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        {% endif %}
        <div class="ez-fieldgroup__content">
            {% include '@ezdesign/ui/component/table/table.html.twig' with {
                headline: "content_type.content_type"|trans|desc("Content Type"),
                head_cols: [
                    { content: "content_type.name"|trans|desc("Name") },
                    { content: "content_type.identifier"|trans|desc("Identifier") },
                    { content: "content_type.description"|trans|desc("Description") },
                    { },
                ],
                body_rows: [{
                    cols: [
                        { content: content_type.names[current_language] },
                        { content: content_type.identifier },
                        { content: content_type.descriptions[current_language]|default('') },
                        {
                            content: can_update
                                ? macros.content_type_edit(content_type, content_type_group, 'btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text mx-2')
                                : null,
                            raw: true,
                        },
                    ]
                }],
            } %}

            <table class="ez-table table ez-table--list">
                <tbody>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ "content_type.name_schema"|trans|desc("Content name pattern") }}</td>
                    <td class="ez-table__cell">{{ content_type.nameSchema }}</td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ "content_type.url_alias_schema"|trans|desc("URL alias name pattern") }}</td>
                    <td class="ez-table__cell">{{ content_type.urlAliasSchema }}</td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ "content_type.container"|trans|desc("Container") }}</td>
                    <td class="ez-table__cell">{{ content_type.isContainer ? 'yes'|trans|desc("Yes") : 'no'|trans|desc("No") }}</td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ "content_type.default_children_sorting"|trans|desc("Sort children by default by:") }}</td>
                    <td class="ez-table__cell">
                        {{ ("content_type.sort_field." ~ content_type.defaultSortField)|trans(domain="content_type") }} / {{ ("content_type.sort_order." ~ content_type.defaultSortOrder)|trans(domain="content_type") }}
                    </td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ "content_type.default_sort"|trans|desc("Sort children by default in order:") }}</td>
                    <td class="ez-table__cell">
                        {{ ("content_type.sort_order." ~ content_type.defaultSortOrder)|trans(domain="content_type") }}
                    </td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">
                        {{ "content_type.default_availability"|trans|desc('Make content available even with missing translations') }}
                        <p class="small">
                            {{ "content_type.default_availability.help"|trans|desc("Content of this Content Type will be available in the main language even if there is no translation.") }}
                        </p>
                    </td>
                    <td class="ez-table__cell">
                        {% if content_type.defaultAlwaysAvailable %}
                            {{ 'content_type.default_availability.available'|trans|desc("Available") }}
                        {% else %}
                            {{ 'content_type.default_availability.not_available'|trans|desc("Not available") }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="ez-fieldgroup">
        <h2 class="ez-fieldgroup__name">{{ "content_type.content_field_definitions"|trans|desc("Content Field definitions") }}</h2>
        <div class="ez-fieldgroup__content">
            {% for group, field_definitions in field_definitions_by_group %}
                {% set body_rows = [] %}
                {% for field_definition in field_definitions %}
                    {% set body_rows = body_rows|merge([{
                        cols: [
                            { content: field_definition.names[current_language] },
                            { content: field_definition.identifier },
                            { content: field_definition.fieldTypeIdentifier },
                        ]
                    }]) %}
                {% endfor %}

                {% include '@ezdesign/ui/component/table/table.html.twig' with {
                    headline: group|capitalize,
                    head_cols: [
                        { content: 'Name', class: 'ibexa-table__head-cell--field-definitions-head' },
                        { content: 'Identifier', class: 'ibexa-table__head-cell--field-definitions-head' },
                        { content: 'Type', class: 'ibexa-table__head-cell--field-definitions-head' },
                    ],
                    body_rows,
                } %}
            {% endfor %}
        </div>
    </section>
</div>
