<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ibexa DXP</title>
        {{ encore_entry_link_tags('ezplatform-admin-ui-security-base-css', null, 'ezplatform') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />

        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/@popperjs/core/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body class="ibexa-login-view">
        <div class="container-fluid ez-main-container">
            <div class="row ibexa-login">
                <img class="ibexa-login__logo" src="{{ asset('bundles/ezplatformadminui/img/ibexa-logo.svg') }}" alt="ibexa" />
                <div class="container ibexa-login__content-wrapper">
                    <div class="row ibexa-login__content-row">
                        <div class="col-4 ibexa-login__info-col">
                            <h1 class="ibexa-login__info-headline">{{ 'base.welcome'|trans|desc('Welcome to<br/> Ibexa DXP')|raw }}</h1>
                            <div class="ibexa-login__support-wrapper">
                                <h3 class="ibexa-login__support-headline">{{ 'base.need_assistance'|trans|desc('Get to know Ibexa DXP') }}</h3>
                                <span class="ibexa-login__support-content">
                                    {{ 'base.visit_support'|trans({
                                        '%ez_documentation_link%': '<a class="ibexa-link ibexa-link--light ibexa-link--no-hover-color" href="https://developers.ibexa.co/documentation-hub">official documentation</a>',
                                        '%ez_contact_link%': '<a class="ibexa-link ibexa-link--light ibexa-link--no-hover-color" href="https://www.ibexa.co/about-ibexa/contact-us">Contact us</a>'
                                    })| desc('See the %ez_documentation_link%<br/>or %ez_contact_link%')|raw }}
                                </span>
                            </div>
                        </div>
                        <div class="col-4 ibexa-login__actions-col">
                            {%- block content -%} {%- endblock content -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if app.request.locale == 'ach_UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ezplatform']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
    </body>
</html>
