<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ibexa DXP</title>
        {{ encore_entry_link_tags('ezplatform-admin-ui-security-base-css', null, 'ezplatform') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />
    </head>
    <body class="ez-login-view">
        <div class="container-fluid ez-main-container">
            <div class="row ez-login">
                <div class="col-5 ez-login__image-col">
                    <div class="ez-login__support-wrapper">
                        <h2 class="ez-login__support-headline">{{ 'base.need_assistance'|trans|desc('Get to know Ibexa DXP') }}</h2>
                        <span class="ez-login__support-content">{{ 'base.visit_support'|trans({
                                '%ez_documentation_link%': '<a class="ez-link ez-link--light ez-link--no-hover-color" href="https://developers.ibexa.co/documentation-hub">https://developers.ibexa.co/documentation-hub</a>',
                                '%ez_contact_link%': '<a class="ez-link ez-link--light ez-link--no-hover-color" href="https://www.ibexa.co/about-ibexa/contact-us">https://www.ibexa.co/about-ibexa/contact-us</a>'
                              })| desc('Visit the official documentation %ez_documentation_link%<br/>or get in touch with us: %ez_contact_link%')|raw }}</span>
                    </div>
                </div>
                <div class="col-7 ez-login__actions-col">
                    <img class="ez-login__logo" src="{{ asset('/bundles/ezplatformadminui/img/ibexa-logo.svg') }}" alt="ibexa" />
                    <div class="ez-login__actions-wrapper">
                        {%- block content -%} {%- endblock content -%}
                    </div>
                    <div class="ez-login__copright">
                        {{ 'base.footer_copyright'|trans({
                                    '%current_year%': "now"|date("Y")
                        }) |desc('Copyright &#169; IBEXA 1999-%current_year%')|raw }}
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% if app.request.locale == 'ach_UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ezplatform']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
    </body>
</html>
