{% trans_default_domain 'role' %}

<div class="ez-scrollable-table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'tab.roles.name'|trans|desc('Name') }}</th>
            <th>{{ 'tab.roles.limitation'|trans|desc('Limitation') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for role_assignment in roles_pager.currentPageResults %}
            <tr>
                <td>
                    <a href="{{ path('ezplatform.role.view', { roleId: role_assignment.role.id}) }}">
                        {{ role_assignment.role.identifier }}
                    </a>
                </td>
                <td>
                    {%- set limitation = role_assignment.rolelimitation -%}
                    {%- if limitation -%}
                        {{ ez_render_limitation_value(limitation, {'template': '@ezdesign/content/tab/roles/limitation_values.html.twig'}) }}
                        <span title="{{ 'policy.limitation.identifier_tooltip' | trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}">
                            ({{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezplatform_content_forms_policies')|desc('%identifier%') }})
                        </span>
                    {%- else -%}
                        {{- 'policy.limitation.none'|trans|desc('None') -}}
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
