{% extends "@ezdesign/layout.html.twig" %}

{% trans_default_domain 'content_type' %}

{% block body_class %}ez-content-type-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') , },
        { url: path('ezplatform.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { url: path('ezplatform.content_type_group.view', { contentTypeGroupId: content_type_group.id }), value: 'content_type_group.breadcrumb.view'|trans({ '%identifier%': content_type_group.identifier })|desc('%identifier%') },
        { value: 'content_type.breadcrumb.view'|trans({ '%identifier%': content_type.name })|desc('%identifier%') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/parts/page_title.html.twig' with {
        title: 'content_type.view.view.title'|trans({ '%name%': content_type.name })|desc('%name%'),
        iconName: 'content-type'
    } %}
{% endblock %}

{% set language_code = content_type.mainLanguageCode %}

{% block content %}
    <section class="container mt-4 px-5">
        <header class="ez-table-header">
            <div class="ez-table-header__headline">Global properties</div>
        </header>

        <table class="table">
            <colgroup>
                <col width="30%"/>
                <col />
            </colgroup>

            <tbody>
            <tr>
                <th>{{ "content_type.name"|trans|desc("Name") }}</th>
                <td>{{ content_type.name }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.identifier"|trans|desc("Identifier") }}</th>
                <td>{{ content_type.identifier }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.description"|trans|desc("Description") }}</th>
                <td>{{ content_type.descriptions[language_code]|default('') }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.name_schema"|trans|desc("Content name schema") }}</th>
                <td>{{ content_type.nameSchema }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.url_alias_schema"|trans|desc("URL alias name pattern") }}</th>
                <td>{{ content_type.urlAliasSchema }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.container"|trans|desc("Container") }}</th>
                <td>{{ 'yes_no'|transchoice(content_type.isContainer)|desc("{0}No|{1}Yes") }}</td>
            </tr>
            <tr>
                <th>{{ "content_type.default_children_sorting"|trans|desc("Default property for sorting children") }}</th>
                <td>
                    {{ ("content_type.sort_field." ~ content_type.defaultSortField)|trans(domain="ezrepoforms_content_type") }} / {{ ("content_type.sort_order." ~ content_type.defaultSortOrder)|trans(domain="ezrepoforms_content_type") }}
                </td>
            </tr>
            <tr>
                <th>{{ "content_type.default_sort"|trans|desc("Default sort order") }}</th>
                <td>{{ content_type.defaultSortOrder }}</td>
            </tr>
            <tr>
                <th>
                    {{ "content_type.default_availability"|trans|desc('Default availability') }}
                    <p class="text-secondary small">
                        {{ "content_type.default_availability.help"|trans|desc("Default availability in primary language, if translation is absent") }}
                    </p>
                </th>
                <td>{{ 'content_type.default_availability.value'|transchoice(content_type.defaultAlwaysAvailable)|desc("{0} Not available|{1} Available") }}</td>
            </tr>
            </tbody>
        </table>
    </section>

<section class="container mt-4 px-5">
    <header class="ez-table-header mb-5">
        <div class="ez-table-header__headline">Content field definitions</div>
    </header>

    {% for group, field_definitions in field_definitions_by_group %}
        <header class="ez-table-header ez-table-header">
            <div class="ez-table-header__headline">{{ group|capitalize }}</div>
        </header>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Identifier</th>
                    <th>Type</th>
                </tr>
            </thead>

            <tbody>
            {% for field_definition in field_definitions %}
                <tr>
                    <th>{{ field_definition.name }}</th>
                    <td>{{ field_definition.identifier }}</td>
                    <td>{{ field_definition.fieldTypeIdentifier }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</section>

<br />

{% endblock %}
