<div class="modal fade ez-modal ez-modal--content-hide-confirmation" id="hide-content-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'content.hide.modal.title'|trans()|desc('Content hide conflict') }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="ibexa-icon ibexa-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="ez-modal-body__main">
                    {{ 'content.hide.modal.warning_content_used_by_other_content'|trans()|desc('This content is used by other Content item(s). To avoid errors, update or remove all related content listed in the Relations tab.') }}<br/>
                    {{ 'content.hide.modal.please_confirm_to_continue'|trans()|desc('To hide the Content item anyway, click Confirm.') }}
                </div>
            </div>
            <div class="modal-footer" data-backdrop="true">
                <button class="btn ibexa-btn ibexa-btn--primary ibexa-btn--confirm">{{ 'content.hide.modal.confirm'|trans()|desc('Confirm') }}</button>
                <button class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--cancel" data-bs-dismiss="modal">{{ 'content.hide.modal.cancel'|trans()|desc('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>
