{% trans_default_domain 'locationview' %}

<div
    class="modal fade ez-modal ez-modal--table-content ez-modal--bulk-action-failed ez-bulk-action-failed-modal"
    id="bulk-action-failed-modal"
    tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'content.view.subitems.bulk_action.limited_permissions'|trans|desc('Limited user permissions') }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="ibexa-icon ibexa-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                {% set table_row_template %}
                    {{ include('@ezdesign/ui/component/table/table_body_row.html.twig', {
                        body_row_cols: [
                            { content: '{{ content_name }}' },
                            { content: '{{ content_type_name }}' },
                        ],
                    }) }}
                {% endset %}

                {% embed '@ezdesign/ui/component/table/table.html.twig' with {
                    headline: ' ',
                    head_cols: [
                        { content: 'bulk_action.failed.modal.content_name'|trans|desc('Name') },
                        { content: 'bulk_action.failed.modal.content_type_name'|trans|desc('Content Type') },
                    ],
                    class: 'ez-bulk-action-failed-modal__table',
                    table_body_class: 'ez-bulk-action-failed-modal__table-body',
                    attr: {
                        'data-row-template': table_row_template,
                    },
                } %}
                    {% block tbody %}{% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
