{% form_theme form '@ezdesign/ui/form_fields.html.twig' %}

<div
    class="modal fade ez-modal ez-modal--no-header ez-modal--send-to-trash ez-modal--trash-location"
    id="trash-location-modal"
    tabindex="-1"
    role="dialog"
    data-content-name="{{ content_name|default('') }}"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" title="{{ 'trash.modal.close'|trans|desc('Close') }}">
                <svg class="ibexa-icon ibexa-icon--small-medium" aria-hidden="true">
                    <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                </svg>
            </button>

            {{ form_start(form, {'action': path('ezplatform.location.trash')}) }}
            <div class="modal-body">
                {{ 'trash.modal.send_to_trash.message'|trans|desc('Are you sure you want to send this Content item to Trash?') }}

                {% for option in form.trash_options %}
                    <div class="ez-modal__trash-option">
                        <p class="ez-modal__option-label">
                            {{ form_label(option) }}
                        </p>
                        {% if option.vars.help_multiline ?? false %}
                            {% for help in option.vars.help_multiline %}
                                <p class="ez-modal__option-description">
                                    {{ help }}
                                </p>
                            {% endfor %}
                        {% endif %}
                        {% for input in option %}
                            {{ form_widget(input) }}
                        {% endfor %}
                    {# Do not render label if no options input #}
                        {% do option.setRendered() %}
                    </div>
                {% endfor %}
                {% if form.trash_options is not empty %}
                    <p>
                        {{ form_widget(form.confirm) }}
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.trash,
                    {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary disabled ibexa-btn--confirm-send-to-trash', 'disabled': true}})
                }}
                <button type="button" class="btn ibexa-btn ibexa-btn--secondary" data-bs-dismiss="modal">
                    {{ 'trash.form.cancel'|trans|desc('Cancel') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-modal-location-trash-js', null, 'ezplatform') }}
{% endblock %}
