{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'trash' %}

{% block page_title %}{% endblock %}

{% form_theme form_trash_item_restore '@ezdesign/ui/form_fields.html.twig' %}
{% form_theme form_trash_item_delete '@ezdesign/ui/form_fields.html.twig' %}
{% form_theme form_search '@ezdesign/ui/form_fields.html.twig' %}

{% block body_class %}ez-trash-list-view ez-has-two-sidebars ez-has-full-width-footer{% endblock %}

{% block content %}
    {%  set trashSearchParams = app.request.get('trash_search') %}

    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="container ez-content-container">
            <div class="ez-header mt-5">
                <div class="container">
                    {% include '@ezdesign/ui/page_title.html.twig' with {
                        title: 'trash.headline'|trans|desc('Trash')
                    } %}
                </div>
            </div>

            <section class="container ez-container">
                {{ form_start(form_search, { attr: { class: 'ez-trash-search-form' } }) }}
                    <div class="ez-trash-search-form__inputs-group">
                        {% set creator = form_search.vars.data ? form_search.vars.data.creator : '' %}

                        {{ form_widget(form_search.content_type, {
                            'attr': {'class': 'ez-trash-search-form__item ez-trash-search-form__item--auto-send'}
                        }) }}
                        {{ form_widget(form_search.section, {
                            'attr': {'class': 'ez-trash-search-form__item ez-trash-search-form__item--auto-send'}
                        }) }}

                        <div class='ez-trash-search-form__item ez-trash-search-form__item--trashed'>
                            {{ form_widget(form_search.trashed, {
                                'attr': {'data-target-selector': '.ez-trash-search-form__range-wrapper--select-trashed-range'}
                            }) }}
                        </div>
                        <div class="ez-trash-search-form__item ez-trash-search-form__item--creator">
                            {% set creator = form_search.vars.data ? form_search.vars.data.creator : '' %}
                            {% set creatorExists =  creator is not empty ? true : false %}
                            <div class="ez-trash-search-form__input-wrapper">
                                <input
                                    type="text"
                                    class="form-control ez-trash-search-form__input"
                                    data-content-type-identifiers="{{ user_content_type_identifier|join(',') }}"
                                    value="{{ creatorExists ? ez_content_name(creator) }}"
                                    placeholder="{{ 'search.creator_input.placeholder'|trans|desc('Type creator\'s name') }}"
                                    {{ creatorExists ? 'disabled'  }}
                                >
                                <button class="btn btn-icon ez-btn--reset-creator">
                                    <svg class="ez-icon ez-icon--secondary ez-icon--medium ez-icon--reset">
                                        <use xlink:href="{{ ez_icon_path('circle-close') }}"></use>
                                    </svg>
                                </button>
                            </div>
                            <ul class="ez-trash-search-form__user-list ez-trash-search-form__user-list--hidden"></ul>
                        </div>

                        {{ form_widget(form_search.creator, {'attr': {'hidden': 'hidden'}}) }}
                        {{ form_widget(form_search.sort, {'attr': {'hidden': 'hidden'}}) }}
                        {{ form_widget(form_search.trashed_interval, {'attr': {'hidden': 'hidden'}}) }}
                    </div>
                {{ form_end(form_search) }}

                {{ form_start(form_trash_item_restore, {
                    'action': path('ezplatform.trash.restore', { 'trash_search': trashSearchParams })
                }) }}

                {% if form_search.vars.data.sort is defined %}
                    {% set current_field = form_search.vars.data.sort['field'] %}
                    {% set current_direction = form_search.vars.data.sort['direction'] %}
                {% else %}
                    {% set current_field = '' %}
                    {% set current_direction = '' %}
                {% endif %}

                {% set sort_directions = {
                    'name' : current_field == 'name' and current_direction == 0 ? 'DESC' : 'ASC',
                    'content_type' : current_field == 'content_type' and current_direction == 0 ? 'DESC' : 'ASC',
                    'creator' : current_field == 'creator' and current_direction == 0 ? 'DESC' : 'ASC',
                    'section' : current_field == 'section' and current_direction == 0 ? 'DESC' : 'ASC',
                    'trashed' : current_field == 'trashed' and current_direction == 0 ? 'DESC' : 'ASC',
                } %}

                <div class="ez-table-header mt-3">
                    <div class="ez-table-header__headline">{{ 'trash.table.header'|trans|desc('Trash') }}</div>
                    <div class="ez-table-header__tools">
                        {% if can_restore and form_trash_item_restore.trash_items is not empty %}
                            {% set restore_under_new_parent_button_attr = form_trash_item_restore.location.select_content.vars.attr|merge({
                                'attr': {
                                    'data-udw-config': ez_udw_config('single_container', {}),
                                    'class': (form_trash_item_restore.location.select_content.vars.attr.class|default('') ~ ' btn btn-icon')|trim,
                                    'disabled': true
                                }
                            }) %}
                            {{ form_widget(form_trash_item_restore.location.select_content, restore_under_new_parent_button_attr) }}
                            {{ form_widget(form_trash_item_restore.location.location) }}
                            {% do form_trash_item_restore.location.setRendered %}
                            {{ form_widget(form_trash_item_restore.restore, {'attr': {'class': 'btn btn-icon', 'disabled': true}}) }}
                        {% else %}
                            {% do form_trash_item_restore.location.setRendered %}
                            {% do form_trash_item_restore.restore.setRendered %}
                        {% endif %}
                        {% if can_delete %}
                            {% set modal_data_target = 'delete-trash-items-modal' %}
                            <button
                                id="delete-trash-items"
                                type="button"
                                class="btn btn-icon"
                                disabled
                                data-toggle="modal"
                                data-target="#{{ modal_data_target }}"
                                title="{{ 'trash.delete'|trans|desc('Delete') }}">
                                <svg class="ez-icon ez-icon-trash">
                                    <use xlink:href="{{ ez_icon_path('trash') }}"></use>
                                </svg>
                            </button>
                            {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                                'id': modal_data_target,
                                'message': 'trash.modal.message'|trans|desc('Do you want to delete the selected item(s) from Trash?'),
                                'data_click': '#trash_item_delete_delete',
                            }%}
                        {% endif %}
                    </div>
                </div>
                <div class="ez-scrollable-table-wrapper">
                    <table class="ez-table table table-hover">
                        <thead>
                        <tr>
                            <th class="ez-table__header-cell"></th>
                            <th class="ez-table__header-cell ez-table__header-cell--has-icon"></th>
                            <th class="ez-table__header-cell ez-table__header-cell--after-icon">
                                <span
                                    class="ez-table__sort-column ez-table__sort-column--name"
                                    data-field="name"
                                    data-direction="{{ sort_directions.name }}"
                                >{{ 'trash.name'|trans|desc('Name') }}</span>
                            </th>
                            <th class="ez-table__header-cell">
                                <span
                                    class="ez-table__sort-column ez-table__sort-column--content_type"
                                    data-field="content_type"
                                    data-direction="{{ sort_directions.content_type }}"
                                >{{ 'trash.content_type'|trans|desc('Content type') }}</span>
                            </th>
                            <th class="ez-table__header-cell">
                                <span
                                    class="ez-table__sort-column ez-table__sort-column--creator"
                                    data-field="creator"
                                    data-direction="{{ sort_directions.creator }}"
                                >{{ 'trash.creator'|trans|desc('Creator') }}</span>
                            </th>
                            <th class="ez-table__header-cell">
                                <span
                                    class="ez-table__sort-column ez-table__sort-column--section"
                                    data-field="section"
                                    data-direction="{{ sort_directions.section }}"
                                >{{ 'trash.section'|trans|desc('Section') }}</span>
                            </th>
                            <th class="ez-table__header-cell">
                                {{ 'trash.original_location'|trans|desc('Original Location') }}
                            </th>
                            <th class="ez-table__header-cell">
                                <span
                                    class="ez-table__sort-column ez-table__sort-column--trashed"
                                    data-field="trashed"
                                    data-direction="{{ sort_directions.trashed }}"
                                >{{ 'trash.date'|trans|desc('Sent to trash date') }}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if trash_items is empty %}
                            <tr>
                                <td class="ez-table__cell ez-table__cell--no-content" colspan="4">
                                    <span class="mb-0 py-1 pl-0">
                                        {{ 'trash.empty'|trans|desc('Trash is empty. Content you send to Trash will show up here.') }}
                                    </span>
                                </td>
                            </tr>
                        {% else %}
                            {% for key, form in form_trash_item_restore.trash_items %}
                                {% set trash_item = trash_items[key] %}
                                {% set is_parent_in_trash = trash_item.parentInTrash %}
                                {% set trash_item_name = ez_content_name(trash_item.location.contentInfo) %}
                                <tr>
                                    <td class="ez-table__cell">
                                        {{ form_widget(form, {attr: {
                                            'data-is-parent-in-trash': is_parent_in_trash ? '1': '0'
                                        }}) }}
                                    </td>
                                    <td class="ez-table__cell ez-table__cell--has-icon">
                                        <svg class="ez-icon ez-icon--small">
                                            <use xlink:href="{{ ez_content_type_icon(trash_item.contentType.identifier) }}"></use>
                                        </svg>
                                    </td>
                                    <td class="ez-table__cell ez-table__cell--name ez-table__cell--after-icon">
                                        <span title="{{ trash_item_name }}">
                                            {{ trash_item_name }}
                                        </span>
                                    </td>
                                    <td class="ez-table__cell">{{ trash_item.contentType.name }}</td>
                                    <td class="ez-table__cell">
                                        {{ trash_item.creator is not empty
                                            ? ez_content_name(trash_item.creator.content) :
                                            'trash.item.deleted_user'|trans|desc('Deleted user')
                                        }}
                                    </td>
                                    <td class="ez-table__cell">{{ trash_item.location.contentInfo.section.name }}</td>
                                    <td class="ez-table__cell">
                                        {% if not is_parent_in_trash %}
                                            {% include '@ezdesign/ui/location_path.html.twig' with {'locations': trash_item.ancestors, 'link_last_element': true} %}
                                        {% else %}
                                            <em>{{ 'trash.item.ancesor_in_trash'|trans|desc('Ancestor is in the Trash') }}</em>
                                        {% endif %}
                                    </td>
                                    <td class="ez-table__cell">{{ trash_item.location.trashed|ez_full_datetime }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {{ form_widget(form_trash_item_restore._token) }}
                {{ form_end(form_trash_item_restore, { 'render_rest': false }) }}

                {{ form_start(form_trash_item_delete, {
                    'action': path('ezplatform.trash.delete', { 'trash_search': trashSearchParams })
                }) }}
                {% for key, form in form_trash_item_delete.trash_items %}
                    {% set trash_item = trash_items[key] %}
                    {{ form_widget(form) }}
                {% endfor %}
                {{ form_widget(form_trash_item_delete._token) }}
                {{ form_widget(form_trash_item_delete.delete) }}
                {{ form_end(form_trash_item_delete, { 'render_rest': false }) }}

                {% if pager.haveToPaginate %}
                    {% include '@ezdesign/ui/pagination.html.twig' with {
                        'pager': pager,
                        'paginaton_params' : {
                            'pageParameter': '[trash_search][page]'
                        }
                    } %}
                {% endif %}
                {% include '@ezdesign/trash/modal/empty_trash_confirmation.html.twig' with {'form': form_trash_empty, 'trash_items_count': pager.nbResults} %}
            </section>
        </div>
        {% if can_cleantrash and form_trash_item_restore.trash_items|length > 0 %}
            <div class="ez-context-menu">
                <div class="ez-sticky-container">
                    {% set sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.trash.sidebar_right', []) %}
                    {{ knp_menu_render(sidebar_right, {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block react_modules %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-tree-js', null, 'ezplatform') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-trash-list-js', null, 'ezplatform') }}
{% endblock %}

{% block title %}{{ 'trash'|trans|desc('Trash') }}{% endblock %}
