{% trans_default_domain 'dashboard' %}

{% if data|length %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'dashboard.table.name'|trans|desc('Name') }}</th>
            <th>{{ 'dashboard.table.content_type'|trans|desc('Content Type') }}</th>
            <th>{{ 'dashboard.table.contributor'|trans|desc('Contributor') }}</th>
            <th>{{ 'dashboard.table.last_saved'|trans|desc('Last Saved') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><a href="{{ url('_ez_content_view', { 'contentId': row.contentId }) }}">{{ row.name }}</a></td>
                <td>{{ row.type }}</td>
                <td>
                    {{ ez_render_field(row.contributor, 'first_name') }}
                    {{ ez_render_field(row.contributor, 'last_name') }}
                </td>
                <td>{{ row.modified|date('M d, Y h:iA') }}</td>
                <td class="text-center">
                    <button class="btn btn-icon ez-btn--content-edit"
                            title="{{ 'dashboard.table.all.media.edit'|trans|desc('Edit Media') }}"
                            data-content-id="{{ row.contentId }}"
                            data-version-no="{{ row.version }}"
                            data-language-code="{{ row.language }}">
                        <svg class="ez-icon ez-icon-edit">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class"ez-table-no-content mb-0 py-0">{{ 'dashboard.tab.all_media.empty'|trans|desc('No content items. Media items you create will appear here') }}</p>
{% endif %}
