{% trans_default_domain 'dashboard' %}

{% if data|length %}
    <table class="ez-table table">
        <thead>
        <tr>
            <th>{{ 'dashboard.table.name'|trans|desc('Name') }}</th>
            <th>{{ 'dashboard.table.content_type'|trans|desc('Content Type') }}</th>
            <th>{{ 'dashboard.table.modified_language'|trans|desc('Modified Language') }}</th>
            <th>{{ 'dashboard.table.version'|trans|desc('Version') }}</th>
            <th>{{ 'dashboard.table.last_saved'|trans|desc('Last Saved') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% set edit_url = content_is_user is defined and content_is_user ?
                path('ez_user_update', {
                'contentId': row.contentId,
                'versionNo': row.version,
                'language': row.language
            }) : path('ez_content_draft_edit', {
                'contentId': row.contentId,
                'versionNo': row.version,
                'language': row.language
            })
            %}
            <tr>
                <td class="ez-table__cell">{{ row.name }}</td>
                <td class="ez-table__cell">{{ row.type }}</td>
                <td class="ez-table__cell">{{ admin_ui_config.languages.mappings[row.language].name }}</td>
                <td class="ez-table__cell">{{ row.version }}</td>
                <td class="ez-table__cell">{{ row.modified|localizeddate('medium', 'short') }}</td>
                <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                    <button class="btn btn-icon mx-2 ez-btn--content-draft-edit"
                            title="{{ 'dashboard.table.draft.edit'|trans|desc('Edit Draft') }}"
                            data-content-draft-edit-url="{{ edit_url }}"
                            data-version-has-conflict-url="{{ path('ezplatform.version.has_no_conflict', {
                                'contentId': row.contentId,
                                'versionNo': row.version,
                                'languageCode': row.language
                            }) }}">
                        <svg class="ez-icon ez-icon-edit">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '@ezdesign/content/modal_version_conflict.html.twig' %}
{% else %}
    <p class="ez-table-no-content mb-0 py-0">{{ 'dashboard.tab.my_drafts.empty'|trans|desc('No content items. Draft items you create will appear here') }}</p>
{% endif %}
