{% trans_default_domain 'dashboard' %}

{% if data|length %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'dashboard.table.name'|trans|desc('Name') }}</th>
            <th>{{ 'dashboard.table.content_type'|trans|desc('Content Type') }}</th>
            <th>{{ 'dashboard.table.modified_language'|trans|desc('Modified Language') }}</th>
            <th>{{ 'dashboard.table.version'|trans|desc('Version') }}</th>
            <th>{{ 'dashboard.table.last_saved'|trans|desc('Last Saved') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.type }}</td>
                <td>{{ admin_ui_config.languages.mappings[row.language].name }}</td>
                <td>{{ row.version }}</td>
                <td>{{ row.modified|localizeddate('medium', 'short') }}</td>
                <td class="text-center">
                    <button class="btn btn-icon ez-btn--content-draft-edit"
                            title="{{ 'dashboard.table.draft.edit'|trans|desc('Edit Draft') }}"
                            data-content-draft-edit-url="{{ path('ez_content_draft_edit', {
                                'contentId': row.contentId,
                                'versionNo': row.version,
                                'language': row.language
                            }) }}"
                            data-version-has-conflict-url="{{ path('ezplatform.version.has_no_conflict', {
                                'contentId': row.contentId,
                                'versionNo': row.version,
                                'languageCode': row.language
                            }) }}">
                        <svg class="ez-icon ez-icon-edit">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '@ezdesign/content/modal_version_conflict.html.twig' %}
{% else %}
    <p class="ez-table-no-content mb-0 py-0">{{ 'dashboard.tab.my_drafts.empty'|trans|desc('No content items. Draft items you create will appear here') }}</p>
{% endif %}
