{% extends '@ezdesign/admin/base.html.twig' %}

{% form_theme form_change_user_password '@ezdesign/account/change_password/form_fields.html.twig'  %}

{% trans_default_domain 'user_change_password' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/part/breadcrumbs.html.twig' with { 'items': [
    { value: 'breadcrumb.user_preferences'|trans(domain='messages')|desc('User Preferences') },
    { value: 'user_change_password.change_password'|trans|desc('Change Password') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@ezdesign/part/page_title.html.twig' with {
    title: 'user_change_password.title'|trans|desc('Change my password'),
    iconName: 'edit'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form_change_user_password, {'attr': {'class': 'ez-form-validate'}}) }}

    <section class="container mt-4">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form_change_user_password.oldPassword, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form_change_user_password.newPassword, {'label_attr': {'class': 'ez-label'}}) }}
            </div>
        </div>
    </section>

    {{ form_widget(form_change_user_password.change, {'attr': {'hidden': 'hidden'}}) }}

    {{ form_end(form_change_user_password) }}
{% endblock %}

{% block right_sidebar %}
    {% set user_password_change_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.user_password_change.sidebar_right') %}
    {{ knp_menu_render(user_password_change_sidebar_right, {'template': '@ezdesign/part/ui/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-change-user-password-js', null, 'ezplatform') }}
{% endblock %}
