{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% block bodyClass %}ez-dashboard{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row ez-dashboard-row">
        {% block left_sidebar %}{% endblock left_sidebar %}
        <div class="col-sm-12">
            <div class="container">
                <div class="card border-light my-4">
                    <div class="card-body">
                        <h4 class="mb-3">{{ 'me'|trans|desc('Me') }}</h4>
                        {{ ez_platform_tabs('dashboard-my', []) }}
                    </div>
                </div>

                <div class="card border-light mb-4">
                    <div class="card-body">
                        <h4 class="mb-3">{{ 'everyone'|trans|desc('Everyone') }}</h4>
                        {{ ez_platform_tabs('dashboard-everyone', []) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="react-udw"></div>
{% endblock %}

{% block javascripts %}
    {%  javascripts
        'bundles/ezplatformadminui/js/scripts/udw/browse.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
