{% extends '@ezdesign/layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% block body_class %}ez-dashboard{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row ez-dashboard-row">
        {% block left_sidebar %}{% endblock left_sidebar %}
        <div class="ez-content-container">
            <div class="container-fluid ez-header">
                <div class="container ez-dashboard__header">
                    <h1 class="py-3">{{ 'my.dashboard'|trans|desc('My dashboard') }}</h1>
                    <div class="ez-dashboard__create">
                        <button
                            class="btn btn-primary ez-btn--cotf-create"
                            data-udw-config="{{ ez_udw_config('create', {'type': 'content_create'}) }}"
                            {% if not can_create_content %}disabled{% endif %}>
                            <svg class="ez-icon ez-icon--medium ez-icon--light ez-icon-create">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                            </svg>
                            <span>{{ 'dashboard.create'|trans|desc('Create') }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                {{ ezplatform_admin_ui_component_group('dashboard-blocks') }}
            </div>
        </div>
        {{ form_start(form_edit, {
            'action': path('ezplatform.content.edit'),
            'attr': { 'class': 'ez-edit-content-form'}
        }) }}
        {{ form_widget(form_edit.language, {'attr': {'hidden': 'hidden', 'class': 'language-input'}}) }}
        {{ form_end(form_edit) }}
    </div>
    {% include '@ezdesign/content/modal_version_conflict.html.twig' %}
{% endblock %}

{% block javascripts %}
    {%  javascripts
        'bundles/ezplatformadminui/js/scripts/udw/browse.js'
        'bundles/ezplatformadminui/js/scripts/cotf/create.js'
        'bundles/ezplatformadminui/js/scripts/button.content.edit.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.version.edit.conflict.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
