{% trans_default_domain 'locationview' %}

<div class="ibexa-extra-actions ibexa-extra-actions--create ibexa-extra-actions--hidden" data-actions="create">
    <div class="ibexa-extra-actions__header">
        <h2>{{ 'content.create.create_content'|trans|desc('Create content') }}</h2>
        <button class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--close">
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
            </svg>
        </button>
        <div class="ibexa-extra-actions__header-subtitle">
            {% if content is defined %}
                {{ 'content.create.editing_details'|trans({ '%content_name%': ez_content_name(content) })|desc('under %content_name%') }}
            {% endif %}
        </div>
    </div>
    <div class="ibexa-extra-actions__content">
        {{ form_start(form, { 'action': path('ezplatform.content.create'), 'attr': { 'autocomplete': 'off' } }) }}
            <div class="ibexa-extra-actions__section-header">{{ 'content.create.select_language'|trans|desc('Select a language:') }}</div>
            <div class="ibexa-extra-actions__section-content">
                {% if form.language.vars.choices|length == 1 %}
                    {{ form_widget(form.language, {'attr': {'class': 'ez-content-create form-control', 'readonly': true}}) }}
                {% else %}
                    {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
                {% endif %}
            </div>
            <div class="ibexa-extra-actions__section-header">{{ 'content.create.select_content_type'|trans|desc('Select a Content Type:') }}</div>
            <div class="ibexa-extra-actions__section-content ibexa-extra-actions__section-content--content-type">
                <div class="ez-instant-filter">
                    <div class="ez-instant-filter__input-wrapper">
                        <input
                            type="text"
                            class="ez-instant-filter__input ibexa-input ibexa-input--text form-control"
                            placeholder="{{ ('content.create.input.placeholder'|trans|desc('Type to refine')) }}"
                            value=""
                        />
                    </div>
                    <div class="ez-instant-filter__desc">
                        {{ ('content.create.filters.desc'|trans|desc('Or choose from list')) }}
                    </div>
                    <div class="ez-instant-filter__items">
                        {{ form_widget(form.content_type) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form.create, {'attr': {'hidden': 'hidden'}}) }}
        {{ form_end(form) }}
    </div>
</div>
