{% extends '@ezdesign/content/edit_base.html.twig' %}

{% trans_default_domain 'user_edit' %}

{% block header %}
    {% set user_content_edit_menu = knp_menu_get('ezplatform_admin_ui.menu.user_edit.sidebar_right', [], {
        'user': user,
        'content_type': content_type,
    }) %}

    {% include '@ezdesign/ui/edit_header.html.twig' with {
        action_name: 'editing'|trans|desc('Editing'),
        content_type_name: content_type.name,
        icon_name: content_type.name,
        show_autosave_status: true,
        title: content_type.name,
        subtitle: 'editing_details'|trans({ '%location_name%': parent_location.contentInfo.name })|desc('under %location_name%'),
        context_actions: knp_menu_render(user_content_edit_menu, {'template': '@ezdesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block details %}{% endblock %}

{% block form_fields %}
    <section class="container">
        <div class="card ibexa-card ibexa-card--light">
            <div class="card-body">
                {{ parent() }}
                {{ form_widget(form.update, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block form_before %}
    {{ ez_render_component_group('content-edit-form-before', {
        'content': user,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ez_render_component_group('content-edit-form-after', {
        'content': user,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}
