{% extends '@ezdesign/content/content_edit/content_edit_base.html.twig' %}

{% trans_default_domain 'content_create' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}" />
{% endblock %}

{% block details %}
    <h2 class="ez-content-item-status">{{ 'creating_in_language'|trans({'%contentTypeName%': contentType.name, '%languageName%': language.name})|desc('Creating - %contentTypeName% in %languageName%') }}</h2>
    <h1>
        <svg class="ez-icon ez-icon-{{ contentType.identifier }}">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ contentType.identifier }}"></use>
        </svg>
        {{ 'new_content_item'|trans({'%contentType%': contentType.name})|desc('New %contentType%') }}
    </h1>

    <div class="small">
        {{ contentType.name }} / Parent Location ID: {{ parentLocation.id }}
    </div>
    <div class="ez-content-item__errors-wrapper" hidden>
        {{ 'errors.in.the.form'|trans({},'content_edit')|desc('Looks like something went wrong. Please check for required fields or errors and correct them') }}
    </div>
    {# @todo remove if statement once getDescription() bug is resolved in kernel #}
    {% if contentType.descriptions is not empty %}
        <div class="small text-muted">{{ contentType.description }}</div>
    {% endif %}
{% endblock %}

{% block form_fields %}
    {{ parent() }}
    {% if form.publish is defined %}{{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}{% endif %}
    {% if form.saveDraft is defined %}{{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}{% endif %}
    {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
    {% if form.create is defined %}{{ form_widget(form.create, {'attr': {'hidden': 'hidden'}}) }}{% endif %}

{% endblock %}

{% block right_sidebar_wrapper %}{% endblock %}

{% block close_button %}{% endblock %}

{% block form_before %}
    {{ ezplatform_admin_ui_component_group('content-create-form-before', {
        'parentLocation': parentLocation,
        'contentType': contentType,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ezplatform_admin_ui_component_group('content-create-form-after', {
        'parentLocation': parentLocation,
        'contentType': contentType,
        'language': language
    }) }}
{% endblock %}
