{% trans_default_domain 'content_type' %}

{% form_theme form_content_types_delete '@EzPlatformAdminUi/form_fields.html.twig'  %}

<section class="container mt-4 px-5">
    <div class="ez-table-header">
        <div class="ez-table-header__headline">{{ 'content_type.view.list.title'|trans({ '%identifier%': content_type_group.identifier })|desc('Content Types in %identifier%') }}</div>
        <div>
            <a href="{{ path('ezplatform.content_type.add', {contentTypeGroupId: content_type_group.id}) }}"
               title="{{ 'content_type.view.list.action.add'|trans|desc('Create a Content Type') }}"
               class="btn btn-primary">
                <svg class="ez-icon ez-icon-create">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                </svg>
            </a>
            {% set modal_data_target = 'delete-content-types-modal' %}
            <button id="delete-content-types" type="button" class="btn btn-danger" disabled data-toggle="modal"
                    data-target="#{{ modal_data_target }}" title="{{ 'content_type.view.list.action.delete'|trans|desc('Delete Content Type') }}">
                <svg class="ez-icon ez-icon-trash">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                </svg>
            </button>
            {% include '@EzPlatformAdminUi/admin/bulk_delete_confirmation_modal.html.twig' with {
                'id': modal_data_target,
                'message': 'content_type.modal.message'|trans|desc('Do you want to delete Content Type?'),
                'data_click': '#content_types_delete_delete',
            }%}
        </div>
    </div>

    {{ form_start(form_content_types_delete, {
        'action': path('ezplatform.content_type.bulk_delete', {"contentTypeGroupId": group.id} ),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-content-types' }
    }) }}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'content_type.view.list.column.name'|trans|desc('Name') }}</th>
                <th>{{ 'content_type.view.list.column.identifier'|trans|desc('Identifier') }}</th>
                <th>{{ 'content_type.view.list.column.id'|trans|desc('ID') }}</th>
                <th>{{ 'content_type.view.list.column.modification_date'|trans|desc('Modification date') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for content_type in pager.currentPageResults %}
            <tr>
                <td class="ez-checkbox-cell">
                    {{ form_widget(form_content_types_delete.content_types[content_type.id], {"disabled": not deletable[content_type.id]}) }}
                </td>
                <td>
                {% set view_url = path('ezplatform.content_type.view', {
                        'contentTypeGroupId': content_type_group.id,
                        'contentTypeId': content_type.id
                    }) %}

                    <a href="{{ view_url }}">{{ content_type.name }}</a>
                </td>
                <td>{{ content_type.identifier }}</td>
                <td>{{ content_type.id }}</td>
                <td>{{ content_type.modificationDate | date }}</td>
                <td class="text-right">
                    {% set edit_url = path('ezplatform.content_type.edit', {
                        'contentTypeGroupId': content_type_group.id,
                        'contentTypeId': content_type.id
                    }) %}

                    <a title="{{ 'content_type.view.list.action.edit'|trans|desc('Edit') }}"
                       href="{{ edit_url }}"
                       class="btn btn-icon mx-3">
                        <svg class="ez-icon ez-icon-edit">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form_content_types_delete) }}

    {% if pager.haveToPaginate %}
        <div class="row justify-content-center align-items-center mb-2">
                <span>
                    {{ 'pagination.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
        </div>
        <div class="row justify-content-center align-items-center">
            {{ pagerfanta(pager, 'ez', {
                'routeName': route_name,
                'routeParams': {'contentTypeGroupId': group.id}
            }) }}
        </div>
    {% endif %}
</section>

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
