{% extends '@ezdesign/user/role_assignment/base.html.twig' %}

{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { url: path('ezplatform.role.view', {roleId: role.id}), value: 'role.breadcrumb.view.identifier'|trans({ '%identifier%': role.identifier })|desc('Role "%identifier%"') },
        { value: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups') }
    ]} %}
{% endblock %}

{% block context_menu_admin %}
    {% set role_assignment_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.role_assignment_create.sidebar_right', [], {'role': role}) %}
    {{ knp_menu_render(role_assignment_create_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}

{% block header_admin %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups'),
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="ibexa-card__header ibexa-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.users_and_groups.title'|trans|desc('Users and Groups') }}
                </div>
                <div class="card-body ibexa-card__body">
                    <div class="ibexa-assign-users">
                        {{ form_label(form.users) }}
                        {{ form_errors(form.users) }}

                        {% set items = form.users.vars.data|map((user) => {
                            id: user.content.versionInfo.contentInfo.id,
                            name: ez_content_name(user)
                        }) %}
                        {% set items_map = form.users.vars.data|reduce((output, user) => output|merge({
                            "{{user.content.versionInfo.contentInfo.id}}": user.id
                        }), {}) %}
                        {% set users_udw_title = "role_assignment.view.add.panel.users_and_groups.users.udw_title"
                            |trans({}, "role")
                            |desc("Select Users to assign to the Role") %}

                        {{ include('@ezdesign/ui/component/tag_view_select.html.twig', {
                            form: form.users,
                            items,
                            attr: {
                                'id': form.users.vars.id ~ '__btn',
                                'data-universaldiscovery-title': users_udw_title,
                                'data-input-selector': '#' ~ form.users.vars.id,
                                'data-selected-content-list-selector': '#' ~ form.users.vars.id ~ '-selected-content',
                                'data-udw-config': ez_udw_config('multiple_user', {}),
                                'data-items-map': items_map|json_encode(),
                            },
                            is_single_select: false,
                            can_be_empty: true,
                            title: 'role_assignment.view.select.users'|trans|desc('Select Users'),
                            type: 'role_assignment.view.type.users'|trans|desc('Users'),
                        }) }}
                    </div>

                    <div class="ibexa-assign-groups">
                        {{ form_label(form.groups) }}
                        {{ form_errors(form.groups) }}

                        {% set items = form.groups.vars.data|map((group) => {
                            id: group.content.versionInfo.contentInfo.id,
                            name: ez_content_name(group.content)
                        }) %}
                        {% set items_map = form.groups.vars.data|reduce((output, group) => output|merge({
                            "{{group.content.versionInfo.contentInfo.i}}": group.id
                        }), {}) %}
                        {% set groups_udw_title = "role_assignment.view.add.panel.users_and_groups.groups.udw_title"
                            |trans({}, "role")
                            |desc("Select User Groups to assign to the Role") %}

                        {{ include('@ezdesign/ui/component/tag_view_select.html.twig', {
                            form: form.groups,
                            items,
                            attr: {
                                'id': form.groups.vars.id ~ '__btn',
                                'data-universaldiscovery-title': groups_udw_title,
                                'data-input-selector': '#' ~ form.groups.vars.id,
                                'data-selected-content-list-selector': '#' ~ form.groups.vars.id ~ '-selected-content',
                                'data-udw-config': ez_udw_config('multiple_user_group', {}),
                                'data-items-map': items_map|json_encode(),
                            },
                            is_single_select: false,
                            can_be_empty: true,
                            title: 'role_assignment.view.select.groups'|trans|desc('Select User Groups'),
                            type: 'role_assignment.view.type.groups'|trans|desc('User Groups'),
                        }) }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="ibexa-card__header ibexa-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.limitations.title'|trans|desc('Limitations') }}
                </div>
                <div class="card-body ibexa-card__body ez-limitations">
                    {{ form_widget(form.limitation_type.none, {'label': 'limitation_type.none'|trans|desc('No Limitations'), 'attr': {'class': 'ez-limitations__radio'}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                    <div class="ez-limitations__item">
                        {% if not form.limitation_type.section.vars.checked %}
                            {% set sections_attr = {'attr': {'disabled': 'disabled'}} %}
                        {% else %}
                            {% set sections_attr = {} %}
                        {% endif %}
                        {{ form_widget(form.limitation_type.section, {'label': 'limitation_type.section'|trans|desc('Sections'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '#' ~ form.sections.vars.id}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                        {{ form_widget(form.sections, sections_attr) }}
                    </div>
                    <div class="ez-limitations__item">
                        {{ form_widget(form.limitation_type.location, {'label': 'limitation_type.subtree'|trans|desc('Subtree'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '.ez-limitations__item-subtree .ibexa-tag-view-select'}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                        <div class="ez-limitations__item-subtree">
                            {% set items = form.locations.vars.data|map((location) => {
                                id: location.id,
                                name: ez_content_name(location.content)
                            }) %}

                            {{ include('@ezdesign/ui/component/tag_view_select.html.twig', {
                                form: form.locations,
                                items,
                                attr: {
                                    'id': 'role_assignment_create_locations_select_content',
                                    'class': 'ez-limitations__btn-select-subtree',
                                    'disabled': not form.limitation_type.location.vars.checked,
                                    'data-input-selector': '#' ~ form.locations.vars.id,
                                    'data-udw-config': ez_udw_config('single', {})
                                },
                                is_single_select: false,
                                can_be_empty: true,
                                title: 'locations.select_subtree'|trans|desc('Select subtree')
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-role-assignment-create-js', null, 'ezplatform') }}
{% endblock %}
