{% form_theme form_role_assignments_delete '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

<section class="container ez-container">
    {% set body_rows = [] %}
    {% for role_assignment in pager.currentPageResults %}
        {% set body_row_cols = [] %}

        {% set col_raw %}
            {% if can_assign %}
                {{ form_widget(form_role_assignments_delete.role_assignments[role_assignment.id]) }}
            {% else %}
                {% do form_role_assignments_delete.role_assignments.setRendered %}
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_checkbox: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_row_cols = body_row_cols|merge([
            { content: role_assignment.usergroup is defined ? ez_content_name(role_assignment.usergroup) : ez_content_name(role_assignment.user) },
        ]) %}

        {% set col_raw %}
            {%- set limitation = role_assignment.rolelimitation -%}
            {%- if limitation -%}
                <ul class="list-unstyled">
                    <li>
                        <span class="font-weight-bold" title="{{ 'policy.limitation.identifier_tooltip' | trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}">
                            {{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezplatform_content_forms_policies')|desc('%identifier%') }}:
                        </span>
                        {{ ez_render_limitation_value(limitation) }}
                    </li>
                </ul>
            {%- else -%}
                {{- 'policy.limitation.none'|trans|desc('None') -}}
            {%- endif -%}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% embed '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'role_assignment.view.list.header'|trans|desc('Users and Groups'),
        head_cols: [
            { has_checkbox: true },
            { content: 'role_assignment.view.list.panel.assignments.column.user_group'|trans|desc('User/Group') },
            { content: 'role_assignment.view.list.panel.assignments.column.limitation'|trans|desc('Limitation') },
        ],
        body_rows,
    } %}
        {% block header %}
            {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                {% block actions %}
                    {% if can_assign %}
                        <a
                            href="{{ path('ezplatform.role_assignment.create', {roleId: role.id}) }}"
                            title="{{ 'role_assignment.view.list.action.add'|trans|desc('Assign to Users/Groups') }}"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--relations">
                                <use xlink:href="{{ ibexa_icon_path('assign-user') }}"></use>
                            </svg>

                        </a>
                        {% set modal_data_target = 'delete-role-assignments-modal' %}
                        <button
                            id="delete-role-assignments"
                            type="button"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                            disabled
                            data-bs-toggle="modal"
                            data-bs-target="#{{ modal_data_target }}"
                            title="{{ 'role_assignment.view.list.action.delete'|trans|desc('Unassign') }}">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                            </svg>
                        </button>
                        {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                            'id': modal_data_target,
                            'message': 'role_assignments.modal.message'|trans|desc('Do you want to unassign the Users/Groups?'),
                            'data_click': '#role_assignments_delete_delete',
                        }%}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
        {% block between_header_and_table %}
            {{ form_start(form_role_assignments_delete, {
                'action': path('ezplatform.role_assignment.bulk_delete', {"roleId": role.id} ),
                'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-role-assignments' }
            }) }}
        {% endblock %}
    {% endembed %}

    {{ form_end(form_role_assignments_delete) }}

    {% if pager.haveToPaginate %}
        {% include '@ezdesign/ui/pagination.html.twig' with {
            'pager': pager,
            'paginaton_params' : {
                'routeName': route_name,
                'routeParams': {'_fragment': 'users-and-groups', 'roleId': role.id},
                'pageParameter': '[assignmentPage]',
            }
        } %}
    {% endif %}
</section>
