{% extends '@ezdesign/content/edit/base.html.twig' %}

{% trans_default_domain 'content_create' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}" />
{% endblock %}

{% block details %}
    <h2 class="ez-content-item-status">{{ 'creating_in_language'|trans({'%contentTypeName%': content_type.name, '%languageName%': language.name})|desc('Creating a(n) %contentTypeName% in %languageName%') }}</h2>
    <h1>
        <svg class="ez-icon ez-icon-{{ content_type.identifier }}">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ content_type.identifier }}"></use>
        </svg>
        {{ 'new_content_item'|trans({'%contentType%': content_type.name})|desc('New %contentType%') }}
    </h1>

    <div class="small">
        {{ content_type.name }} / Parent Location ID: {{ parent_location.id }}
    </div>
    <div class="ez-content-item__errors-wrapper" hidden>
        {{ 'errors.in.the.form'|trans({},'content_edit')|desc('Cannot save the form. Check required Fields and validation errors.') }}
    </div>
    {# @todo remove if statement once getDescription() bug is resolved in kernel #}
    {% if content_type.descriptions is not empty %}
        <div class="small text-muted">{{ content_type.description }}</div>
    {% endif %}
{% endblock %}


{% block right_sidebar_wrapper %}{% endblock %}

{% block close_button %}{% endblock %}

{% block form_before %}
    {{ ez_render_component_group('content-create-form-before', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ez_render_component_group('content-create-form-after', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}
