{% import "@ezdesign/ui/component/macros.html.twig" as html %}

{% set attr = attr|default({})|merge({
    class: 'ibexa-tag-view-select__btn-select-path btn ibexa-btn ibexa-btn--secondary ' ~ attr.class|default(''),
}) %}
{% set separator = separator|default(',') %}
{% set values = form.vars.value|split(separator)|filter(value => value is not empty) %}
{% set has_value = values|length > 0 %}
{% set can_be_empty = can_be_empty is defined ? can_be_empty : false %}
{% set is_single_select = is_single_select is defined ? is_single_select : false %}
{% set is_delete_visible = can_be_empty or values|length != 1 %}
{% set default_title = 'tag_view_select.info'|trans|desc('Select location') %}
{% set is_disabled = attr.disabled is defined ? attr.disabled : false %}
{% set default_type = 'tag_view_select.default_type'|trans|desc('path') %}
{% set type = type|default(default_type) %}
{% set show_title = show_title ?? true %}

<div
    class="ibexa-tag-view-select"
    data-is-single-select="{{ is_single_select }}"
    data-can-be-empty="{{ can_be_empty }}"
    {% if is_disabled %}disabled{% endif %}
>
    {% if show_title %}
        <div class="ibexa-tag-view-select__info">
            {{ title|default(default_title) }}
        </div>
    {% endif %}
    <div
        class="ibexa-tag-view-select__selected-list"
        data-template="{{ include('@ezdesign/ui/component/tag_view_select_selected_item_tag.html.twig', {
            id: '{{ id }}',
            name: '{{ name }}',
        })|e('html_attr') }}"
    >
        {% for item in items %}
            {{ include('@ezdesign/ui/component/tag_view_select_selected_item_tag.html.twig', {
                id: item.id,
                name: item.name,
                is_deletable: is_delete_visible,
                is_disabled
            }) }}
        {% endfor %}
    </div>
    {{ form_widget(form, { 
        attr: { hidden: true } 
    }) }}
    <button
        type="button"
        {{ html.attributes(attr|default({})) }}
    >
        <span
            class="ibexa-btn__label ibexa-tag-view-select__btn-label ibexa-tag-view-select__btn-label--select"
            {% if is_single_select and has_value %}hidden{% endif %}
        >
            {{ 'tag_view_select.select'|trans({ '%type%': type })|desc('Select %type%') }}
        </span>
        <span
            class="ibexa-btn__label ibexa-tag-view-select__btn-label ibexa-tag-view-select__btn-label--change"
            {% if (is_single_select and not has_value) or not is_single_select %}hidden{% endif %}
        >
            {{ 'tag_view_select.change'|trans({ '%type%': type })|desc('Change %type%') }}
        </span>
    </button>
</div>
