{% block ezplatform_fieldtype_ezauthor_row %}
    {% if form.authors.vars.prototype is defined %}
        {%- set wrapper_attr = attr|merge({
            'data-template': form_row(form.authors.vars.prototype),
            'data-next-author-id': form.authors.vars.value is empty ? 0 : max(form.authors.vars.value|keys) + 1
        }) -%}
    {% endif %}
    {{ block('form_row_fieldtype') }}
{% endblock %}

{% block ezplatform_fieldtype_ezauthor_widget %}
    <div class="ibexa-data-source__main-actions">
        <button
            type="button"
            class="btn ibexa-btn ibexa-btn--secondary ibexa-btn--small ibexa-btn--add-author"
            title="{{ 'ezauthor.action.add'|trans|desc('Add') }}"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
            </svg>
            <span class="ibexa-btn__label">{{ 'ezauthor.action.add'|trans|desc('Add') }}</span>
        </button>
        <button
            type="button"
            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--bulk-remove-author"
            title="{{ 'ezauthor.action.delete'|trans|desc('Delete') }}"
            disabled
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
            </svg>
            <span class="ibexa-btn__label">{{ 'ezauthor.action.delete'|trans|desc('Delete') }}</span>
        </button>
    </div>
    <div class="ibexa-data-source__labels">
        <label class="ibexa-label form-label">{{ 'ezauthor.name'|trans|desc('Name') }}</label>
        <label class="ibexa-label form-label">{{ 'ezauthor.Email'|trans|desc('Email') }}</label>
    </div>
    {% for child in form.authors %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block ezplatform_fieldtype_ezauthor_authors_entry_row -%}
    <div class="ibexa-data-source__author form-row">
        {{- form_widget(form.id) -}}
        <div class="ibexa-data-source__checkbox">
            <input type="checkbox" class="ibexa-input ibexa-input--checkbox" />
        </div>
        {{- form_row(form.name, { label_wrapper_attr: { 'hidden': 'hidden' }}) -}}
        {{- form_row(form.email, { label_wrapper_attr: { 'hidden': 'hidden' }, attr: {'class': 'ibexa-input--text'}}) -}}
        <div class="ibexa-data-source__actions">
            <button 
                type="button" 
                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--remove-author"
                title="{{ 'ezauthor.action.delete'|trans|desc('Delete') }}"
                disabled
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                </svg>
            </button>
        </div>
    </div>
{%- endblock %}
