{%- block ezplatform_fieldtype_ezrichtext_widget -%}
    {{- form_widget(form, {'attr': attr|merge({'hidden': 'hidden'})}) -}}
    {% set root_form = form.parent.parent.parent %}
    {% set udw_context = {
        'languageCode': root_form.vars.languageCode,
    } %}
    <div class="hidden" data-udw-config-name="richtext_embed" data-udw-config="{{ ez_udw_config('richtext_embed', udw_context) }}"></div>
    <div class="hidden" data-udw-config-name="richtext_embed_image" data-udw-config="{{ ez_udw_config('richtext_embed_image', udw_context) }}"></div>
    <div class="ibexa-data-source__richtext" id="{{ form.vars.id }}__editable"></div>
    <div class="ibexa-richtext-tools">
        <ul class="ibexa-elements-path"></ul>
        {% if ez_user_settings['character_counter'] == 'enabled' %}
            <div class="ibexa-character-counter">
                <span class="ibexa-character-counter__word-count">0</span> {{ 'character_counter.words'|trans|desc('words') }}
                <span class="ibexa-character-counter__character-count">0</span> {{ 'character_counter.characters'|trans|desc('characters') }}
            </div>
        {% endif %}
    </div>
{%- endblock -%}
