{% trans_default_domain 'locationview' %}

{% import _self as macros %}

<div class="ez-scrollable-table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'tab.relations.table.name'|trans()|desc('Name') }}</th>
            <th>{{ 'tab.relations.table.content_type'|trans()|desc('Content type') }}</th>
            <th>{{ 'tab.relations.table.relation_type'|trans()|desc('Relation type') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for relation in relations %}
            {% set destination = relation.destinationContentInfo %}
            <tr>
                <td>
                    {% if destination.mainLocationId is not null %}
                        <a href="{{ path('_ez_content_view', { 'contentId': destination.id, 'locationId': destination.mainLocationId }) }}">
                            {{ ez_content_name(destination) }}
                        </a>
                    {% else %}
                        {{ ez_content_name(destination) }}
                    {% endif %}
                </td>
                <td>{{ contentTypes[destination.contentTypeId].name }}</td>
                <td>
                    {{ macros.relation_type(relation) }}
                    {% if (relation.relationFieldDefinitionName) %}
                        ({{ relation.relationFieldDefinitionName }})
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% macro relation_type(relation) %}
    {% if relation.type == constant('eZ\\Publish\\API\\Repository\\Values\\Content\\Relation::COMMON') %}
        {{ 'tab.relations.table.relation_type.content_level_relation'|trans()|desc('Content level relation') }}
    {% elseif relation.type == constant('eZ\\Publish\\API\\Repository\\Values\\Content\\Relation::EMBED') %}
        {{ 'tab.relations.table.relation_type.embed'|trans()|desc('Embed') }}
    {% elseif relation.type == constant('eZ\\Publish\\API\\Repository\\Values\\Content\\Relation::LINK') %}
        {{ 'tab.relations.table.relation_type.link'|trans()|desc('Link') }}
    {% else %}
        {{ 'tab.relations.table.relation_type.field'|trans()|desc('Field') }}
    {% endif %}
{% endmacro %}
