{% trans_default_domain 'locationview' %}
{% import _self as tab %}
{% form_theme form_content_location_add '@ezdesign/ui/form/flat_widgets.html.twig' %}
{% form_theme form_content_location_remove '@ezdesign/ui/form/flat_widgets.html.twig' %}

<section>
    {{ form(form_content_location_add, {'action': path('ezplatform.location.add')}) }}
    {% include '@ezdesign/ui/table_header.html.twig' with {
        header_text: 'tab.locations.content_locations'|trans|desc('Content Locations'),
        tools: tab.table_header_tools(form_content_location_add, form_content_location_remove, can_add)
    } %}
    {{ form_start(form_content_location_remove, {
        'action': path('ezplatform.location.remove'),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-locations' }
    }) }}
    <div class="ez-scrollable-table-wrapper">
        <table class="ez-table table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'tab.locations.path'|trans|desc('Path') }}</th>
                <th>{{ 'tab.locations.subitems'|trans|desc('Sub-items') }}</th>
                <th colspan="2">{{ 'tab.locations.visibility'|trans|desc('Visibility') }}</th>
                <th>{{ 'tab.locations.main'|trans|desc('Main') }}</th>
            </tr>
            </thead>
            <tbody>
            {% if locations is not empty %}
                {% for location in locations %}
                    <tr>
                        <td class="ez-table__cell ez-table__cell--has-checkbox">
                            {{ form_widget(form_content_location_remove.locations[location.id], {'attr': {'class': 'ez-input ez-input--checkbox', 'disabled': not location.canDelete}}) }}
                        </td>
                        <td class="ez-table__cell">
                            {% include '@ezdesign/ui/location_path.html.twig' with {'locations': location.pathLocations, 'link_last_element': true} %}
                        </td>
                        <td class="ez-table__cell">{{ location.childCount }}</td>
                        <td class="ez-table__cell">
                            <label class="ez-checkbox-icon {{ not location.explicitlyHidden ? 'is-checked' }}{% if not can_hide[location.id] %} disabled{% endif %}"
                                   title="{{ 'tab.locations.visibility'|trans|desc('Visibility') }}">
                                <svg class="ez-icon ez-icon-view">
                                    <use xlink:href="{{ ez_icon_path('view') }}"></use>
                                </svg>
                                <svg class="ez-icon ez-icon-view-hide">
                                    <use xlink:href="{{ ez_icon_path('view-hide') }}"></use>
                                </svg>
                                <input
                                    class="ez-checkbox-icon__checkbox"
                                    {{ not location.explicitlyHidden ? 'checked' }}
                                    type="checkbox"
                                    name="updateVisibility"
                                    {% if not can_hide[location.id] %} disabled="disabled"{% endif %}
                                    value="{{ location.id }}"/>
                            </label>
                            {% if location.invisible %}
                                <span class="ml-2">
                                    {{ 'tab.locations.hidden_content_or_superior'|trans|desc('Content or its ancestor is hidden') }}
                                </span>
                            {% endif %}
                        </td>
                        <td class="ez-table__cell"></td>
                        <td class="ez-table__cell">
                            <input
                                class="ez-input ez-input--radio"
                                type="radio"
                                {{ location.main ? 'checked' }}
                                {{ not location.canEdit ? 'disabled' }}
                                name="updateMainLocation"
                                value="{{ location.id }}"/>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {{ form_end(form_content_location_remove) }}

    {% if pager is defined and pager.haveToPaginate %}
        <div class="row justify-content-center align-items-center mb-2 ez-pagination__spacing">
                <span class="ez-pagination__text">
                    {{ 'pagination.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
        </div>
        <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
            {{ pagerfanta(pager, 'ez', pager_options|merge({
                'routeParams': {
                    '_fragment': 'ez-tab-location-view-locations'
                }
            })) }}
        </div>
    {% endif %}

    {{ form(form_content_location_update_visibility, {'action': path('ezplatform.location.update_visibility')}) }}
    {{ form(form_content_location_main_update, {'action': path('ezplatform.content.update_main_location')}) }}

</section>

{% include '@ezdesign/content/tab/locations/panel_swap.html.twig' with {
    'form': form_content_location_swap,
    'can_swap': can_swap
} %}

{% macro table_header_tools(form_add, form_remove, can_add) %}
    <button
            data-udw-config="{{ ez_udw_config('single', {}) }}"
            class="btn btn-icon btn--udw-add"
            title="{{ 'tab.locations.action.add'|trans|desc('Add Location') }}"
            {{ not can_add ? 'disabled' }}>
        <svg class="ez-icon ez-icon-create">
            <use xlink:href="{{ ez_icon_path('create') }}"></use>
        </svg>
    </button>

    {% set modal_data_target = 'delete-content-types-modal' %}
    <button
            id="delete-locations"
            type="button"
            class="btn btn-icon"
            disabled
            data-toggle="modal"
            data-target="#{{ modal_data_target }}"
            title="{{ 'tab.locations.action.delete'|trans|desc('Delete Location') }}">
        <svg class="ez-icon ez-icon-trash">
            <use xlink:href="{{ ez_icon_path('trash') }}"></use>
        </svg>
    </button>
    {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
        'id': modal_data_target,
        'message': 'tab.locations.modal.message'|trans|desc('Do you want to delete the Location? All its sub-items will be sent to Trash.'),
        'data_click': '#' ~ form_remove.remove.vars.id,
    } %}
{% endmacro %}
