{% trans_default_domain 'locationview' %}
{% import _self as tab %}
{% form_theme form_content_location_add '@ezdesign/ui/form/flat_widgets.html.twig' %}
{% form_theme form_content_location_remove with ['@ezdesign/ui/form/flat_widgets.html.twig', '@ezdesign/ui/form_fields.html.twig'] %}

<section>
    {{ form(form_content_location_add, {'action': path('ezplatform.location.add')}) }}
    {% set body_rows = [] %}
    {% if locations is not empty %}
        {% for location in locations %}
            {% set body_row_cols = [] %}

            {% set col_raw %}
                {{ form_widget(form_content_location_remove.locations[location.id], {'attr': {'disabled': not location.canDelete}}) }}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_checkbox: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set col_raw %}
                {% include '@ezdesign/ui/location_path.html.twig' with {'locations': location.pathLocations, 'link_last_element': true} %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: location.childCount },
            ]) %}

            {% set col_raw %}
                <label
                    class="ez-checkbox-icon {{ not location.explicitlyHidden ? 'is-checked' }}{{ not can_hide[location.id] ? 'disabled' }}"
                    title="{{ 'tab.locations.visibility'|trans|desc('Visibility') }}"
                >
                    <svg class="ibexa-icon ibexa-icon--view">
                        <use xlink:href="{{ ibexa_icon_path('view') }}"></use>
                    </svg>
                    <svg class="ibexa-icon ibexa-icon--view-hide">
                        <use xlink:href="{{ ibexa_icon_path('view-hide') }}"></use>
                    </svg>
                    <input
                        class="ez-checkbox-icon__checkbox"
                        {{ not location.explicitlyHidden ? 'checked' }}
                        type="checkbox"
                        name="updateVisibility"
                        {{ not can_hide[location.id] ? 'disabled' }}
                        value="{{ location.id }}"
                    >
                </label>
                {% if location.invisible %}
                    <span class="ml-2">
                        {{ 'tab.locations.hidden_content_or_superior'|trans|desc('Content or its ancestor is hidden') }}
                    </span>
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: '' },
            ]) %}

            {% set col_raw %}
                <input
                    class="ibexa-input ibexa-input--radio"
                    type="radio"
                    {{ location.main ? 'checked' }}
                    {{ not location.canEdit ? 'disabled' }}
                    name="updateMainLocation"
                    value="{{ location.id }}"
                >
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
        {% endfor %}
    {% endif %}

    {% embed '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'tab.locations.content_locations'|trans|desc('Content Locations'),
        head_cols: [
            { has_checkbox: true },
            { content: 'tab.locations.path'|trans|desc('Path') },
            { content: 'tab.locations.subitems'|trans|desc('Sub-items') },
            { content: 'tab.locations.visibility'|trans|desc('Visibility'), attr: { colspan: 2 } },
            { content: 'tab.locations.main'|trans|desc('Main') },
        ],
        body_rows,
        actions: tab.table_header_tools(form_content_location_add, form_content_location_remove, can_add),
    } %}
        {% block between_header_and_table %}
            {{ form_start(form_content_location_remove, {
                'action': path('ezplatform.location.remove'),
                'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-locations' }
            }) }}
        {% endblock %}
    {% endembed %}
    {{ form_end(form_content_location_remove) }}

    {% if pager is defined and pager.haveToPaginate %}
        <div class="row justify-content-center align-items-center mb-2 ez-pagination__spacing">
                <span class="ez-pagination__text">
                    {{ 'pagination.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults}, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw }}
                </span>
        </div>
        <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
            {{ pagerfanta(pager, 'ez', pager_options|merge({
                'routeParams': {
                    '_fragment': 'ibexa-tab-location-view-locations'
                }
            })) }}
        </div>
    {% endif %}

    {{ form(form_content_location_update_visibility, {'action': path('ezplatform.location.update_visibility')}) }}
    {{ form(form_content_location_main_update, {'action': path('ezplatform.content.update_main_location')}) }}

</section>

{% include '@ezdesign/content/tab/locations/panel_swap.html.twig' with {
    'form': form_content_location_swap,
    'can_swap': can_swap
} %}

{% macro table_header_tools(form_add, form_remove, can_add) %}
    <button
        data-udw-config="{{ ez_udw_config('add_location', {}) }}"
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text ibexa-btn--udw-add"
        title="{{ 'tab.locations.action.add'|trans|desc('Add Location') }}"
        {{ not can_add ? 'disabled' }}
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
            <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
        </svg>
    </button>

    {% set modal_data_target = 'delete-content-types-modal' %}
    <button
        id="delete-locations"
        type="button"
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text"
        disabled
        data-bs-toggle="modal"
        data-bs-target="#{{ modal_data_target }}"
        title="{{ 'tab.locations.action.delete'|trans|desc('Delete Location') }}"
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
        </svg>
    </button>
    {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
        'id': modal_data_target,
        'message': 'tab.locations.modal.message'|trans|desc('Do you want to delete the Location? All its sub-items will be sent to Trash.'),
        'data_click': '#' ~ form_remove.remove.vars.id,
    } %}
{% endmacro %}
