<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>eZ Platform</title>
        {{ encore_entry_link_tags('ezplatform-admin-ui-security-base-css', null, 'ezplatform') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />
    </head>
    <body class="ez-login-view">
        <div class="container-fluid ez-main-container">
            <div class="row ez-login">
                <div class="col-6 ez-login__image"></div>
                <div class="col-6 ez-login__form">
                    <div class="{%- block login_wrapper -%}ez-login__form-wrapper{%- endblock -%}">
                        <svg class="ez-icon ez-icon--logo">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-logo.svg#logo-white"></use>
                        </svg>
                        {%- block content -%}

                        {%- endblock content -%}
                    </div>
                    <div class="ez-login__footer">
                        <span>{{ 'base.footer_copyright'|trans({
                                '%ez_link_open%': '<a href="http://ez.no">',
                                '%ez_link_close%': '</a>',
                                '%current_year%': "now"|date("Y")
                            })
                            |desc('eZ Platform ©1999-%current_year% %ez_link_open%eZ Systems AS%ez_link_close% and others.')|raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ez-notifications-container"
             data-notifications="{{ app.flashes|json_encode() }}"
             data-template="{{ include('@ezdesign/parts/notification.html.twig', {
                 label: '{{ label }}',
                 message: '{{ message }}'
             })|e('html_attr')  }}"></div>

        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {{ encore_entry_script_tags('ezplatform-admin-ui-security-base-js', null, 'ezplatform') }}

        {% if app.request.locale == 'ach_UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ezplatform']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
    </body>
</html>
