{% extends '@EzPlatformAdminUi/Security/base.html.twig' %}

{%- block content -%}
    <form action="{{ path( 'login_check' ) }}" method="post" role="form">
        <fieldset>
            {% if error %}
                <span>{{ error.message }}</span>
            {% endif %}
            <div class="form-group{% if error %} has-error{% endif %}">
                <label class="ez-login__form-label" for="username">{{ 'authentication.username'|trans|desc('Username') }}:</label>
                <input type="text" id="username" class="ez-login__form-input form-control" name="_username" value="{{ last_username }}" required="required" autofocus="autofocus" autocomplete="on"/>
            </div>
            <div class="form-group{% if error %} has-error{% endif %}">
                <label class="ez-login__form-label" for="password">{{ 'authentication.password'|trans|desc('Password') }}:</label>
                <input type="password" id="password" class="ez-login__form-input form-control" name="_password" required="required"/>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />

            <button type="submit" class="btn btn-primary ez-btn ez-btn--login">{{ 'authentication.submit'|trans|desc('Login') }}</button>
        </fieldset>
    </form>
    <a class="mt-3 text-right" href="{{ path('ezplatform.user.forgot_password') }}">{{ 'authentication.forgot_password'|trans|desc('Forgot password?') }}</a>
{%- endblock content -%}
