{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% block navigation %}{% endblock %}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col col-lg-4"></div>
        <div class="col-md-auto">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <h3>{{ 'authentication.required'|trans|desc('Authentication required') }}</h3>
                    <form action="{{ path( 'login_check' ) }}" method="post" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="username">{{ 'authentication.username'|trans|desc('Username') }}</label>
                                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autofocus="autofocus" autocomplete="on" placeholder="{{ 'authentication.username.placeholder'|trans|desc('Enter login or email') }}" />
                            </div>
                            <div class="form-group{% if error %} has-error{% endif %}">
                                <label for="password">{{ 'authentication.password'|trans|desc('Password') }}</label>
                                <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="{{ 'authentication.password.placeholder'|trans|desc('Enter password') }}" />
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
                            <input type="hidden" name="_target_path" value="{{ url('ezplatform.dashboard') }}" />

                            <button type="submit" class="btn btn-primary">{{ 'authentication.submit'|trans|desc('Login') }}</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-lg-4"></div>
    </div>
{% endblock %}
