{% trans_default_domain 'locationview' %}

{% import _self as tab %}
{% form_theme form_archived_version_restore '@EzPlatformAdminUi/parts/form/flat_widgets.html.twig' %}
{% form_theme form_version_remove_draft '@EzPlatformAdminUi/form_fields.html.twig' %}
{% form_theme form_version_remove_archived '@EzPlatformAdminUi/form_fields.html.twig' %}

{% if draft_versions is not empty %}
    <section>
        {{ form_start(form_version_remove_draft, {
            'action': path('ezplatform.version.remove'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations-' ~ form_version_remove_draft.remove.vars.id }
        }) }}
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.draft_under_edit'|trans()|desc('Draft under edit'), tools: tab.table_header_tools(form_version_remove_draft) } %}
        {% if draft_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': draft_versions, 'is_draft': true, 'form': form_version_remove_draft }) }}
        {% else %}
            <p class="ez-relations-box-list-no-content">
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
        {{ form_end(form_version_remove_draft) }}
    </section>
{% endif %}

{% if published_versions is not empty %}
    <section>
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.published_version'|trans()|desc('Published version') } %}
        {% if published_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': published_versions }) }}
        {% else %}
            <p>
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
    </section>
{% endif %}

{% if archived_versions is not empty %}
    <section>
        {{ form_start(form_version_remove_archived, {
            'action': path('ezplatform.version.remove'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations-' ~ form_version_remove_archived.remove.vars.id }
        }) }}
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.archived_versions'|trans()|desc('Archived versions'), tools: tab.table_header_tools(form_version_remove_archived) } %}
        {% if archived_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': archived_versions, 'form': form_version_remove_archived, 'is_archived': true, 'form_archived_version_restore': form_archived_version_restore }) }}
        {% else %}
            <p>
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
        {{ form_end(form_version_remove_archived) }}
    </section>
{% endif %}

{{ form_start(form_archived_version_restore, {
    'action': path('ezplatform.content.edit'),
    'attr': { 'class': 'ez-edit-content-form'}
}) }}
{{ form_widget(form_archived_version_restore.language, {'attr': {'hidden': 'hidden'}}) }}
{{ form_end(form_archived_version_restore) }}

{% macro table_header_tools(form) %}
    {% set modal_data_target = 'modal-' ~ form.remove.vars.id %}
    <button id="delete-translations-{{ form.remove.vars.id }}" type="button" class="btn btn-danger" disabled data-toggle="modal"
            data-target="#{{ modal_data_target }}">
        <svg class="ez-icon ez-icon-trash">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
        </svg>
    </button>
    {% include '@EzPlatformAdminUi/bulk_delete_confirmation_modal.html.twig' with {
    'id': modal_data_target,
    'message': 'tab.versions.modal.message'|trans|desc('Do you want to delete Versions?'),
    'data_click': '#' ~ form.remove.vars.id,
    } %}
{% endmacro %}

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
