{% trans_default_domain 'locationview' %}
{% import _self as tab %}

{% if draft_versions is not empty %}
    <section>
        {{ form_start(form_version_remove_draft, {'action': path('ezplatform.version.remove')}) }}
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.draft_under_edit'|trans()|desc('Draft under edit'), tools: tab.table_header_tools(form_version_remove_draft) } %}
        {% if draft_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': draft_versions, 'is_draft': true, 'form': form_version_remove_draft }) }}
        {% else %}
            <p class="ez-relations-box-list-no-content">
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
        {{ form_end(form_version_remove_draft) }}
    </section>
{% endif %}

{% if published_versions is not empty %}
    <section>
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.published_version'|trans()|desc('Published version') } %}
        {% if published_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': published_versions }) }}
        {% else %}
            <p>
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
    </section>
{% endif %}

{% if archived_versions is not empty %}
    <section>
        {{ form_start(form_version_remove_archived, {'action': path('ezplatform.version.remove')}) }}
        {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.versions.archived_versions'|trans()|desc('Archived versions'), tools: tab.table_header_tools(form_version_remove_archived) } %}
        {% if archived_versions is not empty %}
            {{ include('@EzPlatformAdminUi/content/tab/versions/table.html.twig', { 'versions': archived_versions, 'form': form_version_remove_archived }) }}
        {% else %}
            <p>
                {{ 'tab.versions.no_permission'|trans()|desc('You don\'t have access to view the content item\'s versions') }}
            </p>
        {% endif %}
        {{ form_end(form_version_remove_archived) }}
    </section>
{% endif %}

{% macro table_header_tools(form) %}
    <button class="btn btn-danger btn--trigger" data-click="#{{ form.remove.vars.id }}">
        {{ form.remove.vars.label|trans({}, form.remove.vars.translation_domain) }}
    </button>
{% endmacro %}
