{% extends "@EzPlatformAdminUi/admin/content_type_group/base.html.twig" %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'content_type' %}

{% block breadcrumbs_admin %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { value: 'content_type_group.breadcrumb.add'|trans|desc('Creating a new Content Type Group') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'content_type_group.view.add.title'|trans|desc('Creating a new Content Type Group'),
        iconName: 'content-types'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

    <section class="container mt-4 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form.identifier) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.create, {'attr': {'hidden': 'hidden'}}) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set content_type_group_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_type_group_create.sidebar_right') %}
    {{ knp_menu_render(content_type_group_create_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
