{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'content_type' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'content_type_group.breadcrumb.list'|trans|desc('Content Types'),
        iconName: 'content-types'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="ez-table-header">
            <h5>{{ 'content_type_group.view.list.title'|trans|desc('Content Type Groups') }}</h5>
            <div>
                <a href="{{ path('ezplatform.content_type_group.create') }}" class="btn btn-primary">
                    {{ 'content_type_group.view.list.action.add'|trans|desc('Create a Content Type Group') }}
                </a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'content_type_group.view.list.column.identifier'|trans|desc('Name') }}</th>
                    <th>{{ 'content_type_group.view.list.column.id'|trans|desc('ID') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for content_type_group in content_type_groups %}
                <tr>
                    <td>
                        {% set view_url = path('ezplatform.content_type_group.view', {
                            contentTypeGroupId: content_type_group.id
                        }) %}

                        <a href="{{ view_url }}">{{ content_type_group.identifier }}</a>
                    </td>
                    <td>{{ content_type_group.id }}</td>
                    <td class="text-right">
                        {% set edit_url = path('ezplatform.content_type_group.update', {
                            contentTypeGroupId: content_type_group.id
                        }) %}

                        {% set delete_form = delete_forms[content_type_group.id] %}
                        {{ form_start(delete_form, {
                            'action': path('ezplatform.content_type_group.delete', { contentTypeGroupId: content_type_group.id })
                        }) }}

                        <a href="{{ edit_url }}" class="btn btn-secondary">
                            {{ 'content_type_group.view.list.action.edit'|trans|desc('Edit') }}
                        </a>
                        {{ form_widget(delete_form.delete, {
                            'attr': { 'class': 'btn btn-danger' }
                        }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
