{% extends '@EzPublishCore/content_fields.html.twig' %}

{% trans_default_domain 'fieldtypes_preview' %}

{% block ezauthor_field %}
    {% apply spaceless %}
        {% if field.value.authors|length() > 0 %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezauthor')|trim}) %}
            <ul {{ block( 'field_attributes' ) }}>
                {% for author in field.value.authors %}
                    <li>
                        {{ author.name }}
                        {% if author.email is not empty %}
                            &lt;<a href="mailto:{{ author.email|escape( 'url' ) }}">{{ author.email }}</a>&gt;
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block ezstring_field %}
{% apply spaceless %}
    {% set field_value = field.value.text %}
    {{ block( 'simple_inline_field' ) }}
{% endapply %}
{% endblock %}

{% block eztext_field %}
{% apply spaceless %}
    {% set field_value = field.value|nl2br %}
    {{ block( 'simple_block_field' ) }}
{% endapply %}
{% endblock %}

{% block ezrichtext_field %}
    {%- set field_value = field.value.xml|ez_richtext_to_html5 -%}
    {{ block( 'simple_block_field' ) }}
{% endblock %}

{% block ezcountry_field %}
{% apply spaceless %}
    {% if fieldSettings.isMultiple and field.value.countries|length > 0 %}
        <ul {{ block( 'field_attributes' ) }}>
            {% for country in field.value.countries %}
                <li>{{ country['Name'] }}</li>
            {% endfor %}
        </ul>
    {% elseif field.value.countries|length() == 1 %}
        <p {{ block( 'field_attributes' ) }}>
        {% for country in field.value.countries %}
            {{ country['Name'] }}
        {% endfor %}
        </p>
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezboolean_field %}
{% apply spaceless %}
    {% set field_value = field.value.bool ? 'ezboolean.yes'|trans|desc('Yes') : 'ezboolean.no'|trans|desc('No') %}
    {{ block( 'simple_inline_field' ) }}
{% endapply %}
{% endblock %}

{% block ezdatetime_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.value|ez_full_datetime %}
        {{ block( 'simple_block_field' ) }}
        {% if fieldSettings.useSeconds %}
            {% include '@ezdesign/ui/component/alert/alert.html.twig' with {
                type: 'info',
                title: 'ezdatetime.useseconds.enabled'|trans()|desc('`The date format is based on your user preferences and does not include seconds even if the Field allows it`'),
                class: 'mt-2',
            } only %}
        {% endif %}
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezdate_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.date|ez_full_date %}
        {{ block( 'simple_block_field' ) }}
    {% endif %}
{% endapply %}
{% endblock %}

{% block eztime_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.time|ez_full_time('UTC') %}
        {{ block( 'simple_block_field' ) }}
        {% if fieldSettings.useSeconds %}
            {% include '@ezdesign/ui/component/alert/alert.html.twig' with {
                type: 'info',
                title: 'ezdatetime.useseconds.enabled'|trans()|desc('`The date format is based on your user preferences and does not include seconds even if the Field allows it`'),
                class: 'mt-2',
            } only %}
        {% endif %}
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezemail_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.email %}
        <a href="mailto:{{ field.value.email|escape( 'url' ) }}" {{ block( 'field_attributes' ) }}>{{ field.value.email }}</a>
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezinteger_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.value %}
        {{ block( 'simple_inline_field' ) }}
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezfloat_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set field_value = field.value.value|format_number %}
        {{ block( 'simple_inline_field' ) }}
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezurl_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        <a href="{{ field.value.link }}"
            {{ block( 'field_attributes' ) }}>{{ field.value.text ? field.value.text : field.value.link }}</a>
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezisbn_field %}
{% apply spaceless %}
    {% set field_value = field.value.isbn %}
    {{ block( 'simple_inline_field' ) }}
{% endapply %}
{% endblock %}

{% block ezkeyword_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezkeyword')|trim}) %}
        <ul {{ block( 'field_attributes' ) }}>
        {% for keyword in field.value.values %}
            <li class="ez-keyword__item">{{ keyword }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezselection_field %}
{% apply spaceless %}
    {% set options = fieldSettings.options %}

    {% if fieldSettings.multilingualOptions[field.languageCode] is defined %}
        {% set options = fieldSettings.multilingualOptions[field.languageCode] %}
    {% elseif fieldSettings.multilingualOptions[contentInfo.mainLanguageCode] is defined %}
        {% set options = fieldSettings.multilingualOptions[contentInfo.mainLanguageCode] %}
    {% endif %}

    {% if fieldSettings.isMultiple and field.value.selection|length() > 0  %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezselection-multiple')|trim}) %}
        <ul {{ block( 'field_attributes' ) }}>
        {% for selectedIndex in field.value.selection %}
            <li class="ez-selection__item">{{ options[selectedIndex] }}</li>
        {% endfor %}
        </ul>
    {% elseif not fieldSettings.isMultiple %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezselection-single')|trim}) %}

        {% set field_value = options[field.value.selection|first]|escape %}

        {{ block( 'simple_block_field' ) }}
    {% endif %}
{% endapply %}
{% endblock %}

{# @todo:
 # - add translate filter
 # - legacy used to dump is_locked attribute
 #}
{% block ezuser_field %}
{% apply spaceless %}
{% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezuser')|trim}) %}
<div class="ez-scrollable-table-wrapper mb-0">
    <table {{ block( 'field_attributes' ) }}>
        <tbody>
            <tr>
                <td class="ez-user__type">{{ 'ezuser.username'|trans|desc('Username') }}:</td>
                <td>{{ field.value.login }}</td>
            </tr>
            <tr>
                <td class="ez-user__type">{{ 'ezuser.email'|trans|desc('Email') }}:</td>
                <td><a href="mailto:{{ field.value.email|escape( 'url' ) }}">{{ field.value.email }}</a></td>
            </tr>
            <tr>
                <td class="ez-user__type">{{ 'ezuser.enabled'|trans|desc('Enabled') }}:</td>
                <td>{{ field.value.enabled ? 'ezuser.yes'|trans|desc('Yes') : 'ezuser.no'|trans|desc('No') }}</td>
            </tr>
        </tbody>
    </table>

    {% if parameters['password_expires_at'] %}
        <p class="mt-2 mb-0">
            {% if parameters['is_password_expired'] %}
                {{ 'ezuser.password_already_expired'|trans|desc('Password has expired') }}
            {% else %}
                {% set password_expire_in = parameters['password_expires_in'] %}

                {% if password_expire_in.format('%a') > 0 %}
                    {{ 'ezuser.password_expires_in'|trans({
                        '%count%': password_expire_in.format('%a') + (password_expire_in.h >= 12 ? 1 : 0)
                    })|desc('Current password <b>expires in %count% days</b>')|raw }}
                {% else %}
                    {{ 'ezuser.password_expires_today'|trans({
                    })|desc('Current password <b>expires today</b>')|raw }}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
</div>
{% endapply %}
{% endblock %}

{% block ezbinaryfile_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set route_reference = ez_route( 'ez_content_download', {
            'content': content,
            'fieldIdentifier': field.fieldDefIdentifier,
            'inLanguage': content.prioritizedFieldLanguageCode,
            'version': versionInfo.versionNo
        } ) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezbinaryfile')|trim}) %}
        <div {{ block( 'field_attributes' ) }}>
            <svg class="ibexa-icon ibexa-icon--file">
                <use xlink:href="{{ ibexa_icon_path('file') }}"></use>
            </svg>
            {{ field.value.fileName }}
            {{ field.value.fileSize|ez_file_size( 1 ) }}
            <a class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ml-4" download href="{{ path( route_reference.getRoute(), route_reference.getParams() ) }}">
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--download">
                    <use xlink:href="{{ ibexa_icon_path('download') }}"></use>
                </svg>
            </a>
        </div>
    {% endif %}
{% endapply %}
{% endblock %}

{% block ezmedia_field %}
{% if not ez_field_is_empty( content, field ) %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezmedia')|trim}) %}
    {% set type = fieldSettings.mediaType %}
    {% set value = field.value %}
    {% set route_reference = ez_route( 'ez_content_download', {
        'content': content,
        'fieldIdentifier': field.fieldDefIdentifier,
        'version': versionInfo.versionNo
    } ) %}
    {% set download = path( route_reference.getRoute(), route_reference.getParams() ) %}
    {% set hasController = value.hasController ? 'ezmedia.yes'|trans|desc('Yes') : 'ezmedia.no'|trans|desc('No') %}
    {% set autoplay = value.autoplay ? 'ezmedia.yes'|trans|desc('Yes') : 'ezmedia.no'|trans|desc('No') %}
    {% set loop = value.loop ? 'ezmedia.yes'|trans|desc('Yes') : 'ezmedia.no'|trans|desc('No') %}
    <div {{ block( 'field_attributes' ) }}>
    {% autoescape false %}
    {% if type == "html5_video"
        or type == "quick_time"
        or type == "windows_media_player"
        or type == "real_player" %}
        <div class="ez-field-preview__media">
            <div class="ez-field-preview__video-wrapper">
                <video src="{{ download }}" width="100%" controls>
                    {{ 'ezmedia.browser_does_not_support_html5_video'|trans|desc('Your browser does not support HTML5 video') }}
                </video>
            </div>
        </div>
        <div class="ez-field-preview__media-meta">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'ezmedia.video_file_properties'|trans|desc('Video file properties') }}:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'ezmedia.file_name'|trans|desc('File name') }}:</td>
                        <td>{{ value.fileName }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ezmedia.type'|trans|desc('Type') }}:</td>
                        <td>{{ value.mimeType }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ezmedia.size'|trans|desc('Size') }}:</td>
                        <td>{{ value.fileSize|ez_file_size( 1 ) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ezmedia.display_controls'|trans|desc('Display controls') }}:</td>
                        <td>{{hasController}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ezmedia.auto_play'|trans|desc('Autoplay') }}:</td>
                        <td>{{autoplay}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ezmedia.loop'|trans|desc('Loop') }}:</td>
                        <td>{{loop}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {% endautoescape %}
    </div>
{% endapply %}
{% endif %}
{% endblock %}

{% block ezobjectrelationlist_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezobjectrelationlist')|trim}) %}
    <div {{ block( 'field_attributes' ) }}>
        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'ezobjectrelationlist.multiple_relations'|trans|desc('Multiple relations'),
            head_cols: [
                { content: 'ezobjectrelationlist.name'|trans|desc('Name') },
                { content: 'ezobjectrelationlist.content_type'|trans|desc('Content Type') },
                { content: 'ezobjectrelationlist.created'|trans|desc('Created') },
            ],
        } %}
            {% block tbody %}
                {% for contentId in field.value.destinationContentIds %}
                    {% embed '@ezdesign/ui/component/table/table_body_row.html.twig' %}
                        {% block body_row_cells %}
                            {{ render(controller('EzSystems\\EzPlatformAdminUiBundle\\Controller\\ContentController::relationViewAction', {
                                    'contentId': contentId,
                            } )) }}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
    {% endif %}
{% endapply %}
{% endblock %}


{% block ezgmaplocation_field %}
{% apply spaceless %}
{% if field.value is not null %}
    {% set latitude = field.value.latitude %}
    {% set longitude = field.value.longitude %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezgmaplocation')|trim}) %}
    <div {{ block( 'field_attributes' ) }}>
        <div class="ez-field-preview__map-wrapper">
            <div class="ez-gmaplocation__map"  data-longitude="{{ longitude }}" data-latitude="{{ latitude }}"></div>
        </div>
        <div class="ez-field-preview__meta-wrapper">
            <table class="ez-field-preview__meta">
                <thead>
                    <tr class="ez-field-preview__meta-title-row">
                        <th>{{ 'ezgmaplocation.location_properties'|trans|desc('Location properties') }}:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezgmaplocation.address'|trans|desc('Address') }}:</td>
                        <td>{{ field.value.address }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezgmaplocation.latitude'|trans|desc('Latitude') }}:</td>
                        <td>{{ field.value.latitude }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezgmaplocation.longitude'|trans|desc('Longitude') }}:</td>
                        <td>{{ field.value.longitude }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endif %}
{% endapply %}
{% endblock %}

{% block ezimage_field %}
{% apply spaceless %}
{% if not ez_field_is_empty( content, field ) %}
{% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
{% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezimage')|trim}) %}
<div {{ block( 'field_attributes' ) }}>
    <div class="ez-field-preview__image-wrapper">
        <div class="ez-field-preview__image">
            <img src="{{ src }}">
        </div>
        <div class="ez-field-preview__meta-wrapper">
            <table>
                <thead>
                    <tr class="ez-field-preview__meta-title-row">
                        <th class="">{{ 'ezimage.image_file_properties'|trans|desc('Image file properties') }}:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimage.file_name'|trans|desc('File name') }}:</td>
                        <td>{{ field.value.fileName }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimage.size'|trans|desc('Size') }}:</td>
                        <td>{{ field.value.fileSize|ez_file_size( 1 ) }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimage.alternative_text'|trans|desc('Alternative text') }}:</td>
                        <td>{{ field.value.alternativeText }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimage.master_dimensions'|trans|desc('Master dimensions') }}:</td>
                        <td>{{ 'ezimage.width_and_height'|trans({'%width%': field.value.width, '%height%': field.value.height})|desc('Width: %width%px height: %height%px') }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimage.ratio'|trans|desc('Ratio') }}:</td>
                        <td>{{ (field.value.width/field.value.height)|round(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ez-field-preview__actions-wrapper">
        <a class="ez-field-preview__action ez-field-preview__action--preview" href="{{ field.value.uri }}" target="_blank">
            <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--light">
                <use xlink:href="{{ ibexa_icon_path('open-newtab') }}"></use>
            </svg>
        </a>
    </div>
</div>
{% endif %}
{% endapply %}
{% endblock %}

{% block ezimageasset_field %}
{% apply spaceless %}
{% if not ez_field_is_empty( content, field ) and parameters.available %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezimageasset')|trim}) %}
    <div {{ block( 'field_attributes' ) }}>
        {{ render(controller('ez_content:viewAction', {
            contentId: field.value.destinationContentId,
            viewType: 'preview_ezimageasset',
            no_layout: true,
            params: {
                parameters: parameters|default({})|merge({ alternativeText: field.value.alternativeText })
            }
        }))}}
    </div>
{% else %}
    <em>{{ 'ezimageasset.not_available'|trans|desc('Image asset is not available (related content has been deleted or you have insufficient permissions)') }}</em>
{% endif %}
{% endapply %}
{% endblock %}

{% block ezobjectrelation_field %}
{% apply spaceless %}
{% if not ez_field_is_empty( content, field ) %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezobjectrelationlist')|trim}) %}
    <div {{ block( 'field_attributes' ) }}>
        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'ezobjectrelation.single_relation'|trans|desc('Single relation'),
            head_cols: [
                { content: 'ezobjectrelation.name'|trans|desc('Name') },
                { content: 'ezobjectrelation.content_type'|trans|desc('Content Type') },
                { content: 'ezobjectrelation.created'|trans|desc('Created') },
            ],
        } %}
            {% block tbody %}
                {% embed '@ezdesign/ui/component/table/table_body_row.html.twig' with { field: field } %}
                    {% block body_row_cells %}
                        {{ render(controller('EzSystems\\EzPlatformAdminUiBundle\\Controller\\ContentController::relationViewAction', {
                            'contentId': field.value.destinationContentId,
                        } )) }}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
{% endif %}
{% endapply %}
{% endblock %}

{# pageService is exposed under parameters.pageService thanks to Page\ParameterProvider #}
{% block ezpage_field %}
{% apply spaceless %}
{% if not ez_field_is_empty( content, field ) %}
    {% set layout = field.value.page.layout %}
    {% set template = parameters.pageService.getLayoutTemplate( layout ) %}
    {% include template with { 'zones': field.value.page.zones, 'zone_layout': layout, 'pageService': parameters.pageService } %}
{% endif %}
{% endapply %}
{% endblock %}


{# The simple_block_field block is a shorthand html block-based fields (like eztext or ezrichtext) #}
{# You can define a field_value variable before rendering this one if you need special operation for rendering content (i.e. nl2br) #}
{% block simple_block_field %}
{% apply spaceless %}
    {% if field_value is not defined %}
        {% set field_value = field.value %}
    {% endif %}
    <div {{ block( 'field_attributes' ) }}>
        {% endapply %}{{ field_value|raw }}{% apply spaceless %}
    </div>
{% endapply %}
{% endblock %}

{% block simple_inline_field %}
{% apply spaceless %}
    {% if field_value is not defined %}
        {% set field_value = field.value %}
    {% endif %}
    <span {{ block( 'field_attributes' ) }}>{{ field_value }}</span>
{% endapply %}
{% endblock %}

{# Block for field attributes rendering. Useful to add a custom class, id or whatever HTML attribute to the field markup #}
{% block field_attributes %}
{% apply spaceless %}
    {% set attr = attr|default( {} ) %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endapply %}
{% endblock %}
