{% trans_default_domain 'fieldtypes_preview' %}

{% set field = ez_field(content, ez_content_field_identifier_image_asset()) %}
{% set versionInfo = content.versionInfo  %}

{% if not ez_field_is_empty(content, field) %}
    {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
    {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}

    <div class="ez-field-preview__image-wrapper">
        <div class="ez-field-preview__image">
            <img src="{{ src }}">
        </div>
        <div class="ez-field-preview__meta-wrapper">
            <table class="ez-field-preview__meta">
                <thead>
                    <tr class="ez-field-preview__meta-title-row">
                        <th colspan="2">
                            {{ 'ezimageasset.image_file_properties'|trans|desc('Image file properties') }}:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimageasset.file_name'|trans|desc('File name') }}:</td>
                        <td>{{ field.value.fileName }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimageasset.size'|trans|desc('Size') }}:</td>
                        <td>{{ field.value.fileSize|ez_file_size(1) }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimageasset.alternative_text'|trans|desc('Alternative text') }}:</td>
                        <td>{{ parameters.alternativeText|default(field.value.alternativeText) }}</td>
                    </tr>
                    <tr class="ez-field-preview__meta-value-row">
                        <td>{{ 'ezimageasset.master_dimensions'|trans|desc('Master dimensions') }}:</td>
                        <td>
                            {{ 'ezimageasset.width_and_height'|trans({
                                '%width%': field.value.width,
                                '%height%': field.value.height})|desc('Width: %width%px height: %height%px')
                            }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'ezimageasset.ratio'|trans|desc('Ratio') }}:</td>
                        <td>{{ (field.value.width/field.value.height)|round(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ez-field-preview__actions-wrapper">
        <a
            class="ez-field-preview__action ez-field-preview__action--preview"
            href="{{ field.value.uri }}"
            target="_blank">
            <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--light">
                <use xlink:href="{{ ibexa_icon_path('open-newtab') }}"></use>
            </svg>
        </a>
    </div>
{% else %}
    <a href="{{ path('_ez_content_view', { 'contentId': content.id, 'locationId': content.contentInfo.mainLocationId }) }}" target="_blank">
        {{ ez_content_name(content) }}
    </a>
{% endif %}
