{% extends '@ezdesign/account/base.html.twig' %}

{% form_theme form_forgot_user_password_with_login '@ezdesign/account/form_fields.html.twig'  %}

{%- block content -%}
    <h2 class="ibexa-login__actions-headline">{{ 'authentication.reset_your_password'|trans|desc('Reset your password') }}</h2>
    <p>
        {{ 'ezplatform.forgot_user_password.login'|trans|desc('This email is connected with several accounts. Enter your login instead.') }}
    </p>
    {% if form_forgot_user_password_with_login is defined %}
        {{ form_start(form_forgot_user_password_with_login, {'attr': {'class': 'ez-form-validate'}}) }}
        <fieldset>
            {{ form_row(form_forgot_user_password_with_login.login) }}
        </fieldset>
        {{ form_widget(form_forgot_user_password_with_login.reset, {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary ibexa-login__btn ibexa-login__btn--reset-password'}}) }}

        {{ form_end(form_forgot_user_password_with_login) }}
    {% endif %}
    <p class="mt-5">
    {{ 'ezplatform.forgot_user_password.contact_administrator'|trans|desc('If you do not remember your login, contact your Administrator.') }}
    </p>
{%- endblock content -%}
