<div class="modal fade ez-modal ez-modal--notice ez-modal--send-to-trash" id="{{ id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" title="{{ 'modal.close'|trans|desc('Close') }}" data-dismiss="modal">
                    <svg class="ez-icon ez-icon--small-medium" aria-hidden="true">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#discard"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-click="{{ data_click }}">
                    {{ 'modal.delete'|trans|desc('Delete') }}
                </button>
                <button type="button" class="ez-btn ez-btn--no-border" data-dismiss="modal">
                    {{ 'modal.cancel'|trans|desc('Cancel') }}
                </button>
            </div>
        </div>
    </div>
</div>
