{% extends '@ezdesign/account/base.html.twig' %}

{%- block content -%}
    <h2 class="ibexa-login__actions-headline">{{ 'base.get_started'|trans|desc('Get started') }}</h2>

    {% block login_form %}
        {{ ez_render_component_group('login-form-before') }}

        <form action="{{ path( 'login_check' ) }}" method="post" role="form">
            <fieldset>
                {% block login_form_errors %}
                    {% if error %}
                        <span class="ibexa-login__errors-container">{{ error.message|trans }}</span>
                    {% endif %}
                {% endblock %}

                {% block login_form_fields %}
                    <div class="form-group{% if error %} has-error{% endif %}">
                        <div class="ibexa-login__input-label-wrapper">
                            <label class="ibexa-label" for="username">{{ 'authentication.username'|trans|desc('Username') }}</label>
                        </div>
                        <input
                            type="text"
                            id="username"
                            class="form-control ibexa-input ibexa-input--text ibexa-login__input"
                            name="_username"
                            value="{{ last_username }}"
                            required="required"
                            autofocus="autofocus"
                            autocomplete="on"
                            tabindex="1"
                        />
                    </div>
                    <div class="form-group{% if error %} has-error{% endif %} position-relative">
                        <div class="ibexa-login__input-label-wrapper">
                            <label class="ibexa-label" for="password">{{ 'authentication.password'|trans|desc('Password') }}</label>
                        </div>
                        <input
                            type="password"
                            id="password"
                            class="form-control ibexa-input ibexa-input--text ibexa-login__input--password"
                            name="_password"
                            required="required"
                            tabindex="2"
                        />
                        <button type="button" class="ibexa-login__password-visibility-toggler" tabindex="5">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--dark ibexa-icon--view">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('view') }}"></use>
                            </svg>
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--dark ibexa-icon--view-hide d-none">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('view-hide') }}"></use>
                            </svg>
                        </button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
                {% endblock %}

                {% block login_form_buttons %}
                    <button type="submit" class="btn ibexa-btn ibexa-btn--primary ibexa-login__btn ibexa-login__btn--sign-in" tabindex="3">
                        {{ 'authentication.login'|trans|desc('Login') }}
                    </button>
                    <div class="ibexa-login__link-wrapper">
                        <a href="{{ path('ezplatform.user.forgot_password') }}" tabindex="4">{{ 'authentication.forgot_password'|trans|desc('Forgot your password?') }}</a>
                    </div>
                {% endblock %}
            </fieldset>
        </form>

        {{ ez_render_component_group('login-form-after') }}
    {% endblock %}

    {{ encore_entry_script_tags('ezplatform-admin-ui-login-js', null, 'ezplatform') }}
{%- endblock content -%}
