{% trans_default_domain 'role' %}

{% form_theme form_policies_delete '@ezdesign/ui/form_fields.html.twig'  %}

<section class="container ez-container">
    {% set body_rows = [] %}
    {% for policy in pager.currentPageResults %}
        {% set body_row_cols = [] %}

        {% set col_raw %}
            {% if can_update %}
                {{ form_widget(form_policies_delete.policies[policy.id]) }}
            {% else %}
                {% do form_policies_delete.policies.setRendered %}
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_checkbox: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_row_cols = body_row_cols|merge([
            { content: policy.module == '*' ? ('role.policy.all_modules')|trans({}, 'forms')|desc('All modules') : ('role.policy.' ~ policy.module)|trans({}, 'forms') },
            { content: policy.function == '*' ? ('role.policy.all_functions')|trans({}, 'forms')|desc('All functions') : policy.function|capitalize },
        ]) %}

        {% set col_raw %}
            {%- if policy.limitations is not empty -%}
                <ul class="list-unstyled">
                    {%- for limitation in policy.limitations -%}
                        <li>
                            <span
                                class="font-weight-bold"
                                title="{{ 'policy.limitation.identifier_tooltip'|trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}"
                            >
                                {{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezplatform_content_forms_policies')|desc('%identifier%') }}:
                            </span>
                            {{ ez_render_limitation_value(limitation) }}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- else -%}
                {{- 'policy.limitation.none'|trans|desc('None') -}}
            {%- endif -%}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            content: col_raw,
            raw: true,
        }]) %}

        {% set col_raw %}
            {% if can_update %}
                <a
                    title="{{ 'policy.view.list.panel.policies.action.edit'|trans|desc('Edit') }}"
                    href="{{ path('ezplatform.policy.update', { roleId: role.id, policyId: policy.id }) }}"
                    class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text{{ not is_editable[policy.id] ? ' disabled' : '' }}"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                        <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                    </svg>
                </a>
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% embed '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'policy.view.list.title.count'|trans({'%count%': role.policies|length})|desc('Policies (%count%)'),
        head_cols: [
            { has_checkbox: true },
            { content: 'policy.view.list.panel.policies.column.module'|trans|desc('Module') },
            { content: 'policy.view.list.panel.policies.column.function'|trans|desc('Function') },
            { content: 'role_assignment.view.list.panel.assignments.column.limitations'|trans|desc('Limitations') },
            { },
        ],
        body_rows,
    } %}
        {% block header %}
            {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                {% block actions %}
                    {% if can_update %}
                        <a
                            title="{{ 'policy.view.list.action.add'|trans|desc('Add a new Policy') }}"
                            href="{{ path('ezplatform.policy.create', {roleId: role.id}) }}"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                        </a>
                        {% set modal_data_target = 'delete-policies-modal' %}
                        <button
                            id="delete-policies"
                            type="button"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                            disabled
                            data-bs-toggle="modal"
                            data-bs-target="#{{ modal_data_target }}"
                            title="{{ 'policy.view.list.action.delete'|trans|desc('Delete Policy') }}"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                            </svg>
                        </button>
                        {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                            'id': modal_data_target,
                            'message': 'policy.modal.message'|trans|desc('Do you want to delete the Policy?'),
                            'data_click': '#policies_delete_delete',
                        }%}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
        {% block between_header_and_table %}
            {{ form_start(form_policies_delete, {
                'action': path('ezplatform.policy.bulk_delete', {"roleId": role.id} ),
                'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-policies' }
            }) }}
        {% endblock %}
    {% endembed %}

    {{ form_end(form_policies_delete) }}

    {% if pager.haveToPaginate %}
        {% include '@ezdesign/ui/pagination.html.twig' with {
            'pager': pager,
            'paginaton_params' : {
                'routeName': route_name,
                'routeParams': {'_fragment': 'policies', 'roleId': role.id},
                'pageParameter': '[policyPage]',
            }
        } %}
    {% endif %}
</section>
