{% extends "@ezdesign/admin/object_state/base.html.twig" %}

{% form_theme form '@ezdesign/form_fields.html.twig'  %}

{% trans_default_domain 'object_state' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/part/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.object_state.groups.list'), value: 'object_state_group.breadcrumb.list'|trans|desc('Object States') },
        { url: path('ezplatform.object_state.group.view', { 'objectStateGroupId': object_state_group.id }), value: 'object_state_group.breadcrumb.view'|trans({ '%name%': object_state_group.name })|desc('Object State Group: %name%') },
        { value: 'object_state.breadcrumb.edit'|trans({ '%name%': object_state.name })|desc('Editing Object State: %name%') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@ezdesign/part/page_title.html.twig' with {
        title: 'object_state.view.edit.title'|trans({'%name%': object_state_group.name})|desc('Editing Object State: %name%'),
        iconName: 'object-state'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

    <section class="container mt-4 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form.name, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.identifier, {'label_attr': {'class': 'ez-label'}}) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set object_state_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.object_state_edit.sidebar_right', [], {'group_id': object_state_group.id, 'save_id': form.save.vars.id}) %}
    {{ knp_menu_render(object_state_edit_sidebar_right, {'template': '@ezdesign/part/ui/sidebar_right.html.twig'}) }}
{% endblock %}
