{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'object_state' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.object_state.groups.list'), value: 'object_state_group.breadcrumb.list'|trans|desc('State') },
        { url: path('ezplatform.object_state.group.view', { 'objectStateGroupId': object_state_group.id }), value: 'object_state_group.breadcrumb.view'|trans({ '%name%': object_state_group.name })|desc('"%name%" Object State Group') },
        { value: 'object_state.breadcrumb.edit'|trans({ '%identifier%': object_state.identifier })|desc('Editing Object State "%identifier%"') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'object_state.view.edit.title'|trans({'%identifier%': object_state_group.identifier})|desc('Editing Object State "%identifier%"'),
        iconName: 'object-states'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <section class="container mt-4">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.identifier) }}
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-4">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            {{ form_widget(form.update, {
                'attr': { 'class': 'btn btn-primary' }
            }) }}
        </div>
    </section>

    {{ form_end(form) }}
{% endblock %}
