{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'object_state' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.object_state.groups.list'), value: 'object_state_group.breadcrumb.list'|trans|desc('State') },
        { url: path('ezplatform.object_state.group.view', { 'objectStateGroupId': object_state_group.id }), value: 'object_state_group.breadcrumb.view'|trans({ '%name%': object_state_group.name })|desc('"%name%" Object State Group') },
        { value: 'object_state.breadcrumb.view'|trans({ '%name%': object_state.name })|desc('"%name%" Object State') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'object_state.view.view.title'|trans({ '%identifier%': object_state.identifier })|desc('"%identifier%" Object State'),
        iconName: 'object-states'
    } %}
{% endblock %}

{% block content %}
    <section class="container">
        <div>
            <dl>
                <dt>{{ 'object_state.name.label'|trans|desc('Name') }}</dt>
                <dd>{{ object_state.name }}</dd>
                <dt>{{ 'object_state.identifier.label'|trans|desc('Identifier') }}</dt>
                <dd>{{ object_state.identifier }}</dd>
                <dt>{{ 'object_state.id.label'|trans|desc('ID') }}</dt>
                <dd>{{ object_state.id }}</dd>
            </dl>
            {% set edit_url = path('ezplatform.object_state.state.update', {
                'objectStateId': object_state.id
            }) %}
            <a href="{{ edit_url }}" class="btn btn-secondary">
                {{ 'object_state.view.action.edit'|trans|desc('Edit') }}
            </a>
            {{ form_start(delete_form, {
                "action": path("ezplatform.object_state.state.delete", {"objectStateId": object_state.id}),
                'attr': {'class': 'd-inline-block'}
            }) }}
            {{ form_widget(delete_form.delete, { 'attr': {'class': 'btn btn-danger' }}) }}
            {{ form_end(delete_form) }}
        </div>
    </section>
{% endblock %}
