{% trans_default_domain 'locationview' %}

<div class="ez-add-to-bookmarks {{ location_is_bookmarked ? 'ez-add-to-bookmarks--checked'}}" data-location-id="{{ location.id }}">
    <div
        class="ez-add-to-bookmarks__icon-wrapper ez-add-to-bookmarks__icon-wrapper--add"
        title="{{ 'location.bookmark.add'|trans|desc('Add to Bookmarks') }}">
        <svg class="ez-icon ez-icon--secondary">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#bookmark"></use>
        </svg>
    </div>
    <div
        class="ez-add-to-bookmarks__icon-wrapper ez-add-to-bookmarks__icon-wrapper--remove"
        title="{{ 'location.bookmark.remove'|trans|desc('Remove from Bookmarks') }}">
        <svg class="ez-icon ez-icon--secondary">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#bookmark-active"></use>
        </svg>
    </div>
</div>
