{% if title is defined %}
    <div class="ez-page-title pt-3">
        <h1>
        {% if iconName is defined%}
            <svg class="ez-icon ez-icon-{{ iconName }}">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ iconName }}"></use>
            </svg>
        {% endif %}
        {{ title }}
        </h1>
        {% if contentTypeName is defined %}
            <h5>{{ contentTypeName }}</h5>
        {% endif %}
    </div>
{% endif %}
