{% if title is defined %}
    <div class="ez-page-title pt-3 pb-4 px-4">
        <h1 class="ez-page-title__content-item">
        {% if iconName is defined%}
            <svg class="ez-icon ez-icon-{{ iconName }}">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ iconName }}"></use>
            </svg>
        {% endif %}
        {{ title }}
        </h1>
        {% if contentTypeName is defined %}
            <h4 class="ez-page-title__content-type-name">{{ contentTypeName }}</h4>
        {% endif %}
        {% if form_location_bookmark is defined %}
            {% include '@ezdesign/parts/form/location_bookmark.html.twig' with {
                form: form_location_bookmark
            } %}
        {% endif %}
    </div>
{% endif %}
