{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain "linkmanager" %}

{%- block content -%}
    <section class="container">
        {{ form_start(form, {'attr': {'class': 'form-inline justify-content-between'}}) }}
            <div class="input-group">
                {{ form_widget(form.searchQuery, { attr: {
                    'placeholder': 'url.search.placeholder'|trans,
                }}) }}

                <button class="btn ibexa-btn ibexa-btn--primary ml-2">
                    {{ 'url.search'|trans|desc("Search") }}
                </button>
            </div>
            <div class="d-inline-flex">
                {{ form_label(form.status) }} &nbsp;
                {{ form_widget(form.status) }}
            </div>

        {{ form_widget(form.page, { attr: { value: '1' }}) }}
        {{ form_end(form) }}
    </section>

    <section class="container">
        {% set body_rows = [] %}
        {% for url in urls %}
            {% set body_row_cols = [] %}
            {% set edit_url = path('ezplatform.link_manager.edit', { urlId: url.id }) %}
            {% set view_url = path('ezplatform.link_manager.view', { urlId: url.id }) %}

            {% set col_raw %}
                <a href="{{ view_url }}">{{ url.url|u.truncate(50) }}</a>
                (<a href="{{ url.url }}" target="_blank">{{ 'url.open'|trans }}</a>)
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: url.isValid ? 'url.status.valid'|trans : 'url.status.invalid'|trans },
                { content: url.lastChecked ? url.lastChecked|ez_full_datetime : 'Never' },
                { content: url.modified|ez_full_datetime },
            ]) %}

            {% set col_raw %}
                {% if can_edit %}
                    <a
                        href="{{ edit_url }}"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                        title="{{ 'url.action.edit'|trans|desc('Edit URL') }}"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                            <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                        </svg>
                    </a>
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_action_btns: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
        {% endfor %}

        {% include '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'url.list.title'|trans({ '%count%': urls.count })|desc('Links (%count%)'),
            head_cols: [
                { content: 'url.label.address'|trans },
                { content: 'url.label.status'|trans },
                { content: 'url.label.last_checked'|trans },
                { content: 'url.label.modified'|trans },
                { },
            ],
            body_rows,
            empty_table_info_text: 'url.list.no_urls'|trans,
        } %}

        {% if urls.haveToPaginate %}
            <div class="row justify-content-center align-items-center ez-pagination__spacing mb-5">
                {{ pagerfanta(urls, 'ez', {'pageParameter': '[search_data][page]'}) }}
            </div>
        {% endif %}
    </section>
{%- endblock -%}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-link-manager-list-js', null, 'ezplatform') }}
{% endblock %}
