{% extends 'bootstrap_4_layout.html.twig' %}

{% block ezsystems_ezplatform_type_udw_widget %}
    {{ form_widget(form.location) }}
    {{ form_widget(form.select_content) }}
{% endblock ezsystems_ezplatform_type_udw_widget %}

{% block _content_create_content_type_widget -%}
    {%- if expanded -%}
        {{- block('content_type_choice_widget_expanded') -}}
    {%- else -%}
        {{- block('choice_widget_collapsed') -}}
    {%- endif -%}
{%- endblock %}

{%- block content_type_choice_widget_expanded -%}
    <div>
        {%- set options = choices -%}
        {{- block('content_type_choice_widget_options') -}}
    </div>
{%- endblock -%}

{%- block content_type_choice_widget_options -%}
    {%- for group_label, choice in options -%}
        {%- if choice is iterable -%}
            <div class="ez-instant-filter__group">
                <div class="ez-instant-filter__group-name">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</div>
                {%- set options = choice -%}
                {{- block('content_type_choice_widget_options') -}}
            </div>
        {%- else -%}
            <div class="ez-instant-filter__group-item">
                {{ form_widget(form[choice.value]) }}
            </div>
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}

{%- block _search_content_types_widget -%}
    <div class="ez-content-type-selector ez-content-type-selector--collapsed">
    {%- set options = choices -%}
    {%- for group_label, choice in options -%}
        <div class="ez-content-type-selector__group">
            <span class="ez-content-type-selector__group-title">
                {{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}
            </span>
            <ul class="ez-content-type-selector__list">
            {%- set options = choice -%}
            {{- block('search_type_choice_widget_options') -}}
            </ul>
        </div>
    {%- endfor -%}
    </div>
{%- endblock -%}

{%- block search_type_choice_widget_options -%}
    {%- for group_label, choice in options -%}
        <li class="ez-content-type-selector__item">
            {{ form_widget(form[choice.value], {'attr': {'data-name': choice.label}, 'label_attr': {'class': 'checkbox-inline'}}) }}
        </li>
    {%- endfor -%}
{%- endblock -%}

{%- block trash_item_checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _trash_item_restore_restore_widget -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{'trash.button.restore'|trans({},'trash')|desc('Restore') }}">
        <svg class="ez-icon">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#restore"></use>
        </svg>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock -%}

{%- block _trash_item_restore_location_select_content_widget -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{'trash.button.restore_new_location'|trans({},'trash')|desc("Restore under new parent location") }}">
        <svg class="ez-icon">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#restore-parent"></use>
        </svg>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock -%}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_simple') }}
{%- endblock number_widget -%}

{%- block _bookmark_remove_remove_widget -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{'bookmark.button.remove'|trans({},'bookmark')|desc('Remove') }}">
        <svg class="ez-icon">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
        </svg>
    </button>
{%- endblock -%}
