<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="CSRF-Token" content="{{ csrf_token('authenticate') }}" />
        <meta name="SiteAccess" content="{{ app.request.get('siteaccess').name }}" />
        {% block meta %}
        {% endblock %}
        <script>
            window.eZ = {
                adminUiConfig: {{ admin_ui_config|json_encode|raw }},
                errors: {
                    emailRegexp: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                    emptyField: '{{ 'js.error.empty.field'|trans({}, 'validators')|desc('{fieldName} field is required') }}',
                    invalidEmail: '{{ 'js.error.invalid_email'|trans({}, 'validators')|desc('A valid email address is required') }}',
                    invalidUrl: '{{ 'js.error.invalid_url'|trans({}, 'validators')|desc('A valid URL is required') }}',
                    tooLong: '{{ 'js.error.too_long'|trans({}, 'validators')|desc('{fieldName} value should be less than or equal to {maxLength} characters') }}',
                    tooShort: '{{ 'js.error.too_short'|trans({}, 'validators')|desc('{fieldName} value should be greater than or equal to {minLength} characters') }}',
                    isNotInteger: '{{ 'js.error.is_not_integer'|trans({}, 'validators')|desc('{fieldName} value should be an integer') }}',
                    isNotFloat: '{{ 'js.error.is_not_float'|trans({}, 'validators')|desc('{fieldName} value should be a float number') }}',
                    isLess: '{{ 'js.error.is_less'|trans({}, 'validators')|desc('{fieldName} value should be greater than or equal to {minValue}') }}',
                    isGreater: '{{ 'js.error.is_greater'|trans({}, 'validators')|desc('{fieldName} value should be less than or equal to {maxValue}') }}',
                    invalidFileSize: '{{ 'js.error.invalid_file_size'|trans({}, 'validators')|desc('{fieldName}: Cannot upload. File exceeds file size limit.') }}',
                    provideLatitudeValue: '{{ 'js.error.provide_latitude_value'|trans({}, 'validators')|desc('Please, provide latitude value in the Latitude field') }}',
                    provideLongitudeValue: '{{ 'js.error.provide_longitude_value'|trans({}, 'validators')|desc('Please, provide longitude value in the Longitude field') }}',
                    addressNotFound: '{{ 'js.error.address_not_found'|trans({}, 'validators')|desc('Provided address does not exist') }}',
                    notSamePasswords: '{{ 'js.error.not_same_passwords'|trans({}, 'validators')|desc('Passwords do not match') }}',
                    invalidValue: '{{ 'js.error.invalid_value'|trans({}, 'validators')|desc('{fieldName} field has invalid values') }}',
                    outOfRangeValue: '{{ 'js.error.out_of_range_value'|trans({}, 'validators')|desc('{fieldName} field value is out of range. The value has to be between {min} and {max}') }}'
                },
            };

            window.CKEDITOR_BASEPATH = window.ALLOYEDITOR_BASEPATH = "/bundles/ezplatformadminuiassets/vendors/alloyeditor/dist/alloy-editor/";
        </script>
        <script src="/bundles/fosjsrouting/js/router.js"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% if app.request.locale == 'ach_UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ezplatform']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
        <title>{% block title %}eZ Platform{% endblock %}</title>
        {% stylesheets filter='scssphp'
            'bundles/ezplatformadminui/scss/ezplatform-bootstrap.scss'
            'bundles/ezplatformadminui/scss/ezplatform.scss'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />
        {{ ezplatform_admin_ui_component_group('stylesheet-head') }}
        {{ ezplatform_admin_ui_component_group('script-head') }}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="react-udw"></div>

        {% block navigation %}
            {% include '@ezdesign/parts/navigation.html.twig' %}
        {% endblock %}
        {% block header %}
            <div class="container-fluid ez-header">
                <div class="container">
                    {% block breadcrumbs %}{% endblock %}
                    {% block page_title %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        <div class="container-fluid ez-main-container">
            {% block content %}

                {% block left_sidebar %}
                    <div class="col-sm-1 bg-dark pt-4 ez-side-menu">
                        <div class="ez-sticky-container">
                            {{ knp_menu_render('ezplatform_admin_ui.menu.content.sidebar_left', {'template': '@ezdesign/parts/menu/sidebar_left.html.twig'}) }}
                        </div>
                    </div>
                {% endblock left_sidebar %}

            {% endblock content %}
        </div>
        <div
            class="ez-notifications-container"
            data-notifications="{{ app.flashes|json_encode() }}"
            data-template="{{ include('@ezdesign/parts/notification.html.twig', {
                label: '{{ label }}',
                message: '{{ message }}'
            })|e('html_attr')  }}"></div>
        <div class="ez-modal-wrapper"></div>
        {%  javascripts
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/react/umd/react.production.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/react-dom/umd/react-dom.production.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/jquery/dist/jquery.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/popper.js/dist/umd/popper.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/bootstrap/dist/js/bootstrap.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/create-react-class/create-react-class.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/prop-types/prop-types.min.js'
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            'bundles/bazingajstranslation/js/translator.min.js'
            'js/translations/config.js'
            'js/translations/*.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {{ ezplatform_admin_ui_component_group('custom-admin-ui-modules') }}
        {{ ezplatform_admin_ui_component_group('custom-admin-ui-config') }}
        {%  javascripts
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/helpers/notification.helper.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.notifications.js'
            '@EzPlatformAdminUiModulesBundle/Resources/public/js/UniversalDiscovery.module.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.trigger.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.prevent.default.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/udw/browse.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.user.menu.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.prevent.click.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.picker.js'
            '@EzPlatformAdminUiBundle/Resources/public/js/scripts/admin.notifications.modal.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {# CKEditor is not compatible with 'use strict' mode, React 16 force 'use strict' on the entire file.
           CKEditor and React 16 cannot be compiled into one file by assetic #}
        {%  javascripts
            '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/alloyeditor/dist/alloy-editor/alloy-editor-no-react-min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block react_modules %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ ezplatform_admin_ui_component_group('stylesheet-body') }}
        {{ ezplatform_admin_ui_component_group('script-body') }}
    </body>
</html>
