<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="CSRF-Token" content="{{ csrf_token('authenticate') }}" />
        <meta name="SiteAccess" content="{{ app.request.get('siteaccess').name }}" />
        <script>
            window.eZ = {
                adminUiConfig: {{ admin_ui_config|json_encode|raw }},
                // needs translations
                errors: {
                    emailRegexp: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                    urlRegexp: /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/,
                    emptyField: '{fieldName} field is required',
                    invalidEmail: 'A valid email address is required',
                    invalidUrl: 'A valid URL is required',
                    tooLong: '{fieldName} value should be less than or equal to {maxLength} characters',
                    tooShort: '{fieldName} value should be greater than or equal to {minLength} characters',
                    isNotInteger: '{fieldName} value should be an integer',
                    isNotFloat: '{fieldName} value should be a float number',
                    isLess: '{fieldName} value should be greater than or equal to {minValue}',
                    isGreater: '{fieldName} value should be less than or equal to {maxValue}',
                    invalidFileSize: '{fieldName}: Cannot upload. File exceeds file size limit.',
                    provideLatitudeValue: 'Please, provide latitude value in the Latitude field',
                    provideLongitudeValue: 'Please, provide longitude value in the Longitude field',
                    addressNotFound: 'Provided address does not exist',
                    notSamePasswords: 'Passwords do not match',
                    invalidValue: '{fieldName} field has invalid values',
                    outOfRangeValue: '{fieldName} field value is out of range. The value has to be between {min} and {max}'
                },
            };

            window.CKEDITOR_BASEPATH = window.ALLOYEDITOR_BASEPATH = "/bundles/ezplatformadminuiassets/vendors/alloyeditor/dist/alloy-editor/";
        </script>
        <script src="/bundles/fosjsrouting/js/router.js"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <title>{% block title %}eZ Platform{% endblock %}</title>
        {% stylesheets filter='scssphp'
            'bundles/ezplatformadminui/scss/ezplatform-bootstrap.scss'
            'bundles/ezplatformadminui/scss/ezplatform.scss'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />
        {{ ezplatform_admin_ui_component_group('stylesheet-head') }}
        {{ ezplatform_admin_ui_component_group('script-head') }}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div id="react-udw"></div>

        {% block navigation %}
            {% include 'EzPlatformAdminUiBundle:parts:navigation.html.twig' %}
        {% endblock %}
        <div class="container-fluid ez-header">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
                {% block pageTitle %}{% endblock %}
            </div>
        </div>
        <div class="container-fluid ez-main-container">
            {% block content %}

                {% block left_sidebar %}
                    <div class="col-sm-1 bg-dark pt-4 ez-side-menu"> {# @todo sidebars should be moved to layout.html.twig !! #}
                        {{ knp_menu_render('ezplatform_admin_ui.menu.content.sidebar_left', {'template': '@EzPlatformAdminUi/parts/menu/sidebar_left.html.twig'}) }}
                    </div>
                {% endblock left_sidebar %}

            {% endblock content %}
        </div>
        <div class="ez-notifications-container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {%  javascripts
            'bundles/ezplatformadminuiassets/vendors/react/umd/react.production.min.js'
            'bundles/ezplatformadminuiassets/vendors/react-dom/umd/react-dom.production.min.js'
            'bundles/ezplatformadminuiassets/vendors/create-react-class/create-react-class.min.js'
            'bundles/ezplatformadminuiassets/vendors/prop-types/prop-types.min.js'
            'bundles/ezplatformadminuiassets/vendors/jquery/dist/jquery.min.js'
            'bundles/ezplatformadminuiassets/vendors/popper.js/dist/umd/popper.min.js'
            'bundles/ezplatformadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js'
            'bundles/ezplatformadminuiassets/vendors/alloyeditor/dist/alloy-editor/alloy-editor-no-react-min.js'
            'bundles/ezplatformadminuimodules/js/UniversalDiscovery.module.js'
            'bundles/ezplatformadminui/js/scripts/button.trigger.js'
            'bundles/ezplatformadminui/js/scripts/button.prevent.default.js'
            'bundles/ezplatformadminui/js/scripts/udw/browse.js'
            'bundles/ezplatformadminui/js/scripts/admin.user.menu.js'

        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block reactModules %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ ezplatform_admin_ui_component_group('stylesheet-body') }}
        {{ ezplatform_admin_ui_component_group('script-body') }}
    </body>
</html>
