<div class="ez-header">
    <div class="container">
        <div class="ibexa-tabs">
            <ul class="nav nav-tabs ibexa-tabs__list" role="tablist">
                {% block tabs_list %}
                    {% for tab in tabs %}
                        <li class="nav-item ibexa-tabs__tab {% if tab == active_tab %}ibexa-tabs__tab--active{% endif %}">
                            <a id="ibexa-tab-label-{{ tab.id }}" href="#ibexa-tab-{{ tab.id }}" data-toggle="tab" class="nav-link ibexa-tabs__link {% if tab == active_tab %}active{% endif %}">
                                {{ tab.label }}
                            </a>
                        </li>
                    {% endfor %}
                {% endblock %}
                {% if include_tab_more|default(false) %}
                    <li class="nav-item ibexa-tabs__tab ibexa-tabs__tab--more"
                        data-item-template="{{ include('@ezdesign/ui/component/popup_menu/popup_menu_item.html.twig', {
                                'label': '{{ label }}',
                            })|e('html_attr') }}"
                        tabindex="0"
                    >
                        <a class="nav-link ibexa-tabs__link" role="button">
                            <svg class="ibexa-icon ibexa-icon--small">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('options') }}"></use>
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if include_tab_more|default(false) %}
                {{ include('@ezdesign/ui/component/popup_menu/popup_menu.html.twig', {
                    'class': 'ibexa-tabs__popup-menu ibexa-tabs__popup-menu--hidden',
                    'items': [],
                }) }}
            {% endif %}
            <div class="ibexa-tabs__toggler">
                <span class="ibexa-tabs__toggler-show">
                    {{ 'ui.component.tab.tabs.show'|trans|desc('Show') }}
                </span>
                <span class="ibexa-tabs__toggler-hide">
                    {{ 'ui.component.tab.tabs.show'|trans|desc('Hide') }}
                </span>
            </div>
        </div>
    </div>
</div>
