{% extends '@EzPlatformAdminUi/parts/menu/top_menu_base.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {% set currentItem = item %}
    <div class="tab-content mx-4">
        {% for child in currentItem.children %}
            <div role="tabpanel"
                 class="tab-pane fade{{ matcher.isAncestor(child, options.matchingDepth) ? ' show active' }}"
                 id="{{ child.name }}">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% for item in child.children %}
                                {{ block('item') }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% set linkAttributes = item.linkAttributes|merge({
        'href': item.uri,
        'aria-controls': item.name,
        'class': 'nav-link' ~ (matcher.isCurrent(item) ? ' ' ~ options.currentClass)
    }) %}
    <a{{ knp_menu.attributes(linkAttributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    {{ block('linkElement') }}
{% endblock %}
