{% trans_default_domain 'dashboard' %}

{% set body_rows = [] %}
{% for row in data %}
    {% set body_row_cols = [] %}
    {% set content_draft_edit_url = content_is_user|default(false) ? 'ezplatform.user.update' : 'ezplatform.content.draft.edit' %}

    {% if row.isAccessible %}
        {% set col_raw %}
            <svg class="ibexa-icon ibexa-icon--small-medium">
                <use xlink:href="{{ ez_content_type_icon(row.contentType.identifier) }}"></use>
            </svg>
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_icon: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_row_cols = body_row_cols|merge([
            { content: row.versionInfo.name },
            { content: row.contentType.name },
            { content: ez_admin_ui_config.languages.mappings[row.versionInfo.initialLanguageCode].name },
            { content: row.versionInfo.versionNo },
            { content: row.versionInfo.modificationDate|ez_full_datetime },
        ]) %}

        {% set col_raw %}
            <button
                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text mx-2 ibexa-btn--content-draft-edit"
                title="{{ 'dashboard.table.draft.edit'|trans|desc('Edit Draft') }}"
                data-content-draft-edit-url="{{ path(content_draft_edit_url, {
                    'contentId': row.versionInfo.contentInfo.id,
                    'versionNo': row.versionInfo.versionNo,
                    'language': row.versionInfo.initialLanguageCode
                }) }}"
                data-version-has-conflict-url="{{ path('ezplatform.version.has_no_conflict', {
                    'contentId': row.versionInfo.contentInfo.id,
                    'versionNo': row.versionInfo.versionNo,
                    'languageCode': row.versionInfo.initialLanguageCode
                }) }}"
                data-content-id="{{ row.versionInfo.contentInfo.id }}"
                data-language-code="{{ row.versionInfo.initialLanguageCode }}"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                    <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                </svg>
            </button>
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}
    {% else %}
        {% set body_row_cols = body_row_cols|merge([{
            attr: { colspan: 8 },
            content: 'dashboard.table.draft.unauthorized'|trans({
                '%module%': row.unauthorizedContentDraft.module,
                '%function%': row.unauthorizedContentDraft.function,
                '%contentId%': row.unauthorizedContentDraft.payload.contentId,
            })|desc('You do not have the \'%function%\' \'%module%\' permission for content ID: %contentId%'),
        }]) %}
    {% endif %}

    {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
{% endfor %}

{% include '@ezdesign/ui/component/table/table.html.twig' with {
    head_cols: [
        { has_icon: true },
        { content: 'dashboard.table.name'|trans|desc('Name') },
        { content: 'dashboard.table.content_type'|trans|desc('Content Type') },
        { content: 'dashboard.table.modified_language'|trans|desc('Modified Language') },
        { content: 'dashboard.table.version'|trans|desc('Version') },
        { content: 'dashboard.table.last_saved'|trans|desc('Last Saved') },
        { },
    ],
    body_rows,
    empty_table_info_text: 'dashboard.tab.my_drafts.empty'|trans|desc('No content. Drafts you create will show up here'),
} %}

{% if pager.haveToPaginate %}
    {% include '@ezdesign/ui/pagination.html.twig' with {
        'pager': pager,
        'paginaton_params' : pager_options|merge({
            'routeParams': {
                '_fragment': 'ibexa-tab-dashboard-my-my-drafts'
            }
        })
    } %}
{% endif %}
