{# This template is deprecated since 2.5 and will be removed in 3.0. Please use src/bundle/Resources/views/dashboard/tab/my_draft_list.html.twig instead. #}

{% trans_default_domain 'dashboard' %}

{% if data|length %}
    <table class="ez-table table">
        <thead>
            <tr>
                <th class="ez-table__header-cell ez-table__header-cell--has-icon"></th>
                <th class="ez-table__header-cell ez-table__header-cell--after-icon">{{ 'dashboard.table.name'|trans|desc('Name') }}</th>
                <th class="ez-table__header-cell">{{ 'dashboard.table.content_type'|trans|desc('Content Type') }}</th>
                <th class="ez-table__header-cell">{{ 'dashboard.table.modified_language'|trans|desc('Modified Language') }}</th>
                <th class="ez-table__header-cell">{{ 'dashboard.table.version'|trans|desc('Version') }}</th>
                <th class="ez-table__header-cell">{{ 'dashboard.table.last_saved'|trans|desc('Last Saved') }}</th>
                <th class="ez-table__header-cell"></th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% set content_draft_edit_url = content_is_user|default(false) ? 'ezplatform.user.update' : 'ezplatform.content.draft.edit' %}
            <tr>
                <td class="ez-table__cell ez-table__cell--has-icon">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ ez_content_type_icon(row.content_type.identifier) }}"></use>
                    </svg>
                </td>
                <td class="ez-table__cell ez-table__cell--after-icon">{{ row.name }}</td>
                <td class="ez-table__cell">{{ row.content_type.name }}</td>
                <td class="ez-table__cell">{{ ez_admin_ui_config.languages.mappings[row.language].name }}</td>
                <td class="ez-table__cell">{{ row.version }}</td>
                <td class="ez-table__cell">{{ row.modified|ez_full_datetime }}</td>
                <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                    <button class="btn btn-icon mx-2 ez-btn--content-draft-edit"
                            title="{{ 'dashboard.table.draft.edit'|trans|desc('Edit Draft') }}"
                            data-content-draft-edit-url="{{ path(content_draft_edit_url, {
                                'contentId': row.contentId,
                                'versionNo': row.version,
                                'language': row.language
                            }) }}"
                            data-version-has-conflict-url="{{ path('ezplatform.version.has_no_conflict', {
                                'contentId': row.contentId,
                                'versionNo': row.version,
                                'languageCode': row.language
                            }) }}"
                            data-content-id="{{ row.contentId }}"
                            data-language-code="{{ row.language }}">
                        <svg class="ez-icon ez-icon-edit">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pager.haveToPaginate %}
        <div class="row justify-content-center align-items-center mb-2 mt-2 ez-pagination__spacing">
            <span class="ez-pagination__text">
                {{ 'pagination.viewing'|trans({
                    '%viewing%': pager.currentPageResults|length,
                    '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
            </span>
        </div>
        <div class="row justify-content-center align-items-center ez-pagination__btn">
            {{ pagerfanta(pager, 'ez', pager_options|merge({
                'routeParams': {
                    '_fragment': 'ez-tab-dashboard-my-my-drafts'
                }
            })) }}
        </div>
    {% endif %}
{% else %}
    <p class="ez-table-no-content mb-0 py-0">{{ 'dashboard.tab.my_drafts.empty'|trans|desc('No content. Drafts you create will show up here') }}</p>
{% endif %}
