{% extends '@ezdesign/admin/role_assignment/base.html.twig' %}

{% form_theme form '@ezdesign/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { url: path('ezplatform.role.view', {roleId: role.id}), value: 'role.breadcrumb.view.identifier'|trans({ '%identifier%': role.identifier })|desc('Role "%identifier%"') },
        { value: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@ezdesign/parts/page_title.html.twig' with {
        title: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups'),
        iconName: 'roles'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

        <section class="container mt-4 px-5">
            <div class="card ez-card">
                <div class="ez-card__header ez-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.users_and_groups.title'|trans|desc('Users and Groups') }}
                </div>
                <div class="card-body">
                    {{ form_label(form.users) }}
                    {{ form_errors(form.users) }}
                    {{ form_widget(form.users) }}

                    <button type="button" data-universaldiscovery-title="{{ "role_assignment.view.add.panel.users_and_groups.users.udw_title"
                        |trans({}, "role")
                        |desc("Select users for role assignment") }}"
                        data-tag-template="{{ include('@ezdesign/admin/role_assignment/create_tag_list_item.html.twig', {
                            'content_name': '{{ content_name }}',
                            'content_id': '{{ content_id }}'
                        })|e('html_attr') }}"
                        class="btn btn-secondary d-block"
                        id="{{ form.users.vars.id }}__btn"
                        data-input-selector="#{{ form.users.vars.id }}"
                        data-selected-content-list-selector="#{{ form.users.vars.id }}-selected-content"
                        data-udw-config="{{ ez_udw_config('multiple_user', {}) }}">
                        {{ 'role_assignment.view.add.panel.users_and_groups.select_users_btn.label'|trans|desc('Select users') }}
                    </button>

                    <ul class="list-unstyled" id="{{ form.users.vars.id }}-selected-content">
                        {% for user in form.users.vars.data %}
                            {% if user is not empty %}
                                {{ include('@ezdesign/admin/role_assignment/create_tag_list_item.html.twig', {
                                    'content_name': ez_content_name(user),
                                    'content_id': user.content.versionInfo.contentInfo.id
                                }) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {{ form_label(form.groups) }}
                    {{ form_errors(form.groups) }}
                    {{ form_widget(form.groups) }}

                    <button type="button" data-universaldiscovery-title="{{ "role_assignment.view.add.panel.users_and_groups.groups.udw_title"
                        |trans({}, "role")
                        |desc("Select groups for role assignment") }}"
                        data-tag-template="{{ include('@ezdesign/admin/role_assignment/create_tag_list_item.html.twig', {
                            'content_name': '{{ content_name }}',
                            'content_id': '{{ content_id }}'
                        })|e('html_attr') }}"
                        class="btn btn-secondary d-block"
                        id="{{ form.groups.vars.id }}__btn"
                        data-input-selector="#{{ form.groups.vars.id }}"
                        data-selected-content-list-selector="#{{ form.groups.vars.id }}-selected-content"
                        data-udw-config="{{ ez_udw_config('multiple_user_group', {}) }}">
                        {{ 'role_assignment.view.add.panel.users_and_groups.select_groups_btn.label'|trans|desc('Select groups') }}
                    </button>

                    <ul class="list-unstyled" id="{{ form.groups.vars.id }}-selected-content">
                        {% for group in form.groups.vars.data %}
                            {% if group is not empty %}
                                {% set content_name = group.content.name %}
                                {{ include('@ezdesign/admin/role_assignment/create_tag_list_item.html.twig', { 
                                    'content_name': content_name,
                                    'content_id': group.content.versionInfo.contentInfo.id
                                }) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <section class="container mt-4 px-5">
            <div class="card ez-card">
                <div class="ez-card__header ez-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.limitations.title'|trans|desc('Limitations') }}
                </div>
                <div class="card-body ez-limitations">
                    {{ form_widget(form.limitation_type.none, {'label': 'limitation_type.none'|trans|desc('No limitations'), 'attr': {'class': 'ez-limitations__radio'}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                    <div class="ez-limitations__item">
                        {% if not form.limitation_type.section.vars.checked %}
                            {% set sections_attr = {'attr': {'disabled': 'disabled'}} %}
                        {% else %}
                            {% set sections_attr = {} %}
                        {% endif %}
                        {{ form_widget(form.limitation_type.section, {'label': 'limitation_type.section'|trans|desc('Sections'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '#' ~ form.sections.vars.id}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                        {{ form_widget(form.sections, sections_attr) }}
                    </div>
                    <div class="ez-limitations__item">
                        {{ form_widget(form.limitation_type.location, {'label': 'limitation_type.subtree'|trans|desc('Subtree'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '#role_assignment_create_locations_select_content'}, 'label_attr': {'class': 'ez-limitations__label radio-inline'}}) }}
                        {{ form_widget(form.locations) }}
                        <div class="ez-limitations__item-subtree">
                            <button id="role_assignment_create_locations_select_content" data-udw-config="{{ ez_udw_config('multiple', {}) }}" class="btn btn-secondary ez-btn--select-subtree"{% if not form.limitation_type.location.vars.checked %} disabled{% endif %}>
                                <svg class="ez-icon ez-icon--select-subtree ez-icon--medium ez-icon--light">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#relations"></use>
                                </svg>
                                {{ 'locations.select_subtree'|trans|desc('Select Subtree') }}
                            </button>
                            <ul class="ez-limitations__selected-subtree mt-4">
                                {% for location in form.locations.vars.data %}
                                    <li>{{ location.content.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set role_assignment_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.role_assignment_create.sidebar_right', [], {'role': role}) %}
    {{ knp_menu_render(role_assignment_create_sidebar_right, {'template': '@ezdesign/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-role-assignment-create-js', null, 'ezplatform') }}
{% endblock %}
