{% extends '@EzPlatformAdminUi/admin/role_assignment/base.html.twig' %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

{% block breadcrumbs_admin %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { url: path('ezplatform.role.view', {roleId: role.id}), value: 'role.breadcrumb.view.identifier'|trans({ '%identifier%': role.identifier })|desc('Role "%identifier%"') },
        { value: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups'),
        iconName: 'roles'
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

        <section class="container mt-4 px-5">
            <div class="card ez-card">
                <div class="ez-card__header ez-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.users_and_groups.title'|trans|desc('Users and Groups') }}
                </div>
                <div class="card-body">
                    {{ form_row(form.users) }}
                    {{ form_row(form.groups) }}
                </div>
            </div>
        </section>

        <section class="container mt-4 px-5">
            <div class="card ez-card">
                <div class="ez-card__header ez-card__header--secondary">
                    {{ 'role_assignment.view.add.panel.limitations.title'|trans|desc('Limitations') }}
                </div>
                <div class="card-body ez-limitations">
                    {{ form_widget(form.limitation_type.none, {'label': 'limitation_type.none'|trans|desc('No limitations'), 'attr': {'class': 'ez-limitations__radio'}, 'label_attr': {'class': 'ez-limitations__label'}}) }}
                    {% if not form.limitation_type.section.vars.checked %}
                        {% set sections_attr = {'attr': {'disabled': 'disabled'}} %}
                    {% else %}
                        {% set sections_attr = {} %}
                    {% endif %}
                    {{ form_widget(form.limitation_type.section, {'label': 'limitation_type.section'|trans|desc('Sections'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '#' ~ form.sections.vars.id}, 'label_attr': {'class': 'ez-limitations__label'}}) }}
                    {{ form_widget(form.sections, sections_attr) }}
                    {{ form_widget(form.limitation_type.location, {'label': 'limitation_type.subtree'|trans|desc('Subtree'), 'attr': {'class': 'ez-limitations__radio', 'data-disable-selector': '#role_assignment_create_locations_select_content'}, 'label_attr': {'class': 'ez-limitations__label'}}) }}
                    {{ form_widget(form.locations) }}
                    <button id="role_assignment_create_locations_select_content" class="btn btn-secondary ez-btn--select-subtree"{% if not form.limitation_type.location.vars.checked %} disabled{% endif %}>
                        <svg class="ez-icon ez-icon--select-subtree ez-icon--medium ez-icon--light">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#relations"></use>
                        </svg>
                        {{ 'locations.select_subtree'|trans|desc('Select Subtree') }}
                    </button>
                    <ul class="ez-limitations__selected-subtree mt-4">
                        {% for location in form.locations.vars.data %}
                            <li>{{ location.contentInfo.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set role_assignment_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.role_assignment_create.sidebar_right', [], {'role': role}) %}
    {{ knp_menu_render(role_assignment_create_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {%  javascripts
        'bundles/ezplatformadminui/js/scripts/admin.role_assignment.add.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
