{% form_theme form_role_assignments_delete '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

<section class="container mt-4 px-5">
    <div class="ez-table-header">
        <div class="ez-table-header__headline">{{ 'role_assignment.view.list.header'|trans|desc('Users and Groups') }}</div>
        <div>
            <a href="{{ path('ezplatform.role_assignment.create', {roleId: role.id}) }}"
               title="{{ 'role_assignment.view.list.action.add'|trans|desc('Assign users/groups') }}"
               class="btn btn-secondary">
                <svg class="ez-icon ez-icon-relations ez-icon--secondary">
                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#assign-user"></use>
                </svg>

            </a>
            {% set modal_data_target = 'delete-role-assignments-modal' %}
            <button id="delete-role-assignments" type="button" class="btn btn-danger" disabled data-toggle="modal"
                    data-target="#{{ modal_data_target }}">
                <svg class="ez-icon ez-icon-trash">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                </svg>
            </button>
            {% include '@EzPlatformAdminUi/admin/bulk_delete_confirmation_modal.html.twig' with {
                'id': modal_data_target,
                'message': 'role_assignments.modal.message'|trans|desc('Do you want to delete Role Assignments?'),
                'data_click': '#role_assignments_delete_delete',
            }%}
        </div>
    </div>
    {{ form_start(form_role_assignments_delete, {
        'action': path('ezplatform.role_assignment.bulk_delete', {"roleId": role.id} ),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-role-assignments' }
    }) }}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'role_assignment.view.list.panel.assignments.column.user_group'|trans|desc('User/Group') }}</th>
            <th>{{ 'role_assignment.view.list.panel.assignments.column.limitation'|trans|desc('Limitation') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for role_assignment in assignments %}
            <tr>
                <td class="ez-checkbox-cell">{{ form_widget(form_role_assignments_delete.role_assignments[role_assignment.id]) }}</td>
                <td>
                    {%- if role_assignment.usergroup is defined -%}
                        {{ ez_content_name( role_assignment.usergroup ) }}
                    {%- else -%}
                        {{ ez_content_name( role_assignment.user ) }}
                    {%- endif -%}
                </td>
                <td class="ez-limitation-cell">
                    {%- set limitation = role_assignment.rolelimitation -%}
                    {%- if limitation -%}
                        <ul class="list-unstyled">
                            <li>
                                <span class="font-weight-bold" title="{{ 'policy.limitation.identifier_tooltip' | trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}">
                                    {{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezrepoforms_policies')|desc('%identifier%') }}:
                                </span>
                                {{ ez_render_limitation_value(limitation) }}
                            </li>
                        </ul>
                    {%- else -%}
                        {{- 'policy.limitation.none'|trans|desc('None') -}}
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form_role_assignments_delete) }}
</section>
