{% trans_default_domain 'role' %}

<section class="container mt-4 px-5">
    <div class="ez-table-header">
        <h5>{{ 'role_assignment.view.list.title'|trans|desc('Assignments') }}</h5>

        <a href="{{ path('ezplatform.role_assignment.create', {roleId: role.id}) }}" class="btn btn-primary">
            {{ 'role_assignment.view.list.action.add'|trans|desc('Assign to Users/Groups') }}
        </a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'role_assignment.view.list.panel.assignments.column.user_group'|trans|desc('User/Group') }}</th>
            <th>{{ 'role_assignment.view.list.panel.assignments.column.limitation'|trans|desc('Limitation') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for role_assignment in assignments %}
            <tr>
                <td>
                    {%- if role_assignment.usergroup is defined -%}
                        {{ ez_content_name( role_assignment.usergroup ) }}
                    {%- else -%}
                        {{ ez_content_name( role_assignment.user ) }}
                    {%- endif -%}
                </td>
                <td>
                    {%- set limitation = role_assignment.rolelimitation -%}
                    {%- if limitation -%}
                        <ul class="list-unstyled">
                            <li>
                                <span class="font-weight-bold" title="{{ 'policy.limitation.identifier_tooltip' | trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}">
                                    {{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezrepoforms_policies')|desc('%identifier%') }}:
                                </span>
                                {{ ez_render_limitation_value(limitation) }}
                            </li>
                        </ul>
                    {%- else -%}
                        {{- 'policy.limitation.none'|trans|desc('None') -}}
                    {%- endif -%}
                </td>
                <td class="text-right">
                    {% set deleteForm = deleteFormsByAssignmentId[role_assignment.id] %}
                    {{ form_start(deleteForm, {
                        "action": path('ezplatform.role_assignment.delete', {
                            "roleId": role.id,
                            "assignmentId": role_assignment.id
                        })
                    }) }}
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_end(deleteForm) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
