{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% form_theme form_roles_delete '@EzPlatformAdminUi/parts/form/flat_widgets.html.twig' %}

{% block bodyClass %}ez-role-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'role.breadcrumb.list'|trans|desc('Roles') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'role.breadcrumb.list'|trans|desc('Roles'),
        iconName: 'roles'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-4 px-5">
        {{ form_start(form_roles_delete, {
            'action': path('ezplatform.role.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-roles' }
        }) }}
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'role.view.list.title'|trans|desc('Roles') }}</div>
            <div>
                <a title="{{ 'role.view.list.action.add'|trans|desc('Create a Role') }}" href="{{ path('ezplatform.role.create') }}" class="btn btn-primary">
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
                <button id="delete-roles" class="btn btn-danger btn--trigger" disabled data-click="#delete-roles_delete">
                    <svg class="ez-icon ez-icon-trash">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                    </svg>
                </button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'role.view.list.column.name'|trans|desc('Name') }}</th>
                    <th>{{ 'role.view.list.column.id'|trans|desc('Role ID') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td class="ez-checkbox-cell">{{ form_widget(form_roles_delete.roles[role.id]) }}</td>
                    <td>
                        <a href="{{ path('ezplatform.role.view', { roleId: role.id }) }}">
                            {{ role.identifier }}
                        </a>
                    </td>
                    <td>{{ role.id }}</td>
                    <td class="text-right">
                        <a title="{{ 'role.view.list.action.assign_to_users_or_groups'|trans|desc('Assign to Users/Groups') }}"
                           href="{{ path('ezplatform.role_assignment.create', { roleId: role.id }) }}" class="btn btn-icon mx-3">
                            <svg class="ez-icon ez-icon-relations ez-icon--secondary">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#relations"></use>
                            </svg>
                        </a>
                        <a title="{{ 'role.view.list.action.edit'|trans|desc('Edit') }}"
                           href="{{ path('ezplatform.role.update', { roleId: role.id }) }}" class="btn btn-icon mx-3">
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form_roles_delete) }}
    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
