{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { value: 'role.breadcrumb.view'|trans({'%identifier%': role.identifier })|desc('%identifier%') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'role.view.view.title'|trans({'%identifier%': role.identifier})|desc('"%identifier%" Role'),
        iconName: 'roles'
    } %}

    <ul class="nav nav-tabs px-4" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#policies" class="nav-link active" role="tab" data-toggle="tab">
                {{ 'policy.view.list.title'|trans|desc('Policies') }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#users-and-groups" class="nav-link" role="tab" data-toggle="tab">
                {{ 'role_assignment.view.list.title'|trans|desc('Assignments') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="policies">
            {{ render(controller('EzPlatformAdminUiBundle:Policy:list', {
                roleId: role.id
            })) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="users-and-groups">
            {{ render(controller('EzPlatformAdminUiBundle:RoleAssignment:list', {
                roleId: role.id
            })) }}
        </div>
    </div>

    {{ form_start(delete_form, { action: path('ezplatform.role.delete', {roleId: role.id}) }) }}
    <section class="container my-4 px-5">
        <div class="btn-toolbar" role="toolbar" >
            <a href="{{ path('ezplatform.role.update', {roleId: role.id}) }}" class="btn btn-info">
                {{ 'role.view.view.actions.edit'|trans|desc('Edit') }}
            </a>
            {{ form_widget(delete_form.delete, { 'attr': { 'class': 'btn btn-danger' } }) }}
        </div>
    </section>
    {{ form_end(delete_form) }}
{% endblock %}
