{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block bodyClass %}ez-role-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { value: 'role.breadcrumb.view.identifier'|trans({'%identifier%': role.identifier })|desc('Role "%identifier%"') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'role.view.view.title'|trans({'%identifier%': role.identifier})|desc('Role "%identifier%"'),
        iconName: 'roles'
    } %}

    <ul class="nav nav-tabs ez-nav-tabs--role px-4" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#policies" class="nav-link active" role="tab" data-toggle="tab">
                {{ 'policy.view.list.title'|trans|desc('Policies') }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#users-and-groups" class="nav-link" role="tab" data-toggle="tab">
                {{ 'role_assignment.view.list.title.count'|trans({'%count%': assignments|length})|desc('Assignments (%count%)') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="policies">
            {{ render(controller('EzPlatformAdminUiBundle:Policy:list', {
                roleId: role.id
            })) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="users-and-groups">
            {{ render(controller('EzPlatformAdminUiBundle:RoleAssignment:list', {
                roleId: role.id
            })) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
