{% extends "@ezdesign/content_type/content_type_group/base.html.twig" %}

{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'content_type' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { value: 'content_type_group.breadcrumb.edit'|trans({ '%identifier%': content_type_group.identifier })|desc('Editing Content Type group \'%identifier%\'') }
    ]} %}
{% endblock %}

{% block context_menu_admin %}
    {% set content_type_group_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_type_group_edit.sidebar_right', [], {'save_id': form.update.vars.id}) %}
    {{ knp_menu_render(content_type_group_edit_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}

{% block header_admin %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'content_type_group.view.edit.title'|trans({'%identifier%': content_type_group.identifier})|desc('Editing Content Type group \'%identifier%\''),
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

    <section>
        <div class="card ibexa-card ibexa-card--light">
            <div class="card-body ibexa-card__body">
                {{ form_row(form.identifier) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.update, {'attr': {'hidden': 'hidden'}}) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set content_type_group_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_type_group_edit.sidebar_right', [], {'save_id': form.update.vars.id}) %}
    {{ knp_menu_render(content_type_group_edit_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}
