{% if title is defined %}
    <div class="ez-page-title py-3 px-4">
        <h1 class="ez-page-title__content-item">
        {% if iconName is defined%}
            <svg class="ez-icon ez-icon-{{ iconName }}">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ iconName }}"></use>
            </svg>
        {% elseif content_type_identifier is defined %}
            <svg class="ez-icon ez-icon-{{ content_type_identifier }}">
                <use xlink:href="{{ ez_content_type_icon(content_type_identifier) }}"></use>
            </svg>
        {% endif %}
        {{ title }}
        </h1>
        {% if contentTypeName is defined %}
            <h4 class="ez-page-title__content-type-name">{{ contentTypeName }}</h4>
        {% endif %}
        {% if location is defined and location_is_bookmarked is defined %}
            {% include '@ezdesign/part/location_bookmark.html.twig' with {
                location: location,
                location_is_bookmarked: location_is_bookmarked
            } %}
        {% endif %}
    </div>
{% endif %}
