{% trans_default_domain 'locationview' %}

{% import _self as tab %}
{% form_theme form_archived_version_restore '@ezdesign/ui/form/flat_widgets.html.twig' %}
{% form_theme form_version_remove_draft '@ezdesign/ui/form_fields.html.twig' %}
{% form_theme form_version_remove_archived '@ezdesign/ui/form_fields.html.twig' %}

{% set table_template_path = table_template_path|default('@ezdesign/content/tab/versions/table.html.twig') %}
{% set show_drafts_table = show_drafts_table|default(draft_pager.currentPageResults is not empty) %}

{% block tab_content %}
    {% block table_wrapper_drafts %}
        {% if show_drafts_table %}
            <section>
                {{ form_start(form_version_remove_draft, {
                    'action': path('ezplatform.version.remove'),
                    'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations-' ~ form_version_remove_draft.remove.vars.id }
                }) }}
                {% block table_drafts %}
                    {% include '@ezdesign/ui/component/table/table_header.html.twig' with {
                        headline: 'tab.versions.draft_under_edit'|trans()|desc('Open drafts'),
                        actions: tab.table_header_tools(form_version_remove_draft),
                    } %}
                    {% include table_template_path with {
                        'versions': draft_pager.currentPageResults,
                        'is_draft': true,
                        'form': form_version_remove_draft,
                        'have_to_paginate': draft_pager.haveToPaginate,
                        'content_is_user': content_is_user
                    } %}

                    {% if draft_pager.haveToPaginate %}
                        {% include '@ezdesign/ui/pagination.html.twig' with {
                            'pager': draft_pager,
                            'paginaton_params' : {
                                'routeName': draft_pagination_params.route_name,
                                'routeParams': draft_pagination_params.route_params|merge({
                                    '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\VersionsTab::URI_FRAGMENT'),
                                }),
                                'pageParameter': '[page][version_draft]'
                            }
                        } %}
                    {% endif %}
                {% endblock %}
                {{ form_end(form_version_remove_draft) }}
            </section>
            {% include '@ezdesign/content/modal/version_conflict.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block table_wrapper_published %}
        {% if published_versions is not empty %}
            <section>
                {% block table_published %}
                    {% include '@ezdesign/ui/component/table/table_header.html.twig' with {
                        headline: 'tab.versions.published_version'|trans()|desc('Published version'),
                    } %}
                    {% include table_template_path with { 'versions': published_versions } %}
                {% endblock %}
            </section>
        {% endif %}
    {% endblock %}

    {% block table_wrapper_archived %}
        {% if archived_versions is not empty %}
            <section>
                {{ form_start(form_version_remove_archived, {
                    'action': path('ezplatform.version.remove'),
                    'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations-' ~ form_version_remove_archived.remove.vars.id }
                }) }}
                {% block table_archived %}
                    {% include '@ezdesign/ui/component/table/table_header.html.twig' with {
                        headline: 'tab.versions.archived_versions'|trans()|desc('Archived versions'),
                        actions: tab.table_header_tools(form_version_remove_archived),
                    } %}
                    {% include table_template_path with {
                        'versions': archived_versions,
                        'form': form_version_remove_archived,
                        'is_archived': true,
                        'form_archived_version_restore': form_archived_version_restore,
                        'content_is_user': content_is_user
                    } %}
                {% endblock %}
                {{ form_end(form_version_remove_archived) }}
            </section>
        {% endif %}

        {{ form_start(form_archived_version_restore, {
            'action': path('ezplatform.content.edit'),
            'attr': { 'class': 'ez-edit-content-form'}
        }) }}
        {{ form_widget(form_archived_version_restore.language, {'attr': {'hidden': 'hidden'}}) }}
        {{ form_end(form_archived_version_restore) }}
    {% endblock %}
{% endblock %}

{% macro table_header_tools(form) %}
    {% set modal_data_target = 'modal-' ~ form.remove.vars.id %}
    <button
        id="delete-translations-{{ form.remove.vars.id }}"
        type="button"
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text"
        disabled
        data-bs-toggle="modal"
        data-bs-target="#{{ modal_data_target }}"
        title="{{ 'tab.versions.action.delete'|trans|desc('Delete version') }}"
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
        </svg>
    </button>
    {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
    'id': modal_data_target,
    'message': 'tab.versions.modal.message'|trans|desc('Do you want to delete the version(s)?'),
    'data_click': '#' ~ form.remove.vars.id,
    } %}
{% endmacro %}
