{% trans_default_domain 'locationview' %}

{% form_theme form_translation_remove with ['@ezdesign/ui/form/flat_widgets.html.twig', '@ezdesign/ui/form_fields.html.twig'] %}

{% import _self as tab %}
{% set can_translate = can_translate is defined ? can_translate : true %}
<section>
    {% if can_translate %}
        {{ form_start(form_translation_remove, {
            'action': form_translation_remove_action|default(path('ezplatform.translation.remove')),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations' }
        }) }}
    {% endif %}

    {% set body_rows = [] %}
    {% for translation in translations %}
        {% set body_row_cols = [] %}

        {% set col_raw %}
            {% if can_translate %}
                {{ form_widget(form_translation_remove.language_codes[translation.languageCode], {'attr': {'disabled': not translation.canDelete}}) }}
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_checkbox: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_row_cols = body_row_cols|merge([
            { content: translation.name },
            { content: translation.languageCode },
        ]) %}

        {% if main_translation_switch %}
            {% set col_raw %}
                <input
                    class="ibexa-input ibexa-input--radio"
                    type="radio"
                    {{ translation.main ? 'checked' }}
                    {{ not translation.canEdit ? 'disabled' }}
                    name="main_translation_update"
                    value="{{ translation.languageCode }}"
                >
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}
        {% endif %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% set head_cols = [
        { has_checkbox: true },
        { content: 'tab.translations.language_name'|trans|desc('Language name') },
        { content: 'tab.translations.language_code'|trans|desc('Language code') },
    ] %}
    {% if main_translation_switch %}
        {% set head_cols = head_cols|merge([{
            content: 'tab.translations.main_language'|trans|desc('Main language'),
        }]) %}
    {% endif %}

    {% include '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'tab.translations.translation_manger'|trans|desc('Translation manager'),
        head_cols,
        body_rows,
        actions: tab.table_header_tools(form_translation_remove, can_translate),
    } %}

    {% if can_translate %}
        {{ form_end(form_translation_remove) }}
        {% block modal_add_translation %}
            {% include '@ezdesign/content/modal/add_translation.html.twig' with {'form': form_translation_add} only %}
        {% endblock %}
    {% endif %}

    {% if main_translation_switch %}
        {{ form(form_main_translation_update, {'action': path('ezplatform.content.update_main_translation')})}}
    {% endif %}
</section>

{% macro table_header_tools(form_translation_remove, can_translate) %}
    {% if can_translate %}
        <button type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text ibexa-btn--prevented ibexa-btn--add-translation" data-bs-toggle="modal" data-bs-target="#add-translation-modal"
                title="{{ 'tab.translations.action.add'|trans|desc('Add translation') }}">
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
            </svg>
        </button>

        {% set modal_data_target = 'delete-translations-modal' %}
        <button type="button" id="delete-translations" type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text" disabled data-bs-toggle="modal"
                data-bs-target="#{{ modal_data_target }}" title="{{ 'tab.translations.action.delete'|trans|desc('Delete Translation') }}">
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
            </svg>
        </button>
        {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
            'id': modal_data_target,
            'message': 'tab.translations.modal.message'|trans|desc('Do you want to delete the translation?'),
            'data_click': '#' ~ form_translation_remove.remove.vars.id,
        }%}
    {% endif %}
{% endmacro %}
