<div class="ez-header">
    <div class="container">
        <ul class="nav nav-tabs ibexa-tabs" role="tablist" id="ez-tab-list-{{ group }}">
            {% for tab in tabs %}
                {% set id = group ~ '-' ~ tab.identifier %}
                {% set active = loop.first %}
                <li class="nav-item ibexa-tabs__tab ez-tabs__tab--primary {% if active %}ibexa-tabs__tab--active{% endif %}">
                    <a class="nav-link{% if active %} active{% endif %} ibexa-tabs__link{% if active %} ibexa-tabs__link--active{% endif %}" id="ez-tab-label-{{ group }}"
                        data-toggle="tab" href="#ez-tab-{{ id }}" role="tab" aria-controls="ez-tab-{{ id }}"
                        aria-expanded="{{ active }}">{{ tab.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="tab-content container ibexa-tab-content" id="ez-tab-list-content-{{ group }}">
    {% for tab in tabs %}
        {% set id = group ~ '-' ~ tab.identifier %}
        {% set active = loop.first %}

        <div class="tab-pane{% if active %} active{% endif %} ibexa-tab-content__pane" id="ez-tab-{{ id }}" role="tabpanel"
                aria-labelledby="ez-tab-label-{{ group }}">
            {{ tab.view|raw }}
        </div>
    {% endfor %}
</div>
