{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { url: path('ezplatform.role.view', {roleId: role.id}), value: 'role.breadcrumb.view'|trans({ '%identifier%': role.identifier })|desc('%identifier%') },
        { value: 'policy.breadcrumb.edit'|trans({ '%module%': policy.module|capitalize, '%function%': policy.function|capitalize })|desc('Editing Policy "%module% / %function%"') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'policy.view.edit.title'|trans({ '%module%': policy.module|capitalize, '%function%': policy.function|capitalize })|desc('Editing Policy "%module% / %function%"'),
        iconName: 'roles'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <section class="container mt-4 px-5">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.policy) }}
            </div>
        </div>

        <div class="card ez-adminsection-edit mt-4">
            <div class="card-header">
                <h2>{{ 'policy.view.limitations.title'|trans|desc('Limitations') }}</h2>
            </div>
            <div class="card-body">
                {% for limitation_form in form.limitations %}
                    {{ form_widget(limitation_form) }}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="container my-4 px-5">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            {{ form_widget(form.save, {"attr": {"class": "btn btn-primary"}}) }}
        </div>
    </section>

    {{ form_end(form) }}
{% endblock %}
