{% trans_default_domain 'role' %}

<section class="container mt-4 px-5">
    <div class="ez-table-header">
        <h5>{{ 'policy.view.list.title'|trans|desc('Policies') }}</h5>

        <a href="{{ path('ezplatform.policy.create', {roleId: role.id}) }}" class="btn btn-primary">
            {{ 'policy.view.list.action.add'|trans|desc('Add a new Policy') }}
        </a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'policy.view.list.panel.policies.column.module'|trans|desc('Module') }}</th>
            <th>{{ 'policy.view.list.panel.policies.column.function'|trans|desc('Function') }}</th>
            <th>{{ 'role_assignment.view.list.panel.assignments.column.limitations'|trans|desc('Limitations') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for policy in role.policies %}
            <tr>
                <td>{{ policy.module|capitalize }}</td>
                <td>{{ policy.function|capitalize }}</td>
                <td>
                    {%- if policy.limitations is not empty -%}
                        <ul class="list-unstyled">
                            {%- for limitation in policy.limitations -%}
                                <li>
                                    <span class="font-weight-bold" title="{{ 'policy.limitation.identifier_tooltip'|trans({'%identifier%': limitation.identifier})|desc('"%identifier%" Limitation') }}">
                                        {{ ('policy.limitation.identifier.' ~ limitation.identifier|lower)|trans({'%identifier%': limitation.identifier}, 'ezrepoforms_policies')|desc('%identifier%') }}:
                                    </span>
                                    {{ ez_render_limitation_value(limitation) }}
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- else -%}
                        {{- 'policy.limitation.none'|trans|desc('None') -}}
                    {%- endif -%}
                </td>
                <td class="text-right">
                    {% set deleteForm = deleteFormsByPolicyId[policy.id] %}
                    {{ form_start(deleteForm, {
                        "action": path('ezplatform.policy.delete', {
                            "roleId": role.id,
                            "policyId": policy.id
                        })
                    }) }}
                    <a href="{{ path('ezplatform.policy.update', { roleId: role.id, policyId: policy.id }) }}" class="btn btn-info">
                        {{ 'policy.view.list.panel.policies.action.edit'|trans|desc('Edit') }}
                    </a>
                    {{ form_widget(deleteForm.delete, {
                        "attr": {"class": "btn btn-danger"}
                    }) }}
                    {{ form_end(deleteForm) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
