{% trans_default_domain 'notifications' %}

<table
    data-notifications="{{ path('ezplatform.notifications.render.page') }}"
    data-notifications-count="{{ path('ezplatform.notifications.count') }}"
    data-notifications-total="{{ pager.nbResults }}"
    class="table n-table--notifications">
    <thead>
    <tr>
        <th>{{ 'notification.type'|trans|desc('Type') }}</th>
        <th>{{ 'notification.description'|trans|desc('Description') }}</th>
        <th>{{ 'notification.date'|trans|desc('Date') }}</th>
    </tr>
    </thead>
    <tbody class="n-table__body">
    {% if pager.count is same as(0) %}
        <tr>
            <td colspan="3">
                <span class="ez-table-no-content mb-0 py-1 pl-0">
                    {{ 'bookmark.list.empty'|trans|desc('You have no notifications.') }}
                </span>
            </td>
        </tr>
    {% else %}
        {{ notifications|raw }}
    {% endif %}
    </tbody>
</table>
{% if pager.haveToPaginate %}
    <div class="row justify-content-center align-items-center ez-pagination__spacing">
        <span class="ez-pagination__text">
            {{ 'pagination.viewing'|trans({
                '%viewing%': pager.currentPageResults|length,
                '%total%': pager.nbResults}, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw }}
        </span>
    </div>
    <div class="row justify-content-center align-items-center ez-pagination__btn">
        {{ pagination|raw }}
    </div>
{% endif %}
