{% form_theme form '@ezdesign/form_fields.html.twig' %}

{% include '@ezdesign/parts/table_header.html.twig' with {
    headerText: 'tab.locations.location_content_swap'|trans()|desc('Location Content Swap'),
    ground: 'ground-base'
} %}

{{ form_start(form, {'action': path('ezplatform.location.swap')}) }}
<div class="bg-white p-3 mb-5">
    {{ 'tab.locations.swap_with_another'|trans()|desc('Swap the content item at this location with another') }}
    {{ form_widget(form.swap, {'attr': {
        'disabled': not can_swap,
        'class': 'btn-outline-secondary btn--udw-swap ml-5',
        'data-udw-config': ez_udw_config('single_container', {})
    }}) }}
    {{ form_widget(form.current_location) }}
    {{ form_widget(form.new_location) }}
</div>
{{ form_end(form) }}
