{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig' %}

{% include '@EzPlatformAdminUi/parts/table_header.html.twig' with {
    headerText: 'tab.locations.location_content_swap'|trans()|desc('Location Content Swap'),
    ground: 'ground-base'
} %}

{{ form_start(form, {'action': path('ezplatform.location.swap')}) }}
<table class="table ez-table--no-border">
    <tbody>
    <tr>
        <td>
            {{ 'tab.locations.swap_with_another'|trans()|desc('Swap the content item at this location with another') }}
            {{ form_widget(form.swap, {'attr': {'class': 'btn-outline-secondary btn--udw-swap ml-5', 'data-root-location': '1'}}) }}
            {{ form_widget(form.current_location) }}
            {{ form_widget(form.new_location) }}
        </td>
    </tr>
    </tbody>
</table>
{{ form_end(form) }}
