{% trans_default_domain 'locationview' %}
{% import _self as tab %}
{% form_theme form_content_location_add 'EzPlatformAdminUiBundle:parts/form:flat_widgets.html.twig' %}
{% form_theme form_content_location_remove 'EzPlatformAdminUiBundle:parts/form:flat_widgets.html.twig' %}

<section>
    {{ form(form_content_location_add, {'action': path('ezplatform.location.add')}) }}
    {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with { headerText: 'tab.locations.content_locations'|trans()|desc('Content locations'), tools: tab.table_header_tools(form_content_location_add, form_content_location_remove) } %}
    {{ form_start(form_content_location_remove, {
        'action': path('ezplatform.location.remove'),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-locations' }
    }) }}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'tab.locations.path'|trans()|desc('Path') }}</th>
            <th>{{ 'tab.locations.subitems'|trans()|desc('Sub-items') }}</th>
            <th colspan="2">{{ 'tab.locations.visibility'|trans()|desc('Visibility') }}</th>
            <th>{{ 'tab.locations.main'|trans()|desc('Main') }}</th>
        </tr>
        </thead>
        <tbody>
        {% if locations is not empty %}
            {% for location in locations %}
                <tr>
                    <td class="align-middle ez-checkbox-cell">
                        {{ form_widget(form_content_location_remove.locations[location.id], {'attr': {'disabled': not location.canDelete}}) }}
                    </td>
                    <td class="align-middle">
                        {% include 'EzPlatformAdminUiBundle:parts:path.html.twig' with {'locations': location.pathLocations} %}
                    </td>
                    <td class="align-middle">{{ location.childCount }}</td>
                    <td>
                        {% if location.invisible and not location.hidden %}
                            {{ 'tab.locations.hidden_by_superior'|trans()|desc('Hidden by superior') }}
                        {% else %}
                            <label class="ez-checkbox-icon {{ not location.hidden ? 'is-checked' }}">
                                <svg class="ez-icon ez-icon-view">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#view"></use>
                                </svg>
                                <svg class="ez-icon ez-icon-view-hide">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#view-hide"></use>
                                </svg>
                                <input class="ez-checkbox-icon__checkbox" {{ not location.hidden ? 'checked' }} type="checkbox" name="updateVisibility" value="{{ location.id }}">
                            </label>
                        {% endif %}
                    </td>
                    <td class="align-middle"></td>
                    <td class="align-middle">
                        <input {{ location.main ? 'checked' }} type="radio" name="updateMainLocation" value="{{ location.id }}">
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ form_end(form_content_location_remove) }}

    {{ form(form_content_location_update_visibility, {'action': path('ezplatform.location.update_visibility')})}}
    {{ form(form_content_location_main_update, {'action': path('ezplatform.content.update_main_location')})}}

</section>

{% include 'EzPlatformAdminUiBundle:content/tab/locations:panel_swap.html.twig' with {'form': form_content_location_swap} %}

{% macro table_header_tools(form_add, form_remove) %}
    <button class="btn btn-primary btn--udw-add">
        <svg class="ez-icon ez-icon-create">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
        </svg>
    </button>

    {% set modal_data_target = 'delete-content-types-modal' %}
    <button id="delete-locations" type="button" class="btn btn-danger" disabled data-toggle="modal"
            data-target="#{{ modal_data_target }}">
        <svg class="ez-icon ez-icon-trash">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
        </svg>
    </button>
    {% include '@EzPlatformAdminUi/bulk_delete_confirmation_modal.html.twig' with {
        'id': modal_data_target,
        'message': 'tab.locations.modal.message'|trans|desc('Do you want to delete Location?'),
        'data_click': '#' ~ form_remove.remove.vars.id,
    }%}
{% endmacro %}

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
