{% extends "EzPlatformAdminUiBundle::layout.html.twig" %}

{% trans_default_domain 'search' %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">

        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="col-sm-10 px-0">
            <section class="container mt-5">
                {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with { title: 'search.headline'|trans|desc('Search'), iconName: 'search' } %}

                {% include '@EzPlatformAdminUi/admin/search/search_form.html.twig' with { form: form } %}

                <div class="ez-table-header mt-3">
                    <div class="ez-table-header__headline">{{ 'search.header'|trans({'%total%': pagerfanta.nbResults})|desc('Search results (%total%)') }}</div>
                </div>

                {% if results is empty %}
                    <table class="table">
                        <tr>
                            <td colspan="4">
                                <span>{{ 'search.no_result'|trans({'%query%': form.vars.value.query})|desc('Sorry, no results were found for "%query%".') }}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="ez-main-row">
                        <h6>{{ 'search.tips.headline'|trans|desc('Some helpful search tips:') }}</h6>
                        <ul>
                            <li>{{ 'search.tips.check_spelling'|trans|desc('Check spelling of keywords.') }}</li>
                            <li>{{ 'search.tips.different_keywords'|trans|desc('Try different keywords.') }}</li>
                            <li>{{ 'search.tips.more_general_keywords'|trans|desc('Try more general keywords.') }}</li>
                            <li>{{ 'search.tips.fewer_keywords'|trans|desc('Try fewer keywords. Reducing keywords result in more matches.') }}</li>
                        </ul>
                    </div>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'search.name'|trans|desc('Name') }}</th>
                            <th>{{ 'search.modified'|trans|desc('Modified') }}</th>
                            <th>{{ 'search.type'|trans|desc('Content Type') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in results %}
                            {% include '@EzPlatformAdminUi/admin/search/search_table_row.html.twig' with { row: row } %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row justify-content-center align-items-center">
                        <h6>{{ 'search.viewing'|trans({'%viewing%': pagerfanta.currentPageResults|length, '%total%': pagerfanta.nbResults})|desc('Viewing %viewing% out of %total% sub-items') }}</h6>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        {% if pagerfanta.haveToPaginate %}
                            {{ pagination|raw }}
                        {% endif %}
                    </div>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'search.list'|trans }}{% endblock %}
