<tr>
    <td class="ez-table__cell ez-table__cell--has-icon">
        <svg class="ez-icon ez-icon--small">
            <use xlink:href="{{ ez_content_type_icon(row.content_type.identifier) }}"></use>
        </svg>
    </td>   
    <td class="ez-table__cell ez-table__cell--after-icon">
        <a href="{{ url('_ez_content_view', { 'contentId': row.contentId }) }}">{{ row.name }}</a>
    </td>
    <td class="ez-table__cell">{{ row.modified|ez_full_datetime }}</td>
    <td class="ez-table__cell">{{ row.type }}</td>
    <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
        <button class="btn btn-icon mx-2 ez-btn--content-edit"
                data-content-id="{{ row.contentId }}"
                data-version-no="{{ row.version }}"
                data-language-code="{{ row.initialLanguageCode }}">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
            </svg>
        </button>
    </td>
</tr>
