{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{{ form_start(form) }}
<div class="input-group px-4">
    {{ form_widget(form.query) }}

    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
            <svg class="ez-icon ez-icon-search-button">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            {{ 'search.perform'|trans|desc('Search') }}</button>
    </span>
</div>
{{ form_end(form) }}
