<tr>
    <td>
        <a href="{{ url('_ez_content_view', { 'contentId': row.contentId }) }}">{{ row.name }}</a>
    </td>
    <td>{{ row.modified|localizeddate('medium', 'short') }}</td>
    <td>{{ row.type }}</td>
    <td class="text-center">
        <button class="btn btn-icon ez-btn--content-edit"
                data-content-id="{{ row.contentId }}"
                data-version-no="{{ row.version }}"
                data-language-code="{{ row.initialLanguageCode }}">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
            </svg>
        </button>
    </td>
</tr>
