{% form_theme form '@ezdesign/form_fields.html.twig'  %}

{% trans_default_domain 'search' %}

{{ form_start(form) }}
<div class="input-group pl-4">
    {{ form_widget(form.query) }}

    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary font-weight-bold ez-btn--search">
            <svg class="ez-icon ez-icon--medium ez-icon--light">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            <span class="ez-btn ez-btn--search-label">{{ 'search.perform'|trans|desc('Search') }}</span></button>
        <button type="button" class="btn btn-dark ez-btn--filter ml-4">
            <svg class="ez-icon ez-icon--medium ez-icon--light ez-icon-filters">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#filters"></use>
            </svg>
            <span class="ez-btn ez-btn--filter-label">{{ 'search.filters'|trans|desc('Filters') }}</span></button>
    </span>
</div>
<div class="ez-filters mt-4 ml-4 pt-2 {% if not filters_expanded %} ez-filters--collapsed{% endif %}">
    <div class="ez-filters__row">
        <div class="ez-filters__item ez-filters__item--content-type">
            <label class="ez-filters__item-label">{{ 'search.content.type'|trans|desc('Content Type:') }}</label>
            <select class="form-control ez-filters__select ez-filters__select--content-type" hidden="true">
                <option class="ez-filters__option ez-filters__option--hidden" data-default="{{ 'search.any.content.type'|trans|desc('Any content type') }}" value="">{{ 'search.any.content.type'|trans|desc('Any content type') }}</option>
            </select>
            {{ form_widget(form.content_types, {'attr': {'class': 'ez-filters__select'}}) }}
        </div>
    </div>
    <div class="ez-filters__row">
        {% if form.section is defined %}
            <div class="ez-filters__item ez-filters__item--section">
                <label class="ez-filters__item-label">{{ 'search.section'|trans|desc('Section:') }}</label>
                {{ form_widget(form.section, {'attr': {'class': 'ez-filters__select'}}) }}
            </div>
        {% endif %}
        <div class="ez-filters__item ez-filters__item--subtree">
            <label class="ez-filters__item-label">{{ 'search.subtree'|trans|desc('Subtree:') }}</label>
            {% set subtree = form.vars.data.subtree %}
            <div>
                <button class="btn btn-secondary ez-btn--udw-select-location"
                    type="button"
                    {% if form.subtree.vars.value is not empty %} hidden="true" {% endif %}
                    data-universal-discovery-title="{{'search.udw.select_content'|trans|desc('Select Content')}}"
                    data-location-path-input-selector="#{{form.subtree.vars.id}}"
                    data-content-breadcrumbs-selector="#{{form.subtree.vars.id}}-content-breadcrumbs"
                    data-clear-btn-selector="#{{form.subtree.vars.id}}-clear-btn"
                    data-udw-config="{{ ez_udw_config('single_container', {}) }}"
                    >{{'search.select_content'|trans|desc('Select Content')}}</button>
                <div class="ez-filters__subtree" id="{{form.subtree.vars.id}}-content-breadcrumbs">
                    <div class="ez-filters__subtree__breadcrumbs">
                        {% if form.subtree.vars.value is not empty %}
                            {% set locationList = ez_path_string_to_locations(form.subtree.vars.value) %}
                            {% for location in locationList %}
                                {{ ez_content_name(location.contentInfo) }}
                                {% if loop.revindex > 1 %}/{% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <svg id="{{form.subtree.vars.id}}-clear-btn"
                        class="ez-icon ez-icon--medium ez-icon--reset">
                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
                    </svg>
                </div>
            </div>
            {{ form_widget(form.subtree) }}
        </div>
    </div>
    <div class="ez-filters__row">
        <div class="ez-filters__item ez-filters__item--modified">
            <label class="ez-filters__item-label">{{ 'search.last.modified'|trans|desc('Last modified:') }}</label>
            {{ form_widget(form.last_modified_select, {'attr': {'class': 'ez-filters__select', 'data-target-selector': '.ez-modal--select-modified-range'}}) }}
        </div>
        <div class="ez-filters__item ez-filters__item--created">
            <label class="ez-filters__item-label">{{ 'search.created'|trans|desc('Created:') }}</label>
            {{ form_widget(form.created_select, {'attr': {'class': 'ez-filters__select', 'data-target-selector': '.ez-modal--select-created-range'}}) }}
        </div>
        <div class="ez-filters__item ez-filters__item--creator">
            <label class="ez-filters__item-label">{{ 'search.creator'|trans|desc('Creator:') }}</label>
            {% set creator = form.vars.data.creator %}
            <input type="text"
                class="form-control ez-filters__input"
                data-content-type-identifiers="{{ user_content_type_identifier|join(',') }}"
                value="{{ creator is not empty ? ez_content_name(creator) }}"
                placeholder="{{ 'search.creator_input.placeholder'|trans|desc('Type creator') }}"
                {{ creator is not empty ? 'disabled'  }}
            >
            <svg class="ez-icon ez-icon--light ez-icon--medium ez-icon--reset">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
            </svg>
            <ul class="ez-filters__user-list ez-filters__user-list--hidden"></ul>
        </div>
    </div>
    <div class="ez-filters__btns">
        <button class="btn btn-dark ez-btn-clear">
            {{ 'search.clear'|trans|desc('Clear') }}</button>
        <button type="submit" class="btn btn-secondary ez-btn-apply font-weight-bold" disabled>
            {{ 'search.apply'|trans|desc('Apply') }}</button>
    </div>
</div>
{{ form_widget(form.last_modified, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.created, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.creator, {'attr': {'hidden': 'hidden'}}) }}
<div class="modal fade ez-modal ez-modal--select-modified-range" tabindex="-1" role="dialog" data-period-selector="#search_last_modified_date_interval" data-end-selector="#search_last_modified_end_date">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'search.date.range'|trans|desc('Select date range') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#discard"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <label class="ez-filters__item-label ez-filters__item-label--date-range">{{ 'search.date.from'|trans|desc('From:') }}
                    <input type="text" class="form-control ez-date-select ez-date-select--start" data-target-selector="#modified-start-range">
                    <input type="text" id="modified-start-range" hidden>
                </label>
                <label class="ez-filters__item-label ez-filters__item-label--date-range">{{ 'search.date.to'|trans|desc('To:') }}
                    <input type="text" class="form-control ez-date-select ez-date-select--end" data-target-selector="#modified-end-range">
                    <input type="text" id="modified-end-range" hidden>
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    {{ 'modal.cancel'|trans|desc('Cancel') }}
                </button>
                <button class="btn btn-secondary ez-btn--select font-weight-bold" data-dismiss="modal" disabled>
                    {{ 'modal.select'|trans|desc('Select') }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade ez-modal ez-modal--select-created-range" tabindex="-1" role="dialog" data-period-selector="#search_created_date_interval" data-end-selector="#search_created_end_date">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'search.date.range'|trans|desc('Select date range') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#discard"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <label class="ez-filters__item-label ez-filters__item-label--date-range">{{ 'search.date.from'|trans|desc('From:') }}
                    <input type="text" class="form-control ez-date-select ez-date-select--start" data-target-selector="#created-start-range">
                    <input type="text" id="created-start-range" hidden>
                </label>
                <label class="ez-filters__item-label ez-filters__item-label--date-range">{{ 'search.date.to'|trans|desc('To:') }}
                    <input type="text" class="form-control ez-date-select ez-date-select--end" data-target-selector="#created-end-range">
                    <input type="text" id="created-end-range" hidden>
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    {{ 'modal.cancel'|trans|desc('Cancel') }}
                </button>
                <button class="btn btn-secondary ez-btn--select font-weight-bold" data-dismiss="modal" disabled>
                    {{ 'modal.select'|trans|desc('Select') }}
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
