{{ form_start(form) }}
<div class="input-group">
    {{ form_widget(form.query, {'attr': {'class': 'form-control'} }) }}
    {{ form_widget(form.page, {'attr': {'value': 1 }}) }} {# @todo refactor the action to avoid doing that #}

    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
            <svg class="ez-icon ez-icon-search-button">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            {{ 'search.perform'|trans|desc('Search') }}</button>
    </span>
</div>
{{ form_end(form) }}
