{% extends '@ezdesign/content/edit/base.html.twig' %}

{% trans_default_domain 'content_create' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}"/>
{% endblock %}

{% block details %}
    <div class="ez-edit-header">
        <div class="ez-edit-header__content-type-name">
            <a class="ez-content-edit-container__close" href="{{ path('_ezpublishLocation', {'locationId': parent_location.id}) }}">
                <svg class="ez-icon ez-icon--small-medium">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#discard"></use>
                </svg>
            </a>
            <div class="container px-5">
                {{ 'new_content_item'|trans({'%contentType%': content_type.name})|desc('New %contentType%') }}
            </div>
        </div>
        <div class="ez-edit-header__details">
            <div class="container ez-details-items">
                {{ 'creating_details'|trans({
                    '%icon%': ez_content_type_icon(content_type.identifier), 
                    '%content_type_name%': content_type.name, 
                    '%language_name%': language.name, 
                    '%location_name%': parent_location.contentInfo.name})
                    |desc('
                        <span class="ez-details-items__connector">Creating:</span>
                        <span class="ez-badge ez-badge--small ez-details-items__pill ez-details-items__pill--content-type">
                        <svg class="ez-icon ez-icon--small ez-icon-%identifier%">
                            <use xlink:href="%icon%"></use>
                        </svg>
                        %content_type_name%
                        </span>
                        <span class="ez-details-items__connector ez-details-items__connector--small">in</span>
                        <span class="ez-badge ez-badge--small ez-details-items__pill ez-details-items__pill--language">%language_name%</span>
                        <span class="ez-details-items__connector ez-details-items__connector--small">under</span>
                        <span class="ez-badge ez-badge--small ez-details-items__pill ez-details-items__pill--location">%location_name%</span>')
                    |raw 
                }}
            </div>
        </div>

        <div class="ez-content-item__errors-wrapper" hidden>
            {{ 'errors.in.the.form'|trans({},'content_edit')|desc('Cannot save the form. Check required Fields or validation errors.') }}
        </div>
        {# @todo remove if statement once getDescription() bug is resolved in kernel #}
        {% if content_type.descriptions is not empty %}
            <div class="small text-muted">{{ content_type.description }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block form_fields %}
    <section class="container mt-4 mb-5 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ parent() }}
                {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block right_sidebar %}
    {% set content_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_create.sidebar_right', [], {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language,
        'content_create_struct': content_create_struct
    }) %}
    {{ knp_menu_render(content_create_sidebar_right, {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block form_before %}
    {{ ez_render_component_group('content-create-form-before', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ez_render_component_group('content-create-form-after', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}
