{% extends '@ezdesign/content/edit/base.html.twig' %}

{% trans_default_domain 'content_create' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}" />
{% endblock %}

{% block details %}
    <div class="container mt-5 px-5">
        <h2 class="ez-content-item-status">{{ 'creating_in_language'|trans({'%contentTypeName%': content_type.name, '%languageName%': language.name})|desc('Creating - %contentTypeName% in %languageName%') }}</h2>
        <h1>
            <svg class="ez-icon ez-icon-{{ content_type.identifier }}">
                <use xlink:href="{{ ez_content_type_icon(content_type.identifier) }}"></use>
            </svg>
            {{ 'new_content_item'|trans({'%contentType%': content_type.name})|desc('New %contentType%') }}
        </h1>

        <div class="small">
            {{ content_type.name }} / Parent Location ID: {{ parent_location.id }}
        </div>
        <div class="ez-content-item__errors-wrapper" hidden>
            {{ 'errors.in.the.form'|trans({},'content_edit')|desc('Looks like something went wrong. Please check for required fields or errors and correct them') }}
        </div>
        {# @todo remove if statement once getDescription() bug is resolved in kernel #}
        {% if contentType.descriptions is not empty %}
            <div class="small text-muted">{{ contentType.description }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block form_fields %}
    <section class="container mt-4 mb-5 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ parent() }}
                {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>

    </section>
{% endblock %}

{% block right_sidebar %}
    {% set content_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_create.sidebar_right', [], {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language,
        'content_create_struct': content_create_struct
    }) %}
    {{ knp_menu_render(content_create_sidebar_right, {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block close_button %}
    <a class="ez-content-edit-container__close" href="{{ path('_ezpublishLocation', {'locationId': parent_location.id}) }}"></a>
{% endblock %}

{% block form_before %}
    {{ ezplatform_admin_ui_component_group('content-create-form-before', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ezplatform_admin_ui_component_group('content-create-form-after', {
        'parent_location': parent_location,
        'content_type': content_type,
        'language': language
    }) }}
{% endblock %}
