{% trans_default_domain 'locationview' %}

<section>
    {% include '@ezdesign/ui/table_header.html.twig' with {
        header_text: 'tab.relations.related_content'|trans({
            '%contentName%' : ez_content_name(content)
        })|desc('Related content (Content items used by %contentName%)') } %}
    {% if relations is not empty %}
        {{ include('@ezdesign/content/tab/relations/table_relations.html.twig', {'relations': relations}) }}
    {% else %}
        <p class="ez-table-no-content">
            {{ 'tab.relations.no_relations'|trans()|desc('This Content item has no related content.') }}
        </p>
    {% endif %}

    {% if reverse_relation_pager is defined %}
        {% include '@ezdesign/ui/table_header.html.twig' with {
            header_text: 'tab.relations.reverse_relations'|trans({
                '%contentName%' : ez_content_name(content)
            })|desc('Reverse relations (Content items using %contentName%)')
        } %}
        {% if reverse_relation_pager.currentPageResults is not empty %}
            {{ include('@ezdesign/content/tab/relations/table_relations_reverse.html.twig', {
                'relations': reverse_relation_pager.currentPageResults
            }) }}
        {% else %}
            <p class="ez-table-no-content">
                {{ 'tab.relations.no_reverse_relations'|trans()|desc('This Content item has no reverse Relations.') }}
            </p>
        {% endif %}
        {% if reverse_relation_pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center ez-pagination__spacing">
                    <span class="ez-pagination__text">
                        {{ 'pagination.viewing'|trans({
                            '%viewing%': reverse_relation_pager.currentPageResults|length,
                            '%total%': reverse_relation_pager.nbResults
                        }, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw }}
                    </span>
            </div>
            <div class="row justify-content-center align-items-center ez-pagination__btn mb-4">
                {{ pagerfanta(reverse_relation_pager, 'ez', {
                    'routeName': reverse_relation_pagination_params.route_name,
                    'routeParams': reverse_relation_pagination_params.route_params|merge({
                        '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\RelationsTab::URI_FRAGMENT'),
                    }),
                    'pageParameter': '[page][reverse_relation]'
                }) }}
            </div>
        {% endif %}
    {% endif %}
</section>
