{% extends view_base_layout is defined ? view_base_layout : '@ezdesign/ui/layout.html.twig' %}

{% set default_form_templates = ez_admin_ui_config.contentEditFormTemplates %}
{% set form_templates = form_templates is defined ? default_form_templates|merge(form_templates) : default_form_templates %}

{% trans_default_domain 'content_edit' %}
{% form_theme form with form_templates %}

{% block body_class %}ez-standalone-page ez-content-edit{% endblock %}
{% block header_class %}ez-header--content-edit{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row ez-main-row--edit">
        {% block left_sidebar %}{% endblock left_sidebar %}

        <div class="ez-content-edit-container">
            {% block details %}{% endblock %}

            {% block form_before %}{% endblock %}

            {% block form %}
                {{ form_start(form, {'attr': {'class': 'ez-form-validate'}}) }}

                {% block form_fields %}
                    {% if grouped_fields is defined and grouped_fields|length > 1 %}
                        <ul class="nav nav-tabs ez-nav-tabs--content-edit ez-tabs" role="tablist">
                            {% for key, group in grouped_fields %}
                                {% set sanitized_key = key|slug %}
                                <li role="presentation" class="nav-item ez-tabs__nav-item" id="item-{{ sanitized_key }}">
                                    <a href="#{{ sanitized_key }}" class="nav-link {{ loop.first ? 'active' }}" role="tab" data-toggle="tab">
                                        {{ key|capitalize }}
                                    </a>
                                    {% include '@ezdesign/ui/component/warning_icon.html.twig' %}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content px-3">
                            {% for key, group in grouped_fields %}
                                {% set sanitized_key = key|slug %}
                                <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' }}" id="{{ sanitized_key }}">
                                    {% for field in group %}
                                        {% set formField = form.fieldsData[field] %}
                                        
                                        {% if not formField.rendered %}
                                            {% if formField.value is defined %}
                                                {{- form_widget(formField) -}}
                                            {% else %}
                                                <div class="ez-field-edit ez-field-edit--eznoneditable">
                                                    {{- form_label(formField) -}}
                                                    <p class="non-editable">
                                                        {{ "content.field.non_editable"|trans|desc('This Field Type is not editable') }}
                                                    </p>
                                                    {% do formField.setRendered() %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="px-3">
                            {% for field in form.fieldsData %}
                                {% if not field.rendered %}
                                    {% if field.value is defined %}
                                        {{- form_widget(field) -}}
                                    {% else %}
                                        <div class="ez-field-edit ez-field-edit--eznoneditable">
                                            {{- form_label(field) -}}
                                            <p class="non-editable">
                                                {{ "content.field.non_editable"|trans|desc('This Field Type is not editable') }}
                                            </p>
                                            {% do field.setRendered() %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {%- endfor %}
                        </div>
                    {% endif %}
                {% endblock %}

                {{ form_end(form) }}
            {% endblock %}

            {% block form_after %}{% endblock %}
        </div>

        {% block right_sidebar_wrapper %}
            <div class="ez-context-menu">
                <div class="ez-sticky-container">
                    {% block right_sidebar %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {% include '@ezdesign/content/edit/javascripts.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {% include '@ezdesign/content/edit/stylesheets.html.twig' %}
{% endblock %}
