{% extends '@ezdesign/content/edit/base.html.twig' %}

{% trans_default_domain 'content_edit' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}" />
{% endblock %}

{% block details %}
    <div class="container mt-5 px-5">
        <h2 class="ez-content-item-status">{{ 'editing_in_language'|trans({'%contentName%': content.name, '%languageName%': language.name})|desc('Editing %contentName% in %languageName%') }}</h2>
        <h1>
            <svg class="ez-icon ez-icon-{{ content_type.identifier }}">
                <use xlink:href="{{ ez_content_type_icon(content_type.identifier) }}"></use>
            </svg>
            {{ content.name }}
        </h1>

        <div class="small">
            {{ content_type.name }} /
            {% if creator is not null %}{{ 'created_by'|trans({'%name%': ez_content_name(creator)})|desc('Created by %name%') }} /{% endif %}
            {{ content.versionInfo.contentInfo.publishedDate|ez_full_datetime }} /
            {{ 'content_id'|trans({'%contentId%': content.id})|desc('Content ID: %contentId%') }},
            {% if is_published == false %}
                {{ 'parent_location_id'|trans({'%locationId%': parent_location.id})|desc('Parent Location ID: %locationId%') }}
            {% else %}
                {{ 'location_id'|trans({'%locationId%': location.id})|desc('Location ID: %locationId%') }}
            {% endif %}
        </div>
        <div class="ez-content-item__errors-wrapper" hidden>
            {{ 'errors.in.the.form'|trans({},'content_edit')|desc(Cannot save the form. Check required Fields or validation errors.') }}
        </div>
        {# @todo remove if statement once getDescription() bug is resolved in kernel #}
        {% if content_type.descriptions is not empty %}
            <div class="small text-muted">{{ content_type.description }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block form_fields %}
    <section class="container mt-4 px-5 mb-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ parent() }}
                {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block right_sidebar %}
    {% set content_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_edit.sidebar_right', [], {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) %}
    {{ knp_menu_render(content_edit_sidebar_right, {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block close_button %}
    {% set referrer_location = is_published ? location : parent_location %}
    <a class="ez-content-edit-container__close" href="{{ path('_ezpublishLocation', {'locationId': referrer_location.id }) }}"></a>
{% endblock %}

{% block form_before %}
    {{ ez_render_component_group('content-edit-form-before', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ez_render_component_group('content-edit-form-after', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}
