{% extends '@ezdesign/content/edit_base.html.twig' %}

{% trans_default_domain 'content_edit' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}"/>
{% endblock %}

{% block header %}
    {% set content_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_edit.sidebar_right', [], {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language,
    }) %}

    {% include '@ezdesign/ui/edit_header.html.twig' with {
        action_name: 'editing'|trans|desc('Editing'),
        title: content.name,
        icon_name: 'content-type',
        show_autosave_status: true,
        description: content_type.description,
        subtitle: 'editing_details'|trans({ '%location_name%': parent_location.contentInfo.name })|desc('under %location_name%'),
        context_actions: knp_menu_render(content_edit_sidebar_right, { 'template': '@ezdesign/ui/menu/context_menu.html.twig' })
    } %}
{% endblock %}

{% block form_before %}
    {{ ez_render_component_group('content-edit-form-before', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}

{% block form_fields %}
    <section class="container">
        <div class="card ibexa-card ibexa-card--light">
            <div class="card-body">
                {{ parent() }}
                {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block form_after %}
    {{ ez_render_component_group('content-edit-form-after', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}
