{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'content_create_draft' %}
{% form_theme form with '@ezdesign/content/form_fields.html.twig' %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}{% endblock left_sidebar %}
        <div class="px-0 pb-4 mt-5 ez-content-container">
            <div class="container">
                {{ form_start(form) }}
                {{ form_row(form.contentId, {'attr': {'readonly': 'readonly'}}) }}
                {{ form_row(form.fromVersionNo, {'attr': {'readonly': 'readonly'}}) }}
                {{ form_row(form.fromLanguage, {'attr': {'readonly': 'readonly'}}) }}
                {{ form_widget(form.createDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="pt-4 px-0 bg-secondary ez-context-menu">
            <button class="btn btn-secondary btn-block btn--trigger" data-click="#ezrepoforms_content_draft_create_createDraft">
                <svg class="ez-icon ez-icon-edit">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
                </svg>
                {{ 'create_and_edit'|trans|desc('Create and edit') }}
            </button>
        </div>
    </div>
{% endblock %}
