{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.database'|trans|desc('Database') }} -->

<table class="table ez-table--list">
    <thead>
        <tr>
            <th colspan="2">{{ 'database'|trans|desc('Database') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'database.type'|trans|desc('Type') }}</td>
            <td>{{ info.type }}</td>
        </tr>
        <tr>
            <td>{{ 'database.name'|trans|desc('Name') }}</td>
            <td>{{ info.name }}</td>
        </tr>
        <tr>
            <td>{{ 'database.host'|trans|desc('Host') }}</td>
            <td>{{ info.host }}</td>
        </tr>
        <tr>
            <td>{{ 'database.username'|trans|desc('Username') }}</td>
            <td>{{ info.username }}</td>
        </tr>
    </tbody>
</table>
