{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.hardware'|trans|desc('Hardware') }} -->

<table class="table ez-table--list">
    <thead>
        <tr>
            <th colspan="2">
                {{ 'hardware'|trans|desc('Hardware') }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'cpu'|trans|desc('CPU') }}</td>
            <td>
                {{ info.cpuType }}
                {% if info.cpuSpeed %}
                    ({{ info.cpuCount }}x{{ info.cpuSpeed }}&nbsp;{{ 'mhz'|trans|desc('mhz') }})
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ 'memory'|trans|desc('Memory') }}</td>
            <td>{{ info.memorySize|ez_file_size( 1 ) }}</td>
        </tr>
    </tbody>
</table>
