{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block body_class %}ez-role-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { value: 'role.breadcrumb.view.identifier'|trans({'%identifier%': role.identifier })|desc('Role "%identifier%"') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'role.view.view.title'|trans({'%identifier%': role.identifier})|desc('Role "%identifier%"'),
        icon_name: 'roles'
    } %}

    <ul class="nav nav-tabs ez-nav-tabs--role px-4 ez-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#policies" class="nav-link active" role="tab" data-toggle="tab">
                {{ 'policy.view.list.title'|trans|desc('Policies') }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#users-and-groups" class="nav-link" role="tab" data-toggle="tab">
                {{ 'role_assignment.view.list.title.count'|trans({'%count%': assignments|length})|desc('Assignments (%count%)') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="policies">
            {{ render(controller('EzPlatformAdminUiBundle:Policy:list', {
                roleId: role.id,
                policyPage: policy_page,
                routeName: route_name
            })) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="users-and-groups">
            {{ render(controller('EzPlatformAdminUiBundle:RoleAssignment:list', {
                roleId: role.id,
                assignmentPage: assignment_page,
                routeName: route_name
            })) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-role-view-js', null, 'ezplatform') }}
{% endblock %}
