{% extends 'EzPlatformAdminUiBundle:admin/language:base.html.twig' %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block breadcrumbs_admin %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.new'|trans|desc('Create a new Language') },
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'language.new.title'|trans|desc('Creating a new Language'),
        iconName: 'languages'
    } %}
{% endblock %}

{% block title %}{{ 'language.new.title'|trans|desc('Creating a new Language') }}{% endblock %}

{% block form %}
    {{ form_start(form, {'action': actionUrl}) }}

    <section class="container mt-4 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.languageCode) }}
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.save, {"attr": {"hidden": "hidden"}}) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set language_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.language_create.sidebar_right') %}
    {{ knp_menu_render(language_create_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
