{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'language' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { url: path('ezplatform.dashboard'), value: 'Admin Dashboard' },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans },
        { value: 'language.new'|trans },
    ]} %}
{% endblock %}

{% block title %}
    {{ 'language.new'|trans }}
{% endblock %}

{% block content %}
    <section class="container">
        {{ form_start(form, {'action': actionUrl}) }}
        {{ form_errors(form) }}

        <fieldset>
            <div>
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>

            <div>
                {{ form_label(form.languageCode) }}
                {{ form_errors(form.languageCode) }}
                {{ form_widget(form.languageCode) }}
            </div>

            <div>
                {{ form_label(form.enabled) }}
                {{ form_errors(form.enabled) }}
                {{ form_widget(form.enabled) }}
            </div>
        </fieldset>

        <a href="{{ path("ezplatform.language.list") }}" class="btn btn-default">{{ "language.form.cancel"|trans }}</a>
        {{ form_widget(form.save, {"attr": {"class": "btn btn-primary"}}) }}

        {{ form_end(form) }}
    </section>
{% endblock %}
