{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'language' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.edit.title'|trans({ '%language%': language.name })|desc('Editing Language "%language%"') },
    ]} %}
{% endblock %}

{% block title %}{{ 'language.edit.title'|trans({ '%language%': language.name })|desc('Editing Language "%language%"') }}{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'language.edit.title'|trans({ '%language%': language.name })|desc('Editing Language "%language%"'),
        iconName: 'languages'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': actionUrl}) }}

    <section class="container mt-4 px-5">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </section>

    <section class="container my-4 px-5">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            <a href="{{ path("ezplatform.language.list") }}" class="btn btn-default">
                {{ "form.cancel"|trans|desc('Cancel') }}
            </a>
            {{ form_widget(form.save, {"attr": {"class": "btn btn-primary"}}) }}
        </div>
    </section>

    {{ form_end(form) }}
{% endblock %}
