{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% form_theme form_languages_delete '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block body_class %}ez-language-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'language.list'|trans|desc('Languages') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.list'|trans|desc('Languages') }}{% endblock %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'language.list'|trans|desc('Languages'),
        iconName: 'languages'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-4 px-5">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'language.list'|trans|desc('Languages') }}</div ="ez-table-header__headline">
            <div>
                <a title="{{ 'language.new'|trans|desc('Create a new Language') }}"
                   href="{{ path('ezplatform.language.create') }}"
                   class="btn btn-primary" {% if not canEdit %} disabled="disabled"{% endif %}>
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
                {% set modal_data_target = 'delete-languages-modal' %}
                <button id="delete-languages" type="button" class="btn btn-danger" disabled data-toggle="modal"
                        data-target="#{{ modal_data_target }}" title="{{ 'language.delete'|trans|desc('Delete Language') }}">
                    <svg class="ez-icon ez-icon-trash">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                    </svg>
                </button>
                {% include '@EzPlatformAdminUi/admin/bulk_delete_confirmation_modal.html.twig' with {
                    'id': modal_data_target,
                    'message': 'language.modal.message'|trans|desc('Do you want to delete Language?'),
                    'data_click': '#languages_delete_delete',
                }%}
            </div>
        </div>

        {{ form_start(form_languages_delete, {
            'action': path('ezplatform.language.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-languages' }
        }) }}
        <table class="table mb-3">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'language.name'|trans|desc('Name') }}</th>
                <th>{{ 'language.code'|trans|desc('Code') }}</th>
                <th>{{ 'language.id'|trans|desc('ID') }}</th>
                <th>{{ 'language.enabled'|trans|desc('Enabled') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for language in pager.currentPageResults %}
                <tr>
                    <td class="ez-checkbox-cell">
                        {{ form_widget(form_languages_delete.languages[language.id], {"disabled": not canEdit}) }}
                    </td>
                    <td><a href="{{ path( 'ezplatform.language.view', {'languageId': language.id} ) }}">{{ language.name }}</a></td>
                    <td>{{ language.languageCode }}</td>
                    <td>{{ language.id }}</td>
                    <td>
                        <input type="checkbox" disabled {% if language.enabled %}checked
                            title="{{ 'language.enabled'|trans|desc('Enabled') }}"
                            {% else %}title="{{ 'language.disabled'|trans|desc('Disabled') }}"{% endif %}>
                    </td>
                    <td class="text-right">
                        {% if canEdit %}
                            <a title="{{ 'language.edit'|trans|desc('Edit') }}"
                               href="{{ path('ezplatform.language.edit', {'languageId': language.id}) }}"
                               class="btn btn-icon mx-3">
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                                </svg>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form_languages_delete) }}

        {% if pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center mb-2">
                <span>
                    {{ 'language.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
            </div>
            <div class="row justify-content-center align-items-center">
                {{ pagerfanta(pager, 'ez') }}
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

