{% trans_default_domain 'ezplatform_url_wildcard' %}
{% form_theme form '@ezdesign/content/form_fields.html.twig' '@ezdesign/content/tab/url/checkbox.html.twig' %}

 <div
    class="modal fade ez-modal ez-modal--url-wildcards"
    id="{{ id }}"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        {{ form_start(form, {'action': path('ezplatform.url_wildcard.add')}) }}
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'url_wildcard.modal.create.title'|trans|desc('Create a new URL wildcard') }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ 'url_wildcard.modal.create.close'|trans|desc('Close') }}">
                    <svg class="ibexa-icon ibexa-icon--small" aria-hidden="true">
                        <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <span class="ez-modal__label required">{{ 'url_wildcard.modal.create.url.wildcard'|trans|desc('URL wildcard') }}</span>
                {{ form_widget(form.source_url) }}

                <span class="ez-modal__label required">{{ 'url_wildcard.modal.create.url.destintion'|trans|desc('Destination') }}</span>
                {{ form_widget(form.destination_url) }}
 
                <span class="ez-modal__label">{{ 'url_wildcard.modal.create.redirect'|trans|desc('Redirect to wildcard destination') }}</span>
                {{ form_widget(form.forward) }}
                <div class="ez-modal__info-text">{{ 'url_wildcard.modal.create.redirect.helper'|trans|desc('When checked, the URL displayed will be the URL of the destination. When unchecked, the wildcard will not redirect to the destination and the URL will stay the same.') }}</div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.create, {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary', 'disabled': 'disabled'}}) }}
                <button type="button" class="btn ibexa-btn ibexa-btn--secondary" data-bs-dismiss="modal">
                    {{ 'url_wildcard.modal.create.cancel'|trans|desc('Cancel') }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
