{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'ezplatform_url_wildcard' %}
{% form_theme form '@ezdesign/content/form_fields.html.twig' '@ezdesign/content/tab/url/checkbox.html.twig' %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'url_wildcard.breadcrumb.list'|trans|desc('URL Management'), url: path('ezplatform.url_management', {
            '_fragment': 'ibexa-tab-link-manager-url-wildcards',
        }) },
        { value: 'url_wildcard.breadcrumb.edit'|trans|desc('Edit') }
    ]} %}
{% endblock %}

{% block context_menu %}
    {% set url_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu_configure.url_wildcard_edit_sidebar_right', [], {'submit_selector': '#url-update',}) %}

    {{ knp_menu_render(url_create_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'url_wildcard.editing'|trans({'%url%': urlWildcard.sourceUrl|u.truncate(50) })|desc('Editing URL wildcard: %url%'),
    } %}
{% endblock %}

{%- block content -%}
    <div class="row align-items-stretch ez-main-row">
        <div class="px-0 pb-4 ez-content-container">
            <div class="container ez-container">
                {{ form_start(form, {'action': actionUrl}) }}
                    {{ form_errors(form) }}

                    <section class="container mt-4">
                        <div class="card ibexa-card ibexa-card--light">
                            <div class="card-body">
                                <div class="form-group">
                                    <span class="ibexa-label required">{{ 'url_wildcard.modal.create.url.wildcard'|trans|desc('URL wildcard') }}</span>
                                    {{ form_widget(form.source_url) }}
                                </div>
                                <div class="form-group">
                                    <span class="ibexa-label required">{{ 'url_wildcard.modal.create.url.destintion'|trans|desc('Destination') }}</span>
                                    {{ form_widget(form.destination_url) }}
                                </div>
                                <div class="form-group">
                                    <span class="ibexa-label">{{ 'url_wildcard.modal.create.redirect'|trans|desc('Redirect to wildcard destination') }}</span>
                                    {{ form_widget(form.forward) }}
                                    <div>{{ 'url_wildcard.modal.create.redirect.helper'|trans|desc('When checked, the URL displayed will be the URL of the destination. When unchecked, the wildcard will not redirect to the destination and the URL will stay the same.') }}</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <button id="url-update" type="submit" hidden></button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{%- endblock -%}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-url-management-update-js', null, 'ezplatform') }}
{% endblock %}
