{% import "@ezdesign/ui/component/macros.html.twig" as html %}

{% set show_head_cols_if_empty = show_head_cols_if_empty|default(false) %}

{% block header %}
    {% if headline is defined %}
        {% include '@ezdesign/ui/component/table/table_header.html.twig' with {
            headline,
            actions: actions|default(null),
            headline_title: headline_title|default(headline|default('')),
        } only %}
    {% endif %}
{% endblock %}

{% block between_header_and_table %}{% endblock %}

{% block table %}
    {% set table_content %}
        <table
            class="ibexa-table table
            {{ class|default('') -}}"
            {{ html.attributes(attr|default({})) }}
        >
            <thead>
                {% block thead %}
                    {% if head_cols is defined and body_rows is defined and body_rows is not empty or head_cols is defined and show_head_cols_if_empty %}
                        {% include '@ezdesign/ui/component/table/table_head_row.html.twig' with {
                            head_cols,
                        } %}
                    {% endif %}
                {% endblock %}
            </thead>
            <tbody
                class="ibexa-table__body
                {{ table_body_class|default('') -}}"
                {{ html.attributes(table_body_attr|default({})) }}
            >
                {% block tbody %}
                    {% if body_rows is defined %}
                        {% if body_rows is empty %}
                            {% block tbody_empty %}
                                {% include '@ezdesign/ui/component/table/empty_table_body_row.html.twig' with {
                                    colspan: head_cols|length,
                                } %}
                            {% endblock %}
                        {% else %}
                            {% block tbody_not_empty %}
                                {% for row in body_rows %}
                                    {% include '@ezdesign/ui/component/table/table_body_row.html.twig' with {
                                        body_row_cols: row.cols,
                                        class: row.class|default(''),
                                        attr: row.attr|default({}),
                                    } %}
                                {% endfor %}
                            {% endblock %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </tbody>
        </table>
    {% endset %}

    {% if is_scrollable is defined ? is_scrollable : true %}
        <div class="ibexa-scrollable-wrapper">
            {{ table_content }}
        </div>
    {% else %}
        {{ table_content }}
    {% endif %}
{% endblock %}
