{% trans_default_domain 'search' %}

<div class="ibexa-search-criteria-tags">
    {% if form.content_types.vars.data is not empty %}
        {% for content_type in form.content_types.vars.data %}
            {{ include('@ezdesign/ui/search_tag.html.twig', {
                'content': content_type.name,
                'title': "#{'search.content.type'|trans|desc('Content Type')}: #{content_type.name}",
                'target_selector': "#search_content_types_#{content_type.identifier}",
                'btn_class': "ibexa-tag__remove-btn--content-types",
            }) }}
        {% endfor %}
    {% endif %}

    {% if form.section is defined and form.section.vars.data is not empty %}
        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': form.section.vars.data.name,
            'title': "#{'search.section'|trans|desc('Section')}: #{form.section.vars.data.name}",
            'btn_class': "ibexa-tag__remove-btn--section",
        }) }}
    {% endif %}

    {% if form.subtree.vars.value is not empty %}
        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': content_breadcrumbs,
            'title':  "#{'search.subtree'|trans|desc('Subtree')}: #{content_breadcrumbs}",
            'btn_class': "ibexa-tag__remove-btn--subtree",
        }) }}
    {% endif %}

    {% if form.vars.value.lastModified is not empty %}
        {% set start_date = form.vars.value.lastModified.start_date|ez_short_date %}
        {% set end_date = form.vars.value.lastModified.end_date|ez_short_date %}

        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': "#{'search.last.modified'|trans|desc('Last modified')}: #{start_date} - #{end_date}",
            'btn_class': "ibexa-tag__remove-btn--last-modified",
        }) }}
    {% endif %}

    {% if form.vars.value.created is not empty %}
        {% set start_date = form.vars.value.created.start_date|ez_short_date %}
        {% set end_date = form.vars.value.created.end_date|ez_short_date %}

        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': "#{'search.created'|trans|desc('Created')}: #{start_date} - #{end_date}",
            'btn_class': "ibexa-tag__remove-btn--last-created",
        }) }}
    {% endif %}

    {% if form.creator.vars.data is not empty %}
        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': form.creator.vars.data.name,
            'title': "#{'search.creator'|trans|desc('Creator')}: #{form.creator.vars.data.name}",
            'btn_class': "ibexa-tag__remove-btn--creator",
        }) }}
    {% endif %}
</div>
