{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'search' %}

{% set content_breadcrumbs = '' %}
{% set subtree_selected = form.subtree.vars.value is not empty %}

{{ form_start(form) }}
<div class="input-group px-4">
    {{ form_widget(form.query) }}

    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary font-weight-bold ez-btn--search" title="{{ 'search.perform'|trans|desc('Search') }}">
            <svg class="ez-icon ez-icon--medium ez-icon--light">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            <span class="ez-btn ez-btn--search-label">{{ 'search.perform'|trans|desc('Search') }}</span></button>
        <button type="button" class="btn btn-dark ez-btn--filter ml-4" title="{{ 'search.filters'|trans|desc('Filters') }}">
            <svg class="ez-icon ez-icon--medium ez-icon--light ez-icon-filters">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#filters"></use>
            </svg>
            <span class="ez-btn ez-btn--filter-label">{{ 'search.filters'|trans|desc('Filters') }}</span></button>
    </span>
</div>

<div class="ez-search-criteria-tags ml-4 {% if filters_expanded %} ez-search-criteria-tags--collapsed{% endif %}">
    {% if form.content_types.vars.data is not empty %}
        {% for contentType in form.content_types.vars.data %}
            {{ include('@ezdesign/ui/search_tag.html.twig', {
                'content': contentType.name,
                'title': "#{'search.content.type'|trans|desc('Content Type:')} #{contentType.name}",
                'reletedFiledId': "search_content_types_#{contentType.identifier}",
                'btnClass': "ez-tag__remove-btn--content-types",
            }) }}
        {% endfor %}
    {% endif %}

    {% if form.section.vars.data is not empty %}
        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': form.section.vars.data.name,
            'title': "#{'search.section'|trans|desc('Section:')} #{form.section.vars.data.name}",
            'btnClass': "ez-tag__remove-btn--section",
        }) }} 
    {% endif %}

    {% if form.subtree.vars.value is not empty %}
        {% if subtree_selected %}
            {% set path_locations = ez_path_to_locations(form.subtree.vars.value) %}
            {% for location in path_locations %}
                {% set content_breadcrumbs = content_breadcrumbs ~ ez_content_name(location.contentInfo) %}
                {% if not loop.last %}
                    {% set content_breadcrumbs = content_breadcrumbs ~ ' / ' %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': content_breadcrumbs,
            'title':  "#{'search.subtree'|trans|desc('Subtree:')} #{content_breadcrumbs}",
            'btnClass': "ez-tag__remove-btn--subtree",
        }) }}
    {% endif %}

    {% if form.vars.value.lastModified is not empty %}
        {% set startDate = form.vars.value.lastModified.start_date|ez_short_date %}
        {% set endDate = form.vars.value.lastModified.end_date|ez_short_date %}

        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': "#{'search.last.modified'|trans|desc('Last modified:')} #{startDate} - #{endDate}",
            'btnClass': "ez-tag__remove-btn--last-modified",
        }) }}
    {% endif %}

    {% if form.vars.value.created is not empty %}
        {% set startDate = form.vars.value.created.start_date|ez_short_date %}
        {% set endDate = form.vars.value.created.end_date|ez_short_date %}

        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': "#{'search.created'|trans|desc('Created:')} #{startDate} - #{endDate}",
            'btnClass': "ez-tag__remove-btn--last-created",
        }) }}
    {% endif %}

    {% if form.creator.vars.data is not empty %}
        {{ include('@ezdesign/ui/search_tag.html.twig', {
            'content': form.creator.vars.data.name,
            'title': "#{'search.creator'|trans|desc('Creator:')} #{form.creator.vars.data.name}",
            'btnClass': "ez-tag__remove-btn--creator",
        }) }}
    {% endif %}
</div>

<div class="ez-filters mt-4 ml-4 pt-2 {% if not filters_expanded %} ez-filters--collapsed{% endif %}">
    <div class="ez-filters__row">
        <div class="ez-filters__item ez-filters__item--content-type">
            <label class="ez-filters__item-label">{{ 'search.content.type'|trans|desc('Content Type:') }}</label>
            <select class="form-control ez-filters__select ez-filters__select--content-type" hidden>
                <option class="ez-filters__option ez-filters__option--hidden" data-default="{{ 'search.any.content.type'|trans|desc('Any Content Type') }}" value="">{{ 'search.any.content.type'|trans|desc('Any Content Type') }}</option>
            </select>
            {{ form_widget(form.content_types, {'attr': {'class': 'ez-filters__select'}}) }}
        </div>
    </div>
    <div class="ez-filters__row">
        {% if form.section is defined %}
            <div class="ez-filters__item ez-filters__item--section">
                <label class="ez-filters__item-label">{{ 'search.section'|trans|desc('Section:') }}</label>
                {{ form_widget(form.section, {'attr': {'class': 'ez-filters__select'}}) }}
            </div>
        {% endif %}
        <div class="ez-filters__item ez-filters__item--subtree">
            <label class="ez-filters__item-label">{{ 'search.subtree'|trans|desc('Subtree:') }}</label>
            <div>
                <button class="btn btn-secondary ez-btn--udw-select-location"
                    type="button"
                    title="{{'search.select_content'|trans|desc('Select Content')}}"
                    {% if form.subtree.vars.value is not empty %} hidden {% endif %}
                    data-universal-discovery-title="{{'search.udw.select_content'|trans|desc('Select Content')}}"
                    data-location-path-input-selector="#{{form.subtree.vars.id}}"
                    data-content-breadcrumbs-selector="#{{form.subtree.vars.id}}-content-breadcrumbs"
                    data-udw-config="{{ ez_udw_config('single_container', {}) }}"
                    >{{'search.select_content'|trans|desc('Select Content')}}</button>

                {{ include('@ezdesign/ui/tag.html.twig', {
                    'content': content_breadcrumbs,
                    'is_loading_state': false,
                    'tag_attributes': {
                        'hidden': not subtree_selected,
                        'id': form.subtree.vars.id ~ '-content-breadcrumbs',
                    }
                }) }}
            </div>
            {{ form_widget(form.subtree) }}
        </div>
    </div>
    <div class="ez-filters__row">
        <div class="ez-filters__item ez-filters__item--modified">
            <label class="ez-filters__item-label">{{ 'search.last.modified'|trans|desc('Last modified:') }}</label>
            {{ form_widget(form.last_modified_select, {'attr': {'class': 'ez-filters__select', 'data-target-selector': '.ez-filters__range-wrapper--select-modified-range'}}) }}
            {{ form_errors(form.last_modified_select) }}
        </div>
        <div class="ez-filters__item ez-filters__item--created">
            <label class="ez-filters__item-label">{{ 'search.created'|trans|desc('Created:') }}</label>
            {{ form_widget(form.created_select, {'attr': {'class': 'ez-filters__select', 'data-target-selector': '.ez-filters__range-wrapper--select-created-range'}}) }}
            {{ form_errors(form.created_select) }}
        </div>
        <div class="ez-filters__item ez-filters__item--creator">
            <label class="ez-filters__item-label">{{ 'search.creator'|trans|desc('Creator:') }}</label>
            {% set creator = form.vars.data.creator %}
            <input type="text"
                class="form-control ez-filters__input"
                data-content-type-identifiers="{{ user_content_type_identifier|join(',') }}"
                value="{{ creator is not empty ? ez_content_name(creator) }}"
                placeholder="{{ 'search.creator_input.placeholder'|trans|desc('Type creator\'s name') }}"
                {{ creator is not empty ? 'disabled'  }}
            >
            <svg class="ez-icon ez-icon--dark ez-icon--medium ez-icon--reset">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
            </svg>
            <ul class="ez-filters__user-list ez-filters__user-list--hidden"></ul>
        </div>
    </div>
    <div class="ez-filters__btns">
        <button class="btn btn-dark ez-btn-clear" title="{{ 'search.clear'|trans|desc('Clear') }}">
            {{ 'search.clear'|trans|desc('Clear') }}</button>
        <button type="submit" class="btn btn-secondary ez-btn-apply font-weight-bold" title="{{ 'search.apply'|trans|desc('Apply') }}" disabled>
            {{ 'search.apply'|trans|desc('Apply') }}</button>
    </div>
</div>
{{ form_widget(form.last_modified, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.created, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.creator, {'attr': {'hidden': 'hidden'}}) }}
{{ form_end(form) }}
