{% form_theme form '@ezdesign/ui/form_fields.html.twig' %}

{% trans_default_domain 'search' %}

{% set content_breadcrumbs = '' %}
{% set subtree_selected = form.subtree.vars.value is not empty %}

{% if subtree_selected %}
    {% set path_locations = ez_path_to_locations(form.subtree.vars.value) %}
    {% set location = path_locations|last %}
    {% set content_breadcrumbs = ez_content_name(location.contentInfo) %}
{% endif %}

{{ form_start(form, {'attr': {'class': 'ibexa-search-form'}}) }}
<div class="ibexa-search-form__search-wrapper">
    <div class="ibexa-search-form__input-wrapper">
        {{ form_widget(form.query, { attr: { placeholder: 'search.input.placeholder'|trans|desc('Search by name') }}) }}
    </div>
    <button type="submit" class="btn ibexa-btn ibexa-btn--primary ibexa-btn--search">{{ 'search.perform'|trans|desc('Search') }}</button>
</div>

{{ form_widget(form.last_modified, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.created, {'attr': {'hidden': 'hidden'}}) }}
{{ form_widget(form.creator, {'attr': {'hidden': 'hidden'}}) }}

{% include '@ezdesign/ui/search/filters.html.twig' %}
{% include '@ezdesign/ui/search/results.html.twig' %}
{{ form_end(form) }}
