{%- block ezplatform_fieldtype_ezselection_widget -%}
    {% set attr = attr|merge({'hidden': 'hidden', 'class': 'ez-data-source__input ez-data-source__input--selection'}) %}
    {{ block('choice_widget') }}

    <ul class="ez-data-source__selected">
        {% for choice in choices if choice is selectedchoice(value) %}
            <li class="selected-item" data-value="{{ choice.value }}">
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
                <span class="remove-selection"></span>
            </li>
        {% endfor %}
    </ul>
    <ul class="ez-data-source__options ez-data-source__options--hidden">
        {%- if placeholder is not none -%}
            <li data-value="" class="option-item"{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</li>
        {%- endif -%}
        {% for choice in choices %}
            <li data-value="{{ choice.value }}" class="option-item{% if choice is selectedchoice(value) %} option-selected{% endif %}">
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </li>
        {% endfor %}
    </ul>
{%- endblock -%}
