{% trans_default_domain 'ezrepoforms_content' %}

{% block ezobjectrelation_base_widget %}
    {% set limit = limit|default(0) %}
    {% set default_location = default_location|default(1) %}
    {% set has_relations = relations|length > 0 %}
    {% set allowed_content_types = form.parent.vars.value.fieldDefinition.fieldSettings.selectionContentTypes %}
    <div class="ez-relations__wrapper" {% if not has_relations %}hidden="true"{% endif %}>
        <table class="table ez-relations__table">
            <thead>
            <tr class="ez-relations__table-header">
                <th colspan="5">
                    {{ 'ezobjectrelationlist.relations'|trans|desc('Relations') }}:
                    {% if limit != 0 %}
                        <small>{{ 'ezobjectrelationlist.limit'|trans({'%limit%': limit})|desc('Limit %limit% max') }}</small>
                    {% endif %}
                </th>
                <th class="ez-relations__table-actions">
                    <button
                        {% if limit == 1 %}
                            data-udw-config="{{ ez_udw_config('single', {
                                'type': 'object_relation',
                                'starting_location_id' : default_location,
                                'allowed_content_types': allowed_content_types
                            }) }}"
                        {% else %}
                            data-udw-config="{{ ez_udw_config('multiple', {
                                'type': 'object_relation',
                                'starting_location_id' : default_location,
                                'allowed_content_types': allowed_content_types
                            }) }}"
                        {% endif %}
                        type="button"
                        class="ez-relations__table-action--create btn btn-primary"
                        disabled>
                        <svg class="ez-icon ez-icon--medium ez-icon--light">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
                        </svg>
                    </button>
                    <button type="button" class="ez-relations__table-action--remove btn btn-danger" disabled>
                        <svg class="ez-icon ez-icon--medium ez-icon--light">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
                        </svg>
                    </button>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>{{ 'ezobjectrelationlist.table.row.name'|trans|desc('Name') }}</th>
                <th>{{ 'ezobjectrelationlist.table.row.content_type'|trans|desc('Content Type') }}</th>
                <th>{{ 'ezobjectrelationlist.table.row.created'|trans|desc('Created') }}</th>
                <th>{{ 'ezobjectrelationlist.table.row.order'|trans|desc('Order') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="ez-relations__list" data-limit="{{ limit }}" data-default-location="{{ default_location }}" data-allowed-content-types="{{ allowed_content_type_identifiers|join(',') }}">
            {% for relation in relations %}
                {% if relation.contentInfo is not null and relation.contentType is not null %}
                    <tr class="ez-relations__item" data-content-id="{{ relation.contentInfo.id }}">
                        <td><input type="checkbox" value="{{ relation.contentInfo.id }}" /></td>
                        <td class="ez-relations__item-name">{{ ez_content_name(relation.contentInfo) }}</td>
                        <td>{{ relation.contentType.name }}</td>
                        <td>{{ relation.contentInfo.publishedDate|ez_short_datetime }}</td>
                        <td colspan="2"><input class="ez-relations__order-input" type="number" value="{{ loop.index }}" /></td>
                    </tr>
                {% elseif relation.unauthorized %}
                    <tr class="ez-relations__item" data-content-id="{{ relation.contentId }}">
                        {% include '@ezdesign/content/relation_unauthorized.html.twig' with {
                            contentId: relation.contentId
                        } %}
                        <td class="ez-relations__hidden-column">
                            <input class="ez-relations__order-input" type="number" value="{{ loop.index }}" />
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ez-relations__cta" {% if has_relations %}hidden="true"{% endif %}>
        <p class="ez-relations__cta-text">
        {% if limit != 0 %}
            {{ 'ezobjectrelationlist.cta.limit'|trans({'%limit%': limit})|desc('Set up multiple relations with up to %limit% content items') }}
        {% endif %}
        </p>
        <button
                {% if limit == 1 %}
                    data-udw-config="{{ ez_udw_config('single', {
                        'type': 'object_relation',
                        'starting_location_id' : default_location,
                        'allowed_content_types': allowed_content_types
                    }) }}"
                {% else %}
                    data-udw-config="{{ ez_udw_config('multiple', {
                        'type': 'object_relation',
                        'starting_location_id' : default_location,
                        'allowed_content_types': allowed_content_types
                    }) }}"
                {% endif %}
                class="ez-relations__cta-btn btn btn-primary"
                type="button">
            <svg class="ez-icon ez-icon--medium ez-icon--light">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#relations"></use>
            </svg>
            <span class="ez-relations__cta-btn-label">
                {{ 'ezobjectrelationlist.cta.select'|trans|desc('Select content') }}
            </span>
        </button>
    </div>
    {% set attr = attr|merge({'hidden': 'hidden'}) %}
    {{ block('form_widget') }}
{% endblock %}
