<section class="ez-view-rawcontentview">
    <div class="ez-raw-content-title d-flex justify-content-between mb-3">
        <h2>
            <a data-toggle="collapse" href=".ez-content-preview-collapse" class="ez-content-preview-toggle">
                {{ 'tab.view.preview'|trans()|desc('Preview') }}
            </a>
        </h2>
        {% block extras %}{% endblock %}
    </div>

    {% block fields %}
        <div class="ez-content-preview-collapse collapse show">
            {% for group in field_definitions_by_group if group.fieldDefinitions|length > 0 %}
                <section class="ez-fieldgroup container">
                    <h3 class="ez-fieldgroup__name">{{ group.name|capitalize }}</h3>
                    {% for fieldDefinition in group.fieldDefinitions %}
                        {% block field %}
                            <div class="ez-content-field">
                                <p class="ez-content-field-name">{{ fieldDefinition.name }}:</p>
                                <div class="ez-content-field-value">
                                    {% if ez_is_field_empty(content, fieldDefinition.identifier) %}
                                        <em>{{ 'fieldview.field.empty'|trans({}, 'fieldview')|desc('This field is empty') }}</em>
                                    {% else %}
                                        {{ ez_render_field(content, fieldDefinition.identifier, {
                                            'template': '@ezdesign/field_type/preview/content_fields.html.twig'
                                        }) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endfor %}
                </section>
            {% endfor %}
        </div>
    {% endblock %}
</section>
