{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form with 'EzPlatformAdminUiBundle:content:form_fields.html.twig' %}

{% block content %}
    <section class="ez-content-edit container pb-4">
        <div id="react-udw"></div>
        {{ form_start(form) }}
        {% for field in form.fieldsData -%}
            {{- form_row(field) -}}
        {%- endfor %}
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {%  javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/alloyeditor/dist/*.js'
        '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/ezplatformadminui/css/alloyeditor/alloyeditor-ez.css'
        '@EzPlatformAdminUiAssetsBundle/Resources/public/vendors/flatpickr/dist/flatpickr.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
