{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'locationview' %}
{% form_theme form_location_copy '@EzPlatformAdminUi/parts/form/flat_widgets.html.twig' %}
{% form_theme form_location_move '@EzPlatformAdminUi/parts/form/flat_widgets.html.twig' %}
{% form_theme form_location_trash '@EzPlatformAdminUi/form_fields.html.twig' %}
{% form_theme form_content_edit '@EzPlatformAdminUi/form_fields.html.twig' %}
{% form_theme form_content_create '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block body_class %}ez-content-view{% endblock %}

{% block content %}
    <div id="ez-mfu"
         data-parent-content-language="{{ content.versionInfo.initialLanguageCode }}"
         data-parent-location-path="{{ location.pathString }}"
         data-parent-content-type-identifier="{{ contentType.identifier }}"
         data-parent-content-type-id="{{ contentType.id }}"></div>
    <div class="row align-items-stretch ez-main-row">

        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="col-sm-10 px-0 pb-4">
            <div class="ez-header pt-1 pb-2">
                <div class="container">
                    {% set items = [] %}
                    {% for pathLocation in pathLocations %}
                        {% set items = items|merge([{
                            'value': pathLocation.contentInfo.name,
                            'url': path('_ez_content_view', {'contentId': pathLocation.contentInfo.id, 'locationId': pathLocation.id, 'viewType': 'full'})
                        }]) %}
                    {% endfor %}
                    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: items} %}

                    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
                        title: ez_content_name(content),
                        iconName: contentType.identifier,
                        contentTypeName: contentType.name
                    } %}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ ez_platform_tabs('location-view', {'content': content, 'location': location,  'contentType': contentType }, 'EzPlatformAdminUiBundle:parts/tab:locationview.html.twig') }}

                    {% if contentType.isContainer %}
                    {{ form_start(form_subitems_content_edit, { 'action': path('ezplatform.content.edit'), 'attr': { 'hidden': 'hidden' }}) }}
                    {{ form_end(form_subitems_content_edit) }}
                    <div class="container px-5">
                        <section class="ez-fieldgroup">
                            <h2 class="ez-fieldgroup-name">Sub-items</h2>
                            <div class="ez-sil" data-location="{{ location.id }}" data-items="{{ subitems_module.items }}" data-content-types="{{ subitems_module.content_type_info_list }}" data-limit="{{ subitems_module.limit }}"></div>
                        </section>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-1 pt-4 bg-secondary ez-context-menu">
            <div class="ez-sticky-container">
                {% set content_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content.sidebar_right', [], {'location': location, 'content': content, 'content_type': contentType}) %}
                {{ knp_menu_render(content_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}

                <div class="ez-extra-actions-container">
                    {% include '@EzPlatformAdminUi/content/widgets/content_create.html.twig' with {'form': form_content_create} only %}
                    {% include '@EzPlatformAdminUi/content/widgets/content_edit.html.twig' with {'form': form_content_edit} only %}
                </div>
            </div>
            {% include '@EzPlatformAdminUi/content/modal_location_trash.html.twig' with {'form': form_location_trash} only %}
            {{ form(form_location_copy, {'action': path('ezplatform.location.copy')}) }}
            {{ form(form_location_move, {'action': path('ezplatform.location.move')}) }}
        </div>
    </div>
{% endblock %}

{% block react_modules %}
    {%  javascripts
        'bundles/ezplatformadminuimodules/js/SubItems.module.js'
        'bundles/ezplatformadminuimodules/js/MultiFileUpload.module.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
    {%  javascripts
        'bundles/ezplatformadminui/js/scripts/admin.location.change_language.js'
        'bundles/ezplatformadminui/js/scripts/admin.location.view.js'
        'bundles/ezplatformadminui/js/scripts/admin.location.tab.js'
        'bundles/ezplatformadminui/js/scripts/admin.location.visibility.js'
        'bundles/ezplatformadminui/js/scripts/admin.location.update.js'
        'bundles/ezplatformadminui/js/scripts/admin.location.add.translation.js'
        'bundles/ezplatformadminui/js/scripts/button.content.edit.js'
        'bundles/ezplatformadminui/js/scripts/udw/move.js'
        'bundles/ezplatformadminui/js/scripts/udw/copy.js'
        'bundles/ezplatformadminui/js/scripts/udw/swap.js'
        'bundles/ezplatformadminui/js/scripts/udw/locations.tab.js'
        'bundles/ezplatformadminui/js/scripts/sidebar/extra.actions.js'
        'bundles/ezplatformadminui/js/scripts/sidebar/btn/location.edit.js'
        'bundles/ezplatformadminui/js/scripts/sidebar/btn/location.create.js'
        'bundles/ezplatformadminui/js/scripts/sidebar/instant.filter.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
