<div class="modal fade ez-modal ez-modal--send-to-trash" id="trash-location-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="ez-modal-body__main">
                    {{ 'trash.modal.message'|trans|desc('Are you sure you want to send this content item to trash?') }}
                </p>
            </div>
            <div class="modal-footer">
                {{ form_start(form, {'action': path('ezplatform.location.trash')}) }}
                <button type="button" class="btn btn-secondary btn--no" data-dismiss="modal">
                    {{ 'trash.form.cancel'|trans|desc('Cancel') }}
                </button>
                {{ form_widget(form.trash, {'attr': {'class': 'btn-danger'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
