<div class="modal fade ez-translation" id="add-translation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new translation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <span class="ez-translation__title">Select a language for your new translation</span>
                    <div class="ez-translation__language-wrapper">
                        <div class="radio ez-translation__input-wrapper">
                            <label class="ez-translation__label">
                                <input class="ez-translation__input" type="radio" name="add-translation-language">
                                <svg class="ez-icon">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#checkmark"></use>
                                </svg>
                                English
                            </label>
                        </div>
                        <div class="radio ez-translation__input-wrapper">
                            <label class="ez-translation__label">
                                <input class="ez-translation__input" type="radio" name="add-translation-language">
                                <svg class="ez-icon">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#checkmark"></use>
                                </svg>
                                Polish
                            </label>
                        </div>
                        <div class="radio ez-translation__input-wrapper">
                            <label class="ez-translation__label">
                                <input class="ez-translation__input" type="radio" name="add-translation-language">
                                <svg class="ez-icon">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#checkmark"></use>
                                </svg>
                                German
                            </label>
                        </div>
                    </div>
                    <span class="ez-translation__title">Base this translation on an existing translation</span>
                    <div class="ez-translation__language-wrapper">
                        <div class="radio ez-translation__input-wrapper">
                            <label class="ez-translation__label">
                                <input class="ez-translation__input" type="radio" name="add-translation-based">
                                <svg class="ez-icon">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#checkmark"></use>
                                </svg>
                                Norwegian
                            </label>
                        </div>
                        <div class="radio ez-translation__input-wrapper">
                            <label class="ez-translation__label">
                                <input class="ez-translation__input" type="radio" name="add-translation-based">
                                <svg class="ez-icon">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#checkmark"></use>
                                </svg>
                                Spanish
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary ez-btn--wide ez-btn--create-translation" disabled>
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
