{% extends '@ezdesign/ui/layout.html.twig' %}

{% block navigation %}
    {% if ez_admin_ui_config.user.user is not empty %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body_class %}ez-has-no-sidebars ez-error-site{% endblock %}

{% block content %}
    <div class="ez-error-page-wrapper">
        <div class="ez-error-page ez-error-page--top-section">
            <div class="ez-error-page__messages-container">
                <div class="ez-error-page__icon-wrapper">
                    <svg class="ez-error-page__icon">
                        <use xlink:href="{{ ibexa_icon_path('error-icon') }}"></use>
                    </svg>
                </div>
                <h2 class="ez-error-page__title">{{ 'error.page.404.title'|trans|desc('Page not found') }}</h2>
                <p class="ez-error-page__message ez-error-page__message--title">{{ 'error.page.404.sub_title'|trans|raw|desc('You probably weren\'t expecting to land here.') }}</p>
                <p class="ez-error-page__message ez-error-page__message--content">{{ 'error.page.404.message'|trans|raw|desc('The page you requested was not found.<br/> It might have been deleted or it is temporarily unavailable.') }}</p>
            </div>
        </div>
        <div class="ez-error-page ez-error-page--bottom-section">
            <p class="ez-error-page__message ez-error-page__message--actions">{{ 'error.page.404.actions'|trans({ '%dashboard%': path('ezplatform.dashboard'), '%search%': path('ezplatform.search') })|raw|desc('Check the URL for a typo and try again.<br/>Otherwise, go back to the <a class="error-page__link" href="%dashboard%">dashboard</a> or <a class="error-page__link" href="%search%">search</a> for another Content item.') }}</p>
        </div>
    </div>
{% endblock %}
