{% extends '@ezdesign/ui/layout.html.twig' %}

{% block navigation %}{% endblock %}

{% block body_class %}ez-has-no-sidebars ez-error-site{% endblock %}

{% block content %}
    <div class="ez-error-page-wrapper">
        <div class="ez-error-page ez-error-page--top-section">
            <a href="{{ url('ezplatform.dashboard') }}" class="ez-error-page__logo-link">
                <img class="ez-error-page__logo-image" src="/bundles/ezplatformadminui/img/ibexa-logo.svg" alt="Ibexa" />
            </a>
            <div class="ez-error-page__messages-container">
                <div class="ez-error-page__icon-wrapper">
                    <svg class="ez-error-page__icon">
                        <use xlink:href="{{ ibexa_icon_path('error-icon') }}"></use>
                    </svg>
                </div>
                <h2 class="ez-error-page__title">{{ 'error.page.default.title'|trans|desc('Something went wrong') }}</h2>
                <p class="ez-error-page__message ez-error-page__message--title">{{ 'error.page.default.sub_title'|trans|raw|desc('We apologize for the internal server error.') }}</p>
                <p class="ez-error-page__message ez-error-page__message--content">{{ 'error.page.default.message'|trans|raw|desc('The server was unable to complete your request because of an internal problem.') }}</p>
            </div>
        </div>
        <div class="ez-error-page ez-error-page--bottom-section">
            <p class="ez-error-page__message ez-error-page__message--actions">{{ 'error.page.default.actions'|trans|raw|desc('<b>Contact your Administrator and inform them about</b><br/> the time the error occurred, the URL in your browser window, and anything related<br/>that you think may have caused the error.<br/>You can also go back or try to reload the application.') }}</p>
        </div>
    </div>
{% endblock %}
