{% extends '@ezdesign/ui/layout.html.twig' %}

{% form_theme form_sections_delete '@ezdesign/ui/form_fields.html.twig'  %}
{% form_theme form_section_content_assign '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'section' %}

{% block body_class %}ez-section-list-view ez-has-full-width-footer{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'section.list.title'|trans|desc('Sections') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'section.list.title'|trans|desc('Sections'),
        icon_name: 'sections'
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'section.list.title'|trans|desc('Sections') }}</div>
            <div class="ez-table-header__tools">
                {% if can_add %}
                    <a
                        title="{{ 'section.new'|trans|desc('Create a new Section') }}"
                        href="{{ path('ezplatform.section.create') }}"
                        class="btn btn-icon"
                    >
                        <svg class="ez-icon ez-icon-create">
                            <use xlink:href="{{ ez_icon_path('create') }}"></use>
                        </svg>
                    </a>
                {% endif %}
                {% if can_edit %}
                    {% set modal_data_target = 'delete-sections-modal' %}
                    <button
                        id="delete-sections"
                        type="button"
                        class="btn btn-icon"
                        disabled
                        data-toggle="modal"
                        data-target="#{{ modal_data_target }}"
                        title="{{ 'section.delete'|trans|desc('Delete Section') }}"
                    >
                        <svg class="ez-icon ez-icon-trash">
                            <use xlink:href="{{ ez_icon_path('trash') }}"></use>
                        </svg>
                    </button>
                    {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                        'id': modal_data_target,
                        'message': 'section.modal.message'|trans|desc('Do you want to delete the Section(s)?'),
                        'data_click': '#sections_delete_delete',
                    }%}
                {% endif %}
            </div>
        </div>

        {{ form_start(form_sections_delete, {
            'action': path('ezplatform.section.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-sections' }
        }) }}
        <table class="ez-table table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'section.name'|trans|desc('Name') }}</th>
                    <th>{{ 'section.identifier'|trans|desc('Identifier') }}</th>
                    <th>{{ 'section.id'|trans|desc('ID') }}</th>
                    <th>{{ 'section.assigned.content'|trans|desc('Assigned content') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for section in pager.currentPageResults %}
                <tr>
                    <td class="ez-table__cell ez-table__cell--has-checkbox">
                        {% if can_edit %}
                            {{ form_widget(form_sections_delete.sections[section.id], {
                                    "attr": { "class": "ez-input ez-input--checkbox" },
                                    "disabled": not deletable[section.id]
                                })
                            }}
                        {% else %}
                            {% do form_sections_delete.sections.setRendered %}
                        {% endif %}
                    </td>
                    <td class="ez-table__cell"><a href="{{ path( 'ezplatform.section.view', {'sectionId': section.id} ) }}">{{ section.name }}</a></td>
                    <td class="ez-table__cell">{{ section.identifier }}</td>
                    <td class="ez-table__cell">{{ section.id }}</td>
                    <td class="ez-table__cell">{{ content_count[section.id] }}</td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns">
                        {% if assignable[section.id] %}
                            <a
                                title="{{ 'section.assign_content'|trans|desc('Assign content') }}"
                                href="#"
                                data-section-id="{{ section.id }}"
                                data-form-action="{{ path("ezplatform.section.assign_content", {"sectionId": section.id}) }}"
                                data-udw-config="{{ ez_udw_config('multiple', {'type': 'section_assign'}) }}"
                                class="btn btn-icon mx-3">
                                <svg class="ez-icon ez-icon-relations ez-icon--secondary btn--open-udw">
                                    <use xlink:href="{{ ez_icon_path('assign-section') }}"></use>
                                </svg>
                            </a>
                        {% endif %}
                        {% if can_edit %}
                            <a title="{{ 'section.edit'|trans|desc('Edit') }}"
                               href="{{ path('ezplatform.section.update', {'sectionId': section.id}) }}"
                               class="btn btn-icon mx-2">
                                <svg class="ez-icon ez-icon--secondary ez-icon-edit">
                                    <use xlink:href="{{ ez_icon_path('edit') }}"></use>
                                </svg>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form_sections_delete) }}

        {% if pager.haveToPaginate %}
            {% include '@ezdesign/ui/pagination.html.twig' with {
                'pager': pager
            } %}
        {% endif %}

        {{ form_start(form_section_content_assign, {
            'attr': {'class': 'd-inline-block'}
        }) }}
        {{ form_widget(form_section_content_assign.locations.select_content, {'attr': {'hidden': 'hidden'}}) }}
        {{ form_widget(form_section_content_assign.locations.location, {'label': false}) }}
        {{ form_end(form_section_content_assign) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-section-list-js', null, 'ezplatform') }}
{% endblock %}
