{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'section' %}

{% block body_class %}ez-section-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.section.list'), value: 'section.list'|trans|desc('Sections') },
        { value: 'section.view.title.identifier'|trans({ '%identifier%': section.name })|desc('Section: %identifier%') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'section.view.title.identifier'|trans({ '%identifier%': section.name })|desc('Section: %identifier%'),
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        {% set body_row_cols = [] %}

        {% set body_row_cols = body_row_cols|merge([
            { content: section.name },
            { content: section.identifier },
            { content: section.id },
        ]) %}

        {% set col_raw %}
            {% if can_edit %}
                <a
                    href="{{ path('ezplatform.section.update', {'sectionId': section.id}) }}"
                    title="{{ 'section.edit'|trans|desc('Edit') }}"
                    class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                        <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                    </svg>
                </a>
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'section.information.header'|trans|desc('Section information'),
            head_cols: [
                { content: 'section.name'|trans|desc('Name') },
                { content: 'section.identifier'|trans|desc('Identifier') },
                { content: 'section.id'|trans|desc('ID') },
                { },
            ],
            body_rows: [{ cols: body_row_cols }],
        } %}
            {% block header %}
                {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        {% if can_edit %}
                            {% set modalDataAttributes = deletable ? 'data-bs-toggle=modal data-bs-target=#delete-section-modal' : '' %}
                            <button
                                type="button"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text {% if not deletable %}disabled{% endif %}"
                                {{ modalDataAttributes }}
                                title="{{ 'section.action.delete'|trans|desc('Delete Section') }}"
                            >
                                <svg class="ibexa-icon ibexa-icon--small">
                                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                </svg>
                            </button>
                            {% if deletable %}
                                {% include '@ezdesign/section/modal/delete_confirmation.html.twig' with {'form': form_section_delete} %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </section>

    {{ render(controller('EzSystems\\EzPlatformAdminUiBundle\\Controller\\SectionController::viewSectionContentAction', {
        'section': section,
        'page': app.request.query.getInt('page', 1)
    })) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-section-view-js', null, 'ezplatform') }}
{% endblock %}
