{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% block body_class %}ibexa-dashboard{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row ibexa-dashboard-row">
        <div class="ez-content-container">
            <div class="container ez-header ez-header--light">
                <div class="container ibexa-dashboard__header">
                    <div class="ibexa-dashboard__create">
                        <button
                            class="btn ibexa-btn ibexa-btn--primary ibexa-btn--cotf-create"
                            data-udw-config="{{ ez_udw_config('create', {'type': 'content_create'}) }}"
                            {% if not can_create_content %}disabled{% endif %}
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                            <span>{{ 'dashboard.create'|trans|desc('Create') }}</span>
                        </button>
                    </div>
                    <h1 class="py-3">{{ 'my.dashboard'|trans|desc('My dashboard') }}</h1>
                </div>
            </div>
            <div class="container">
                {{ ez_render_component_group('dashboard-blocks') }}
            </div>
        </div>
        {{ form_start(form_edit, {
            'action': path('ezplatform.content.edit'),
            'attr': { 'class': 'ez-edit-content-form'}
        }) }}
        {{ form_widget(form_edit.language, {'attr': {'hidden': 'hidden', 'class': 'language-input'}}) }}
        {{ form_end(form_edit) }}
    </div>
    {% include '@ezdesign/content/modal/version_conflict.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-dashboard-js', null, 'ezplatform') }}
{% endblock %}
