<div class="ez-dashboard-tile">
    {% block tile_header %}
        <div class="ez-dashboard-tile__header">
            {% if title is defined %}
                <div class="ez-dashboard-tile__header-title">
                    {{ title }}

                    {% if tooltip is defined %}
                        <svg class="ez-dashboard-tile__header-icon ez-icon ez-icon--small ez-icon--base-dark" title="{{ tooltip }}">
                            <use xlink:href="{{ ez_icon_path('about-info') }}"></use>
                        </svg>
                    {% endif %}
                </div>
            {% endif %}

            {% if sub_title is defined %}
                <div class="ez-dashboard-tile__header-sub-title">{{ sub_title }}</div>
            {% endif %}
        </div>
    {% endblock %}


    {% block tile_body %}
        <div class="ez-dashboard-tile__body">
            {{ body|default('') }}
        </div>
    {% endblock %}


    {% block tile_footer %} 
        {% if footer_value is defined %}
            {% if footer_value > 0 %}
                {% set footer_value_class = 'ez-dashboard-tile__footer--positive' %}
                {% set footer_value_icon = 'arrow-corner-up-right' %}
            {% elseif footer_value < 0 %}
                {% set footer_value_class = 'ez-dashboard-tile__footer--danger' %}
                {% set footer_value_icon = 'arrow-corner-down-right' %}
            {% else %}
                {% set footer_value_class = 'ez-dashboard-tile__footer--neutral' %}
                {% set footer_value_icon = 'back' %}
            {% endif %}

            <div class="ez-dashboard-tile__footer {{ footer_value_class }}">
                <svg class="ez-dashboard-tile__footer-icon ez-icon ez-icon--small">
                    <use xlink:href="{{ ez_icon_path(footer_value_icon) }}"></use>
                </svg>
                <div class="ez-dashboard-tile__footer-value">{{ footer_value|abs }}%</div> 
                <div class="ez-dashboard-tile__footer-label">{{ footer_label|default('') }}</div>
            </div>
        {% endif %}
    {% endblock %}
</div>