{% extends '@ezdesign/language/base.html.twig' %}

{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.new'|trans|desc('Create a new language') },
    ]} %}
{% endblock %}

{% block context_menu_admin %}
    {% set language_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.language_create.sidebar_right') %}
    {{ knp_menu_render(language_create_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}

{% block header_admin %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'language.new.title'|trans|desc('Creating a new language'),
    } %}
{% endblock %}

{% block title %}{{ 'language.new.title'|trans|desc('Creating a new language') }}{% endblock %}

{% block form %}
    {{ form_start(form, {'action': actionUrl}) }}

    <section>
        <div class="card ibexa-card ibexa-card--light">
            <div class="card-body ibexa-card__body">
                {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
                {{ form_row(form.languageCode) }}
                {{ form_row(form.enabled, {'label_attr': {'class': 'checkbox-inline'}}) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.save, {"attr": {"hidden": "hidden"}}) }}

    {{ form_end(form) }}
{% endblock %}
