{% extends "@ezdesign/ui/layout.html.twig" %}

{% form_theme deleteForm '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block body_class %}ez-language-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.view.identifier'|trans({ '%language%': language.name })|desc('%language%') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"') }}{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"'),
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        {% set body_row_cols = [] %}

        {% set body_row_cols = body_row_cols|merge([
            { content: language.name },
            { content: language.languageCode },
            { content: language.id },
        ]) %}

        {% set col_raw %}
            <input
                type="checkbox"
                title="{{ language.enabled ? 'language.enabled'|trans|desc('Enabled') : 'language.enabled'|trans|desc('Enabled') }}"
                disabled
                {% if language.enabled %}checked{% endif %}
            >
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            content: col_raw,
            raw: true,
        }]) %}

        {% set col_raw %}
            {% if can_administrate %}
                <a
                    href="{{ path('ezplatform.language.edit', {'languageId': language.id}) }}"
                    class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                    title="{{ 'language.edit'|trans|desc('Edit') }}"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                        <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                    </svg>
                </a>
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'language.information.header'|trans|desc('Language information'),
            head_cols: [
                { content: 'language.name.label'|trans|desc('Name') },
                { content: 'language.code.label'|trans|desc('Language code') },
                { content: 'language.id.label'|trans|desc('ID') },
                { content: 'language.enabled.label'|trans|desc('Enabled') },
                { },
            ],
            body_rows: [{ cols: body_row_cols }],
        } %}
            {% block header %}
                {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        {% if can_administrate %}
                            {{ form_start(deleteForm, {"action": path("ezplatform.language.delete", {"languageId": language.id, "redirectErrorsTo": "view"})}) }}

                            {{ form_widget(deleteForm.language) }}
                            <button
                                type="button"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-language-modal"
                                title="{{ 'language.delete'|trans|desc('Delete language') }}"
                            >
                                <svg class="ibexa-icon ibexa-icon--small">
                                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                </svg>
                            </button>

                            {% include '@ezdesign/language/modal/delete_confirmation.html.twig' with {'deleteForm': deleteForm} %}

                            {{ form_end(deleteForm) }}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </section>
{% endblock %}
