{% extends "@ezdesign/ui/layout.html.twig" %}

{% form_theme deleteForm '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block body_class %}ez-language-view ez-has-full-width-footer{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.view.identifier'|trans({ '%language%': language.name })|desc('%language%') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"') }}{% endblock %}

{% block page_title %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"'),
        icon_name: 'languages'
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        <header class="ez-table-header">
            <div class="ez-table-header__headline">
                {{ 'language.information.header'|trans|desc('Language information') }}
            </div>
            <div class="ez-table-header__tools">
                {% if can_administrate %}
                    {{ form_start(deleteForm, {"action": path("ezplatform.language.delete", {"languageId": language.id, "redirectErrorsTo": "view"})}) }}

                    {{ form_widget(deleteForm.language) }}
                    <button
                        type="button"
                        class="btn btn-icon"
                        data-toggle="modal"
                        title="{{ 'language.delete'|trans|desc('Delete language') }}"
                        data-target="#delete-language-modal">
                        <svg class="ez-icon">
                            <use xlink:href="{{ ez_icon_path('trash') }}"></use>
                        </svg>
                    </button>

                    {% include '@ezdesign/language/modal/delete_confirmation.html.twig' with {'deleteForm': deleteForm} %}

                    {{ form_end(deleteForm) }}
                {% endif %}
            </div>
        </header>

        <table class="ez-table table table-hover">
            <thead>
                <tr>
                    <th>{{ 'language.name.label'|trans|desc('Name') }}</th>
                    <th>{{ 'language.code.label'|trans|desc('Language code') }}</th>
                    <th>{{ 'language.id.label'|trans|desc('ID') }}</th>
                    <th>{{ 'language.enabled.label'|trans|desc('Enabled') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ez-table__cell">{{ language.name }}</td>
                    <td class="ez-table__cell">{{ language.languageCode }}</td>
                    <td class="ez-table__cell">{{ language.id }}</td>
                    <td class="ez-table__cell">
                        <input
                            type="checkbox"
                            title="{{ language.enabled ? 'language.enabled'|trans|desc('Enabled') : 'language.enabled'|trans|desc('Enabled') }}"
                            disabled
                            {% if language.enabled %}checked{% endif %}>
                    </td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns">
                        {% if can_administrate %}
                            <a
                                href="{{ path('ezplatform.language.edit', {'languageId': language.id}) }}"
                                class="btn btn-icon mx-2"
                                title="{{ 'language.edit'|trans|desc('Edit') }}">
                                <svg class="ez-icon ez-icon--secondary ez-icon-edit">
                                    <use xlink:href="{{ ez_icon_path('edit') }}"></use>
                                </svg>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
