{% extends "@ezdesign/ui/layout.html.twig" %}

{% form_theme form_languages_delete '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block body_class %}ez-language-list-view ez-has-full-width-footer{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'language.list'|trans|desc('Languages') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.list'|trans|desc('Languages') }}{% endblock %}

{% block page_title %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'language.list'|trans|desc('Languages'),
        icon_name: 'languages'
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'language.list'|trans|desc('Languages') }}</div>
            <div class="ez-table-header__tools">
                {% if can_administrate %}
                    <a
                        title="{{ 'language.new'|trans|desc('Create a new language') }}"
                        href="{{ path('ezplatform.language.create') }}"
                        class="btn btn-icon"
                    >
                        <svg class="ez-icon ez-icon-create">
                            <use xlink:href="{{ ez_icon_path('create') }}"></use>
                        </svg>
                    </a>
                    {% set modal_data_target = 'delete-languages-modal' %}
                    <button
                        id="delete-languages"
                        type="button"
                        class="btn btn-icon"
                        disabled
                        data-toggle="modal"
                        data-target="#{{ modal_data_target }}"
                        title="{{ 'language.delete'|trans|desc('Delete language') }}"
                    >
                        <svg class="ez-icon ez-icon-trash">
                            <use xlink:href="{{ ez_icon_path('trash') }}"></use>
                        </svg>
                    </button>
                    {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                        'id': modal_data_target,
                        'message': 'language.modal.message'|trans|desc('Do you want to delete the language(s)?'),
                        'data_click': '#languages_delete_delete',
                    }%}
                {% endif %}
            </div>
        </div>

        {{ form_start(form_languages_delete, {
            'action': path('ezplatform.language.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-languages' }
        }) }}
        <table class="ez-table table table-hover mb-3">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'language.name'|trans|desc('Name') }}</th>
                <th>{{ 'language.code'|trans|desc('Code') }}</th>
                <th>{{ 'language.id'|trans|desc('ID') }}</th>
                <th>{{ 'language.enabled'|trans|desc('Enabled') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for language in pager.currentPageResults %}
                <tr>
                    <td class="ez-table__cell ez-table__cell--has-checkbox">
                        {% if can_administrate %}
                            {{ form_widget(form_languages_delete.languages[language.id], { attr: { "class": "ez-input ez-input--checkbox" }  }) }}
                        {% else %}
                            {% do form_languages_delete.languages.setRendered %}
                        {% endif %}
                    </td>
                    <td class="ez-table__cell"><a href="{{ path( 'ezplatform.language.view', {'languageId': language.id} ) }}">{{ language.name }}</a></td>
                    <td class="ez-table__cell">{{ language.languageCode }}</td>
                    <td class="ez-table__cell">{{ language.id }}</td>
                    <td class="ez-table__cell">
                        <input
                            type="checkbox"
                            title="{{ language.enabled ? 'language.enabled'|trans|desc('Enabled')  : 'language.disabled'|trans|desc('Disabled')  }}"
                            class="ez-input ez-input--checkbox"
                            disabled
                            {% if language.enabled %}checked{% endif %}>
                    </td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns">
                        {% if can_administrate %}
                            <a
                                title="{{ 'language.edit'|trans|desc('Edit') }}"
                                href="{{ path('ezplatform.language.edit', {'languageId': language.id}) }}"
                                class="btn btn-icon mx-2">
                                <svg class="ez-icon ez-icon--secondary">
                                    <use xlink:href="{{ ez_icon_path('edit') }}"></use>
                                </svg>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form_languages_delete) }}

        {% if pager.haveToPaginate %}
            {% include '@ezdesign/ui/pagination.html.twig' with {
                'pager': pager
            } %}
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-language-list-js', null, 'ezplatform') }}
{% endblock %}
