{% extends "@ezdesign/ui/layout.html.twig" %}

{% form_theme form_languages_delete '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'language' %}

{% block body_class %}ez-language-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'language.list'|trans|desc('Languages') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.list'|trans|desc('Languages') }}{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'language.list'|trans|desc('Languages'),
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        {% set body_rows = [] %}
        {% for language in pager.currentPageResults %}
            {% set body_row_cols = [] %}

            {% set col_raw %}
                {% if can_administrate %}
                    {{ form_widget(form_languages_delete.languages[language.id]) }}
                {% else %}
                    {% do form_languages_delete.languages.setRendered %}
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_checkbox: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set col_raw %}
                <a href="{{ path( 'ezplatform.language.view', {'languageId': language.id} ) }}">
                    {{ language.name }}
                </a>
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: language.languageCode },
                { content: language.id },
            ]) %}

            {% set col_raw %}
                <input
                    type="checkbox"
                    title="{{ language.enabled ? 'language.enabled'|trans|desc('Enabled')  : 'language.disabled'|trans|desc('Disabled')  }}"
                    class="ibexa-input ibexa-input--checkbox"
                    disabled
                    {% if language.enabled %}checked{% endif %}
                >
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set col_raw %}
                {% if can_administrate %}
                    <a
                        title="{{ 'language.edit'|trans|desc('Edit') }}"
                        href="{{ path('ezplatform.language.edit', {'languageId': language.id}) }}"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                        </svg>
                    </a>
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_action_btns: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
        {% endfor %}

        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'language.list'|trans|desc('Languages'),
            head_cols: [
                { has_checkbox: true },
                { content: 'language.name'|trans|desc('Name') },
                { content: 'language.code'|trans|desc('Code') },
                { content: 'language.id'|trans|desc('ID') },
                { content: 'language.enabled'|trans|desc('Enabled') },
                { },
            ],
            body_rows,
        } %}
            {% block header %}
                {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        {% if can_administrate %}
                            <a
                                title="{{ 'language.new'|trans|desc('Create a new language') }}"
                                href="{{ path('ezplatform.language.create') }}"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                            >
                                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                    <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                                </svg>
                            </a>
                            {% set modal_data_target = 'delete-languages-modal' %}
                            <button
                                id="delete-languages"
                                type="button"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                                disabled
                                data-bs-toggle="modal"
                                data-bs-target="#{{ modal_data_target }}"
                                title="{{ 'language.delete'|trans|desc('Delete language') }}"
                            >
                                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                </svg>
                            </button>
                            {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                                'id': modal_data_target,
                                'message': 'language.modal.message'|trans|desc('Do you want to delete the language(s)?'),
                                'data_click': '#languages_delete_delete',
                            }%}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}

            {% block between_header_and_table %}
                {{ form_start(form_languages_delete, {
                    'action': path('ezplatform.language.bulk_delete'),
                    'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-languages' }
                }) }}
            {% endblock %}
        {% endembed %}
        {{ form_end(form_languages_delete) }}

        {% if pager.haveToPaginate %}
            {% include '@ezdesign/ui/pagination.html.twig' with {
                'pager': pager
            } %}
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-language-list-js', null, 'ezplatform') }}
{% endblock %}
