<td>
    <a {% if not content.contentInfo.trashed %}
        href="{{ path('_ezpublishLocation', { 'locationId': locationId } ) }}"
    {% endif %}>
        {{ content.getName() }}
        {% if content.contentInfo.trashed %}
            <em>({{ 'content.in_trash'|trans(domain='content')|desc('In Trash') }})</em>
        {% endif %}
    </a>
</td>
<td>
    {{ contentType.getName() }}
</td>
<td>
    {{ content.versionInfo.creationDate|localizeddate( 'short', 'medium', null, ez_user_settings['timezone'] ) }}
</td>
