{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'user_settings' %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'list.title'|trans|desc('User Settings') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'list.title'|trans|desc('User Settings'),
    } %}
{% endblock %}

{% block body_class %}ez-user-settings-list-view{% endblock %}

{% block content %}
    {% embed '@ezdesign/ui/component/tab/tabs.html.twig' with {
        tabs: [
          { id: 'my-preferences', label: 'section.my_preferences'|trans|desc('My Preferences'), active: true },
          { id: 'my-account-settings', label: 'section.my_account_settings'|trans|desc('My Account Settings') },
        ]
    } %}
        {% block tab_content %}
            {% embed '@ezdesign/ui/component/tab/tab_pane.html.twig' with { id: 'my-preferences', active: true } %}
                {% block content %}
                    {% for user_setting in pager %}
                        {% set col_raw %}
                            <a
                                title="{{ 'list.action.edit'|trans|desc('Edit') }}"
                                href="{{ path('ezplatform.user_settings.update', { 'identifier': user_setting.identifier }) }}"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                            >
                                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                                    <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                                </svg>
                            </a>
                        {% endset %}

                        {% set body_rows = [{
                            cols: [
                                { content: value_definitions[user_setting.identifier].getDisplayValue(user_setting.value) },
                                { has_action_btns: true, content: col_raw, raw: true },
                            ]
                        }] %}

                        {% set head_cols = user_setting.description is not empty
                            ? [{ content: user_setting.description, attr: { colspan: 2 } }]
                            : null %}

                        {% include '@ezdesign/ui/component/table/table.html.twig' with {
                            headline: user_setting.name,
                            head_cols,
                            body_rows,
                        } %}
                    {% endfor %}

                    {% if pager.haveToPaginate %}
                        {% include '@ezdesign/ui/pagination.html.twig' with {
                            'pager': pager
                        } %}
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {% embed '@ezdesign/ui/component/tab/tab_pane.html.twig' with { id: 'my-account-settings' } %}
                {% block content %}
                    {% set col_raw %}
                        <a
                            title="{{ 'my_account_settings.password.action.edit'|trans|desc('Edit') }}"
                            href="{{ path('ezplatform.user_profile.change_password') }}"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                                <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                            </svg>
                        </a>
                    {% endset %}

                    {% include '@ezdesign/ui/component/table/table.html.twig' with {
                        headline: 'my_account_settings.password.title'|trans|desc('Password'),
                        body_rows: [{
                            cols: [
                                { content: 'my_account_settings.password.description'|trans|desc('Current password') },
                                { has_action_btns: true, content: col_raw, raw: true },
                            ]
                        }],
                    } %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-tabs-js', null, 'ezplatform') }}
{% endblock %}
