{% set tabViews = {} %}
<div>
    <div class="ez-header px-4">
        <div class="container">
            <ul class="nav nav-tabs ez-tabs" role="tablist" id="ez-tab-list-{{ group }}">
                {% for tab in tabs %}
                    {% set id = group ~ '-' ~ tab.identifier %}
                    {% set active = loop.first %}
                    {% set view = tab.view|raw|trim %}
                    {% if view is not empty %}
                        {% set tabViews = tabViews|merge({""~id:view}) %}
                        <li class="nav-item">
                            <a class="nav-link{% if active %} active{% endif %}" id="ez-tab-label-{{ group }}"
                               data-toggle="tab" href="#ez-tab-{{ id }}" role="tab" aria-controls="ez-tab-{{ id }}"
                               aria-expanded="{{ active }}">{{ tab.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="tab-content container mt-4 px-5" id="ez-tab-list-content-{{ group }}">
        {% for tab in tabs %}
            {% set id = group ~ '-' ~ tab.identifier %}
            {% set active = loop.first %}
            {% if tabViews[id] is defined %}
                <div class="tab-pane{% if active %} active{% endif %}" id="ez-tab-{{ id }}" role="tabpanel"
                     aria-labelledby="ez-tab-label-{{ group }}">
                    {{ tabViews[id] }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
