{% trans_default_domain 'content_type' %}

<div class="ez-extra-actions ez-extra-actions--edit ez-extra-actions--hidden bg-secondary {% if form.language.vars.choices|length == 1 %} ez-extra-actions--prevent-show {% endif %}" data-actions="edit">
    <div class="ez-extra-actions__header">{{ 'content.edit.select_language'|trans|desc('Select language') }}</div>
    <div class="ez-extra-actions__content">
        {{ form_start(form, { 'action': path('ezplatform.content_type.edit', {
            'contentTypeGroupId': form.vars.value.contentTypeGroup.id,
            'contentTypeId': form.vars.value.contentType.id
        }) }) }}
        {{ form_widget(form.content_type, { 'attr': {
            'hidden': 'hidden',
            'class': 'ez-extra-actions__form-field'
        } }) }}
        {{ form_widget(form.content_type_group, { 'attr': {
            'hidden': 'hidden',
            'class': 'ez-extra-actions__form-field'
        } }) }}
        {{ form_widget(form.language, { 'attr': {
            'class': 'ez-extra-actions__form-values'
        } }) }}
        {{ form_end(form) }}
    </div>
</div>
