{% trans_default_domain 'dashboard' %}

{#
  Want to edit these messages?
  If you are on GPL, as always make sure to share your modifications, as well as your bundles. But to
  make sure everyone benefits, please consider contributing modifications to ezsystems/ez-support-tools.
#}

{% set badge = "" %}
{% set severity = 0 %}
{% set levels = {0: "info", 1: "warning", 2: "danger"} %}
{% set status %}
{% apply spaceless %}
    {% if not ez.release %}
        {% set severity = 1 %}
        <div class="alert alert-warning mb-0 mt-3" role="alert">
            {{ 'dashboard.ez_version.release_not_determined'|trans|desc("The system could not find your <code>composer.lock</code> file. It's needed to determine information about
            your eZ install, and recommended to be kept on project development to make sure same package versions are used across all environments.")}}
        </div>
    {% elseif ez.stability != 'stable'  %}
        {% set severity = 1 %}
        {% set badge = 'Development' %}
        <div class="alert alert-warning mb-0 mt-3" role="alert">
            {% if ez.composerInfo.minimumStability != 'stable' %}
                {{ 'dashboard.ez_version.unstable_minimum_stability'|trans({'%minimum_stability%': ez.composerInfo.minimumStability})|desc("Your setup is running with '%minimum_stability%' as composer.json minimum-stability. This is not recommended except when testing updates or during development.") }}
            {% else  %}
                {{ 'dashboard.ez_version.non_stable_packages'|trans({'%stability%': ez.stability})|desc("Your setup is running with @%stability% composer packages. This is not recommended except when testing updates or during development.") }}
            {% endif %}
            {% if ez.isEnterpise %}
                {{ 'dashboard.ez_version.non_stable_ee'|trans({'%support_url%': urls['support']})|desc("If you need assistance, don't hesitate to <a target=\"_blank\" href=\"%support_url%\">get in touch with eZ support</a>.")|raw }}
            {% endif %}
        </div>
    {% elseif ez.isTrial %}
        {% set badge = 'Trial' %}
        {% if ez.isEndOfLife %}
            {% set severity = 2 %}
            <div class="alert alert-danger mb-0 mt-3" role="alert">
                {{ 'dashboard.ez_version.trial_expired'|trans({'%ttl_url%': urls['ttl']})|desc("Unfortunately your trial period has expired and your <a target=\"_blank\" href=\"%ttl_url%\">TTL license</a> is no longer valid.")|raw }}
        {% elseif ez.isEndOfMaintenance %}
            {% set severity = 1 %}
            <div class="alert alert-warning mb-0 mt-3" role="alert">
                {{ 'dashboard.ez_version.trial_end_of_maintenance'|trans|desc("Your trial period is coming to an end.")}}
        {% else %}
            {% set severity = 0 %}
            <div class="alert alert-info mb-0 mt-3" role="alert">
                {{ 'dashboard.ez_version.trial_notice'|trans({'%name%': ez.name, '%doc_url%': urls['doc'], '%consulting_url%': urls['consulting_service'], '%training_url%': urls['training_service']})
                |desc('Welcome to %name%, check our <a target=\"_blank\" href=\"%doc_url%\">online documentation</a>, <a target=\"_blank\" href=\"%consulting_url%\">consulting</a>
                    or <a target=\"_blank\" href=\"%training_url%\">training</a> services in order to get the most out of your trial.')
                |raw }}
        {% endif %}
            {{ 'dashboard.ez_version.trial_contact'|trans({'%contact_url%': urls['contact'], '%install_ee%': urls['install_ee']})
            |desc("<a target=\"_blank\" href=\"%contact_url%\">Contact eZ or its partner(s)</a> to purchase a subscription
                and follow the <a target=\"_blank\" href=\"%install_ee%\">online documentation</a> to configure composer.json 'repositories' url for 'bul' instead of 'ttl'.")
            |raw }}
        </div>
    {% elseif not ez.isEnterpise %}
        {% set badge = 'GPL' %}
        {% if ez.isEndOfMaintenance %}
            {# In the future with retrival of info from updates.ez.no we can detect missing (public) security fixes and then let this become an error #}
            {% set severity = 1 %}
            <div class="alert alert-warning mb-0 mt-3" role="alert">
                {{ 'dashboard.ez_version.community_end_of_maintenance'|trans({'%release%': ez.release, '%update_url%': urls['update']})
                |desc("Unfortunately %release% open source version has reached end of life, <a target=\"_blank\" href=\"%update_url%\">please upgrade</a>.")}}
                <em>
                    {{ 'dashboard.ez_version.community_end_of_maintenance_upgrade'|trans({
                        '%license_url%': urls['license'],
                        '%ee_product_url%': urls['ee_product'],
                        '%support_service_url%': urls['support_service'],
                        '%service_life_url%': urls['service_life']
                    })
                    |desc("Tip: If you upgrade to eZ Platform Enterprise you'll get access to:
                        <a target=\"_blank\" href=\"%license_url%\">A business friendly license</a>,
                        <a target=\"_blank\" href=\"%ee_product_url%\">several productivity features</a>,
                        <a target=\"_blank\" href=\"%support_service_url%\">professional Support</a> and
                        <a target=\"_blank\" href=\"%service_life_url%\">longer maintenance periode of your release</a>.")
                    |raw }}
                </em>
            </div>
        {% else  %}
            {% set severity = 0 %}
            <div class="alert alert-info mb-0 mt-3" role="alert">
                {{ 'dashboard.ez_version.community_severity_non'|trans({
                    '%release%': ez.release,
                    '%license_url%': urls['license'],
                    '%gpl_faq_url%': urls['gpl_faq'],
                })
                |desc("Welcome to the open source %release% release. Using the community friendly <a target=\"_blank\" href=\"%license_url%\">GPL license</a>,
                    <a target=\"_blank\" href=\"%gpl_faq_url%\">sharing your code</a> is what it's all about.")
                |raw }}
            </div>
        {% endif %}
    {% elseif ez.isEndOfLife %}
        {# As we don't yet here know if subscription has expired (todo with info from updates.ez.no), this is a warning and not a error #}
        {% set severity = 1 %}
        {% set badge = 'End of Life' %}
        <div class="alert alert-warning mb-0 mt-3" role="alert">
            {{ 'dashboard.ez_version.end_of_life_upgrade'|trans({
                '%release%': ez.release,
                '%service_life_url%': urls['service_life'],
                '%contact_url%': urls['contact'],
            })
            |desc("Unfortunately %release% has reached <a target=\"_blank\" href=\"%service_life_url%\">end of life</a>,
                please plan to upgrade. If you need assistance, don't hesitate to <a target=\"_blank\" href=\"%contact_url%\">contact eZ</a>.")
            |raw }}
        </div>
    {% endif %}
{% endapply %}
{% endset %}
