{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain "linkmanager" %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'url.list'|trans, url: path('ezplatform.link_manager.list') },
        { value: 'url.detail'|trans|desc('Link detail')}
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: url.url|truncate(60),
        iconName: 'link'
    } %}
{%- endblock -%}

{% block body_class %}ez-link-manager-view{% endblock %}

{%- block content -%}
    <section class="container mt-5">
        <table class="table ez-table--list">
            <thead>
                <tr>
                   <th colspan="2">
                       {{ 'url.tab.information'|trans|desc('Details') }}
                   </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'url.label.address'|trans }}</td>
                    <td>
                        <a href="{{ url.url }}" target="_blank">{{ url.url }}</a>
                        <a href="{{ path('ezplatform.link_manager.edit', { urlId: url.id }) }}"
                           class="btn btn-icon float-right "
                           title="{{ 'url.action.edit'|trans|desc('Edit URL') }}">
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'url.label.status'|trans }}</td>
                    <td>{{ url.isValid ? 'url.status.valid'|trans : 'url.status.invalid'|trans }}</td>
                </tr>
                <tr>
                    <td>{{ 'url.label.last_checked'|trans }}</td>
                    <td>
                        {% if url.lastChecked %}
                            {{ url.lastChecked | date('M d, Y h:i:sA') }}
                        {% else %}
                            {{ 'url.label.last_checked.never'|trans|desc('This URL has not been checked') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'url.label.created'|trans }}</td>
                    <td>{{ url.created | date('M d, Y h:i:sA') }}</td>
                </tr>
                <tr>
                    <td>{{ 'url.label.modified'|trans }}</td>
                    <td>{{ url.modified | date('M d, Y h:i:sA') }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="container mt-5">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">
                {{ 'url.tab.usages'|trans({'%count%': usages.nbResults })|desc('Content item(s) using this URL') }}
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'url.usages.column.name'|trans|desc('Name') }}</th>
                    <th>{{ 'url.usages.column.status'|trans|desc('Status') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for content in usages %}
                    {% set view_url = path('_ez_content_view', { contentId: content.id }) %}

                    <tr>
                        <td>
                            <a href="{{ view_url }}">
                                {{ ez_content_name(content) }}
                            </a>
                        </td>
                        <td>
                            {% if content.published %}
                                {{ 'url.usages.content_status.published'|trans|desc('Published') }}
                            {% else %}
                                {{ 'url.usages.content_status.draft'|trans|desc('Draft') }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if can_edit %}
                                <button class="btn btn-icon btn-link ez-btn--content-edit"
                                        title="{{ 'url.action.item.edit'|trans|desc('Edit Item') }}"
                                        data-content-id="{{ content.id }}"
                                        data-version-no="{{ content.currentVersionNo }}"
                                        data-language-code="{{ content.mainLanguageCode }}">
                                    <svg class="ez-icon ez-icon-edit">
                                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                                    </svg>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if usages.haveToPaginate %}
            <div class="row justify-content-center align-items-center">
                {{ pagerfanta(usages, 'ez') }}
            </div>
        {% endif %}

        {{ form_start(form_edit, {
            'action': path('ezplatform.content.edit'),
            'attr': { 'class': 'ez-edit-content-form'}
        }) }}
            {{ form_widget(form_edit.language, {'attr': {'hidden': 'hidden', 'class': 'language-input'}}) }}
        {{ form_end(form_edit) }}
    </section>
{%- endblock -%}

{% block title %}{{ 'url.view'|trans({ '%url%': url.url|truncate(60) }) }}{% endblock %}

{% block javascripts %}
    {%  javascripts
        'bundles/ezplatformadminui/js/scripts/button.content.edit.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
