<div
    class="ibexa-chart ibexa-chart--{{ chart_id }} {% block chart_class %}{% endblock %}"
    data-chart-data="{{ data|default({})|json_encode() }}"
>
    {% block chart_header %}
        <div class="ibexa-chart__header {% block header_class %}{% endblock %}">
            {% block header %}
                <h3 class="ibexa-chart__title">{% block title %}{% endblock %}</h3>
                <div class="ibexa-chart__time-range">{% block time_range %}{% endblock %}</div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block chart_body %}
        <div class="ibexa-chart__body">
            {% block message %}
                <div class="ibexa-chart__message">
                    <svg class="ibexa-icon ibexa-icon--extra-large ibexa-icon--secondary">
                        <use width="64" height="64" xlink:href="{{ ibexa_icon_path('error-icon') }}"></use>
                    </svg>
                    {{ 'dashboard.charts.no_data'|trans|desc('No data collected<br/> for the selected period')|raw }}
                </div>
            {% endblock %}

            {% block canvas %}
                <canvas class="ibexa-chart__canvas ibexa-chart__canvas--{{ chart_id }}"></canvas>
            {% endblock %}
        </div>
    {% endblock %}

    {% block chart_footer %}
    {% endblock %}
</div>
