{% trans_default_domain 'edit_translation_button' %}

{% set title = title ?? 'edit_translation.edit.title'|trans|desc('Edit Content') %}

{% if translations|length == 1 %}
    {% set language = translations|first %}
    <button
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text mx-2 ibexa-btn--content-edit"
        title="{{ title }}"
        type="button"
        data-content-id="{{ contentId }}"
        data-language-code="{{ language.languageCode }}"
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
            <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
        </svg>
    </button>
{% else %}
    {% set top_offset = top_offset is defined ? top_offset : 120 %}
    <div class="ez-translation-selector">
        <button
            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text mx-2 ibexa-btn--translations-list-toggler"
            title="{{ title }}"
            type="button"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
            </svg>
        </button>
        <div class="ez-translation-selector__list-wrapper ez-translation-selector__list-wrapper--hidden" data-top-offset={{ top_offset }}>
            <div class="ez-translation-selector__title">{{ 'edit_translation.list.title'|trans|desc('Select language') }}:</div>
            <div class="ez-translation-selector__list">
                {% for language in translations %}
                    <button class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--content-edit"
                        data-content-id="{{ contentId }}"
                        data-language-code="{{ language.languageCode }}">
                        {{ language.name }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
