{% extends 'bootstrap_5_layout.html.twig' %}

{% use '@ezdesign/ui/form_fields/toggle_widget.html.twig' %}
{% use '@ezdesign/ui/form_fields/dropdown_widget.html.twig' %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ibexa-label')|trim}) -%}
    {%- set is_only_errors = label is same as(false) -%}
    {% if not is_only_errors -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock form_label %}

{% block checkbox_radio_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ibexa-label ibexa-label--checkbox-radio')|trim}) -%}
    {{ parent() }}
{%- endblock checkbox_radio_label %}

{% block ezsystems_ezplatform_type_udw_widget %}
    {{ form_widget(form.location) }}
    {{ form_widget(form.select_content) }}
{% endblock ezsystems_ezplatform_type_udw_widget %}

{% block _content_create_content_type_widget -%}
    {%- if expanded -%}
        {{- block('content_type_choice_widget_expanded') -}}
    {%- else -%}
        {{- block('choice_widget_collapsed') -}}
    {%- endif -%}
{%- endblock %}

{%- block content_type_choice_widget_expanded -%}
    <div>
        {%- set options = choices -%}
        {{- block('content_type_choice_widget_options') -}}
    </div>
{%- endblock -%}

{%- block content_type_choice_widget_options -%}
    {%- for group_label, choice in options -%}
        {%- if choice is iterable -%}
            <div class="ez-instant-filter__group">
                <div class="ez-instant-filter__group-name">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</div>
                {%- set options = choice -%}
                {{- block('content_type_choice_widget_options') -}}
            </div>
        {%- else -%}
            <div class="ez-instant-filter__group-item">
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ez_content_type_icon(choice.value) }}"></use>
                </svg>
                {{ form_widget(form[choice.value]) }}
            </div>
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}

{%- block _search_query_widget -%}
    {% set has_search = true %}

    {{ block('form_widget_simple') }}
{%- endblock -%}

{%- block _search_content_types_widget -%}
    <div class="ibexa-content-type-selector accordion">
        {%- set groups = choices -%}
        {%- for group_label, group_choices in groups -%}
            <div class="ibexa-content-type-selector__group accordion-item">
                <span class="ibexa-content-type-selector__group-title accordion-header">
                    <button type="button" class="accordion-button {% if not loop.first %} collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#{{ group_label }}">
                        {{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}
                    </button>
                </span>
                <div class="ibexa-content-type-selector__list-wrapper accordion-collapse collapse{% if loop.first %} show{% endif %}" id="{{ group_label }}">
                    <ul class="ibexa-content-type-selector__list">
                        {%- for choice in group_choices|slice(0, 3) -%}
                            {{- block('search_type_choice_widget_options') -}}
                        {%- endfor -%}
                    </ul>
                    {% if group_choices|length > 3 %}
                        <a href="#" class="ibexa-content-type-selector__show-more">{{ 'content_type_selector.list.show_more'|trans|desc('See more') }}</a>
                        <ul class="ibexa-content-type-selector__list" hidden>
                            {%- for choice in group_choices|slice(3) -%}
                                {{- block('search_type_choice_widget_options') -}}
                            {%- endfor -%}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {%- endfor -%}
    </div>
{%- endblock -%}

{%- block search_type_choice_widget_options -%}
    <li class="ibexa-content-type-selector__item">
        {{ form_widget(form[choice.value], {'attr': {'data-name': choice.label}, 'label_attr': {'class': 'checkbox-inline'}}) }}
    </li>
{%- endblock -%}

{%- block checkbox_widget -%}
    {%- set attr = attr|merge({class: 'ibexa-input ibexa-input--checkbox ' ~ attr.class|default('') }) -%}
    {{ parent() }}
{%- endblock -%}

{%- block radio_widget -%}
    {%- set attr = attr|merge({class: 'ibexa-input ibexa-input--radio ' ~ attr.class|default('') }) -%}
    {{ parent() }}
{%- endblock -%}

{%- block trash_item_checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _trash_item_restore_restore_widget -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{'trash.button.restore'|trans({},'trash')|desc('Restore') }}">
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('restore') }}"></use>
        </svg>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock -%}

{%- block _trash_item_restore_location_select_content_widget -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{'trash.button.restore_new_location'|trans({},'trash')|desc("Restore in a new Location") }}">
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('restore-parent') }}"></use>
        </svg>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock -%}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    {{ parent() }}
{%- endblock number_widget -%}

{%- block password_widget -%}
    {% set force_text = true %}
    {%- set type = type|default('password') -%}
    {{ block('form_widget_simple') }}
{%- endblock password_widget -%}

{%- block email_widget -%}
    {% set force_text = true %}
    {%- set type = type|default('email') -%}
    {{ parent() }}
{%- endblock email_widget -%}

{%- block table_header_tool_btn -%}
    {%- set type = type|default('submit') -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type }}" {{ block('button_attributes') }} title="{{ title|default('') }}">
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path(icon|default('')) }}"></use>
        </svg>
    </button>
{%- endblock table_header_tool_btn -%}

{%- block _bookmark_remove_remove_widget -%}
    {%- set title = 'bookmark.button.remove'|trans({},'bookmark')|desc('Remove from bookmarks') -%}
    {%- set icon = 'trash' -%}
    {{ block('table_header_tool_btn') }}
{%- endblock -%}

{%- block _content_remove_remove_widget -%}
    {%- set title = 'drafts.list.action.remove'|trans({},'drafts')|desc('Remove') -%}
    {%- set icon = 'trash' -%}
    {{ block('table_header_tool_btn') }}
{%- endblock -%}

{%- block date_time_picker_widget -%}
    <div class="ez-picker">
        <input type="text" class="ez-picker__input form-control" readonly="readonly">
        <button type="button" class="ez-picker__btn--clear-input">
            <svg class="ibexa-icon ibexa-icon--medium">
                <use xlink:href="{{ ibexa_icon_path('circle-close') }}"></use>
            </svg>
        </button>
        {% set attr = attr|merge({ 'hidden': true, 'class': 'ez-picker__form-input' }) %}
        {{ block('form_widget') }}
    </div>
{%- endblock -%}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' ibexa-input ibexa-input--textarea')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{%- block richtext_widget -%}
    {% set attr = attr|merge({ 'hidden': true }) %}

    <div class="ez-data-source">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        <div class="hidden" data-udw-config-name="richtext_embed" data-udw-config="{{ ez_udw_config('richtext_embed', udw_context) }}"></div>
        <div class="hidden" data-udw-config-name="richtext_embed_image" data-udw-config="{{ ez_udw_config('richtext_embed_image', udw_context) }}"></div>
        <div class="ibexa-data-source__richtext" id="{{ form.vars.id }}__editable"></div>
        <div class="ibexa-richtext-tools">
            <ul class="ibexa-elements-path"></ul>
            {% if ez_user_settings['character_counter'] == 'enabled' %}
                <div class="ibexa-character-counter">
                    <span class="ibexa-character-counter__word-count">0</span> {{ 'character_counter.words'|trans|desc('words') }}
                    <span class="ibexa-character-counter__character-count">0</span> {{ 'character_counter.characters'|trans|desc('characters') }}
                </div>
            {% endif %}
        </div>
    </div>
{%- endblock -%}

{%- block _search_section_widget -%}
    {{ form_widget(form, { attr: { dropdown_class: 'ibexa-dropdown--small' }}) }}
{%- endblock -%}

{%- block _search_search_language_widget -%}
    {{ form_widget(form, { attr: { dropdown_class: 'ibexa-dropdown--small' }}) }}
{%- endblock -%}

{%- block _search_last_modified_select_widget -%}
    {{ form_widget(form, { attr: { dropdown_class: 'ibexa-dropdown--small' }}) }}
    <div 
        class="ibexa-filters__range-wrapper ibexa-filters__range-wrapper--select-modified-range {% if form.vars.data == "custom_range" %}ibexa-filters__range-wrapper--visible{% endif %}"
        data-period-selector="#search_last_modified_date_interval" 
        data-end-selector="#search_last_modified_end_date"
    >
        <input 
            type="text"
            class="ibexa-filters__range-select form-control"
            placeholder="{{ 'search.date.range'|trans(domain='search')|desc('From date - to date') }}"
            data-start="{{ form.parent.vars.data.lastModified.start_date is defined ? form.parent.vars.data.lastModified.start_date|date("Y-m-d") : '' }}"
            data-end="{{ form.parent.vars.data.lastModified.end_date is defined ? form.parent.vars.data.lastModified.end_date|date("Y-m-d") : '' }}"
        />
    </div>
{%- endblock -%}

{%- block _search_created_select_widget -%}
    {{ form_widget(form, { attr: { dropdown_class: 'ibexa-dropdown--small' }}) }}
    <div 
        class="ibexa-filters__range-wrapper ibexa-filters__range-wrapper--select-created-range {% if form.vars.data == "custom_range" %}ez-filters__range-wrapper--visible{% endif %}"
        data-period-selector="#search_created_date_interval" 
        data-end-selector="#search_created_end_date"
    >
        <input 
            type="text"
            class="ibexa-filters__range-select form-control"
            placeholder="{{ 'search.date.range'|trans(domain='search')|desc('From date - to date') }}"
            data-start="{{ form.parent.vars.data.created.start_date is defined ? form.parent.vars.data.created.start_date|date("Y-m-d") : '' }}"
            data-end="{{ form.parent.vars.data.created.end_date is defined ? form.parent.vars.data.created.end_date|date("Y-m-d") : '' }}"
        />
    </div>
{%- endblock -%}


{%- block _trash_search_trashed_widget -%}
    {{ form_widget(form) }}
    <div 
        class="ez-trash-search-form__range-wrapper ez-trash-search-form__range-wrapper--select-trashed-range {% if form.vars.data == "custom_range" %}ez-trash-search-form__range-wrapper--visible{% endif %}" 
        data-period-selector="#trash_search_trashed_interval_date_interval" 
        data-end-selector="#trash_search_trashed_interval_end_date"
    >

        <input 
            type="text"
            class="ez-trash-search-form__range-select form-control"
            placeholder="{{ 'search.date.range'|trans(domain='search')|desc('From date - to date') }}"
            data-start="{{ form.parent.vars.data.trashedInterval.start_date is defined ? form.parent.vars.data.trashedInterval.start_date|date("Y-m-d") : '' }}"
            data-end="{{ form.parent.vars.data.trashedInterval.end_date is defined ? form.parent.vars.data.trashedInterval.end_date|date("Y-m-d") : '' }}"
        />
    </div>
{%- endblock -%}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- set form_errors_attr = form_errors_attr|default({})|merge({class: (form_errors_attr.class|default('') ~ ' ibexa-form-error')|trim}) -%}
        {%- for error in errors -%}
            <em {% with { attr: form_errors_attr } %}{{ block('attributes') }}{% endwith %}>
                <svg class="ibexa-icon ibexa-icon--small ibexa-form-error__icon">
                    <use xlink:href="{{ ibexa_icon_path('warning-triangle') }}"></use>
                </svg> 
                {{ error.message }}
            </em>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors %}

{% block form_label_errors %}{% endblock form_label_errors %}

{%- block form_widget_simple -%}
    {%- set has_search = has_search|default(false) -%}
    {%- set is_text_input = type|default('text') == 'text' or force_text|default(false) -%}
    {%- if is_text_input -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' ibexa-input ibexa-input--text')|trim}) -%}
        {%- set empty_placeholder_for_hiding_clear_btn_with_css = ' ' -%}
        {%- set attr = attr|merge({placeholder: (attr.placeholder is defined) ? attr.placeholder : empty_placeholder_for_hiding_clear_btn_with_css}) -%}
        {%- set input_html -%}
            {{ parent() }}
        {%- endset -%}
        {%- embed '@ezdesign/ui/component/input_text.html.twig' with { has_search } -%}
            {% block content %}
                {{ input_html }}
            {% endblock %}
        {%- endembed -%}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock form_widget_simple -%}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' ibexa-form-help')|trim}) -%}
        <small id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            <svg class="ibexa-icon ibexa-icon--small ibexa-form-help__icon">
                <use xlink:href="{{ ibexa_icon_path('system-information') }}"></use>
            </svg>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </small>
    {%- endif -%}
{%- endblock form_help %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}
