<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="CSRF-Token" content="{{ csrf_token('authenticate') }}" />
        <meta name="SiteAccess" content="{{ app.request.get('siteaccess').name }}" />
        <meta name="UserId" content="{{ ez_admin_ui_config.user.user.id }}" />
        <script>
            const userAgent = navigator.userAgent.toLowerCase();

            if (userAgent.indexOf('chrome') < 0 && userAgent.indexOf('safari') >= 0) {
                window.onpageshow = (event) => {
                    if (event.persisted) {
                        document.body.classList.remove('ez-prevent-click');
                    }
                };
            }
        </script>
        <script>
            window.eZ = {
                addConfig: (path, value, shouldMerge = false) => {
                    const keys = path.split('.');
                    const lastIndex = keys.length - 1;
                    const objectConstructorName = 'Object';
                    const setValue = (newValue, oldValue) => {
                        const hasValue = newValue && !!newValue.constructor;
                        const oldHasValue = oldValue && !!oldValue.constructor;

                        if (!shouldMerge || !hasValue || !oldHasValue) {
                            return newValue;
                        }

                        if (Array.isArray(newValue)) {
                            return [...oldValue, ...newValue];
                        }

                        if (newValue.constructor.name === objectConstructorName) {
                            return Object.assign({}, oldValue, newValue);
                        }
                    };

                    keys.reduce((currentObj, nextKey, index) => {
                        const isLastIndex = index === lastIndex;

                        if (!currentObj[nextKey] && !isLastIndex) {
                            currentObj[nextKey] = {};
                        }

                        if (isLastIndex) {
                            currentObj[nextKey] = setValue(value, currentObj[nextKey]);
                        }

                        return currentObj[nextKey];
                    }, window.eZ);
                },
            };
        </script>
        {% block meta %}
        {% endblock %}
        <script>
            window.eZ.addConfig('adminUiConfig', {{ ez_admin_ui_config|json_encode|raw }});
            window.eZ.addConfig('richText', {{ ez_richtext_config|json_encode|raw }});
            window.eZ.addConfig('errors', {
                emailRegexp: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                emptyField: '{{ 'js.error.empty.field'|trans({}, 'validators')|desc('{fieldName} Field is required') }}',
                invalidEmail: '{{ 'js.error.invalid_email'|trans({}, 'validators')|desc('A valid email address is required') }}',
                invalidUrl: '{{ 'js.error.invalid_url'|trans({}, 'validators')|desc('A valid URL is required') }}',
                tooLong: '{{ 'js.error.too_long'|trans({}, 'validators')|desc('{fieldName} value must be less than or equal to {maxLength} characters') }}',
                tooShort: '{{ 'js.error.too_short'|trans({}, 'validators')|desc('{fieldName} value must be greater than or equal to {minLength} characters') }}',
                isNotInteger: '{{ 'js.error.is_not_integer'|trans({}, 'validators')|desc('{fieldName} value must be an integer') }}',
                isNotFloat: '{{ 'js.error.is_not_float'|trans({}, 'validators')|desc('{fieldName} value must be a float number') }}',
                isLess: '{{ 'js.error.is_less'|trans({}, 'validators')|desc('{fieldName} value must be greater than or equal to {minValue}') }}',
                isGreater: '{{ 'js.error.is_greater'|trans({}, 'validators')|desc('{fieldName} value must be less than or equal to {maxValue}') }}',
                invalidFileSize: '{{ 'js.error.invalid_file_size'|trans({}, 'validators')|desc('{fieldName}: Cannot upload. File exceeds file size limit.') }}',
                provideLatitudeValue: '{{ 'js.error.provide_latitude_value'|trans({}, 'validators')|desc('Provide latitude value in the Latitude field') }}',
                provideLongitudeValue: '{{ 'js.error.provide_longitude_value'|trans({}, 'validators')|desc('Provide longitude value in the Longitude field') }}',
                addressNotFound: '{{ 'js.error.address_not_found'|trans({}, 'validators')|desc('Provided address does not exist') }}',
                notSamePasswords: '{{ 'js.error.not_same_passwords'|trans({}, 'validators')|desc('Passwords do not match') }}',
                invalidValue: '{{ 'js.error.invalid_value'|trans({}, 'validators')|desc('{fieldName} Field has invalid values') }}',
                outOfRangeValue: '{{ 'js.error.out_of_range_value'|trans({}, 'validators')|desc('{fieldName} value is out of range. The value must be between {min} and {max}') }}'
            });

            window.CKEDITOR_BASEPATH = window.ALLOYEDITOR_BASEPATH = "/bundles/ezplatformadminuiassets/vendors/alloyeditor/dist/alloy-editor/";
        </script>
        <script src="/bundles/fosjsrouting/js/router.js"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% if app.request.locale == 'ach_UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ezplatform']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
        <title>{% block title %}Ibexa DXP{% endblock %}</title>
        {{ encore_entry_link_tags('ezplatform-admin-ui-layout-css', null, 'ezplatform') }}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ezplatformadminui/img/favicon.ico') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/ezplatformadminui/img/favicon-16x16.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/ezplatformadminui/img/favicon-32x32.png') }}" />
        {{ ez_render_component_group('stylesheet-head') }}
        {{ ez_render_component_group('script-head') }}

        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/react/umd/react.production.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/react-dom/umd/react-dom.production.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/create-react-class/create-react-class.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/prop-types/prop-types.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/flatpickr/dist/flatpickr.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/moment-timezone/builds/moment-timezone-with-data.min.js') }}"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ asset('assets/translations/config.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/alloyeditor/dist/alloy-editor/alloy-editor-no-react-min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/chart-js/dist/Chart.min.js') }}"></script>
        <script src="{{ asset('bundles/ezplatformadminuiassets/vendors/js-md5/build/md5.min.js') }}"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="react-udw" data-filter-subtree-udw-config="{{ ez_udw_config('single_container', {}) }}"></div>

        {% block navigation %}
            {% include '@ezdesign/ui/menu/top_navigation.html.twig' %}
        {% endblock %}
        {% block header %}
            <div class="container-fluid ez-header {% block header_class %}{% endblock %}">
                <div class="container">
                    {% block breadcrumbs %}{% endblock %}
                    {% block page_title %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        <div class="container-fluid ez-main-container">
            {% block content %}

                {% block left_sidebar %}
                    <div class="ez-side-menu">
                        <div class="ez-sticky-container">
                            {{ knp_menu_render('ezplatform_admin_ui.menu.content.sidebar_left', {'template': '@ezdesign/ui/menu/sidebar_left.html.twig'}) }}
                        </div>
                    </div>
                    <div class="ez-content-tree-container"
                        data-tree-root-location-id="{{ content_tree_module_root|default(ez_admin_ui_config['contentTree']['treeRootLocationId']) }}"
                        data-current-location-path="{{ location_path|default('') }}">
                        <div class="ez-content-tree-container__wrapper"></div>
                    </div>
                {% endblock left_sidebar %}

            {% endblock content %}
        </div>

        {% block footer %}
            {% include '@ezdesign/ui/footer.html.twig' %}
        {% endblock %}

        <div
            class="ez-notifications-container"
            data-notifications="{{ app.flashes|json_encode() }}"
            data-template="{{ include('@ezdesign/ui/notification.html.twig', {
                label: '{{ label }}',
                message: '{{ message }}',
                badge: '{{ badge }}'
            })|e('html_attr')  }}"></div>
        <div class="ez-modal-wrapper"></div>

        {{ encore_entry_script_tags('ezplatform-admin-ui-layout-js', null, 'ezplatform') }}
        {{ encore_entry_script_tags('ezplatform-admin-ui-udw-tabs-js', null, 'ezplatform') }}
        {{ encore_entry_script_tags('ezplatform-admin-ui-udw-extras-js', null, 'ezplatform') }}
        {{ encore_entry_script_tags('ezplatform-admin-ui-udw-js', null, 'ezplatform') }}

        {% block react_modules %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ ez_render_component_group('stylesheet-body') }}
        {{ ez_render_component_group('script-body') }}
    </body>
</html>
