<div class="alert alert-{{ label }} alert-dismissible fade show">
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close" title="{{ 'alert.close'|trans|desc('Close') }}">
        <svg class="ibexa-icon ibexa-icon--light ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
        </svg>
    </button>
    {% if badge is defined %}
        <span class="badge ez-badge ez-badge--small ez-badge--round">{{ badge }}</span>
    {% endif %}
    <span class="ez-notifications-container__message">{{ message }}</span>
</div>
