{% set btn_class = btn_class|default('') %}
{% set content = content|default('') %}
{% set target_selector = target_selector|default('') %}
{% set title = title|default('') %}

<div class="ibexa-tag ibexa-search-criteria-tags__tag"{% if title %} title="{{ title }}{% endif %}">
    <div class="ibexa-tag__content">
        {{ content }}
    </div>
    <button 
        type="button" 
        class="ibexa-tag__remove-btn {{ btn_class }}"
        data-target-selector="{{ target_selector }}"
    >
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('circle-close') }}"></use>
        </svg>
    </button>
</div>
