{% set tag_attributes = tag_attributes|default({})|merge({'class': (tag_attributes.class|default('') ~ ' ibexa-tag')|trim}) %}

<div {% for attribute_name, attribute_value in tag_attributes %}
        {% if attribute_value is not same as(false) %}
            {% if attribute_value is not same as(true) %}
                    {{ attribute_name }}="{{ attribute_value }}"
            {% else %}
                    {{ attribute_name }}
            {% endif %}
        {% endif %}
    {% endfor %}>
    <div class="ibexa-tag__content" {% if is_loading_state %} hidden {% endif %}>
        {{ content }}
    </div>
    <div class="ibexa-tag__spinner" {% if not is_loading_state %} hidden {% endif %}>
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--dark ibexa-spin">
            <use xlink:href="{{ ibexa_icon_path('spinner') }}"></use>
        </svg>
    </div>
    <button type="button" class="ibexa-tag__remove-btn">
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--dark">
            <use xlink:href="{{ ibexa_icon_path('circle-close') }}"></use>
        </svg>
    </button>
</div>
