{% extends "@ezdesign/object_state/object_state_group/base.html.twig" %}

{% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'object_state' %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.object_state.groups.list'), value: 'object_state_group.breadcrumb.list'|trans|desc('Object states') },
        { value: 'object_state_group.breadcrumb.edit'|trans({ '%name%': object_state_group.name })|desc('Editing Object state group \'%name%\'') }
    ]} %}
{% endblock %}

{% block context_menu_admin %}
    {% set object_state_group_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.object_state_group_edit.sidebar_right', [], {'save_id': form.save.vars.id}) %}
    {{ knp_menu_render(object_state_group_edit_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}

{% block header_admin %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'object_state_group.view.edit.title'|trans({'%name%': object_state_group.name})|desc('Editing Object state group \'%name%\''),
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}

    <section>
        <div class="card ibexa-card ibexa-card--light">
            <div class="card-body ibexa-card__body">
                {{ form_row(form.name) }}
                {{ form_row(form.identifier) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.save, {"attr": {"hidden": "hidden"}}) }}

    {{ form_end(form) }}
{% endblock %}
