{% extends '@ezdesign/content/content_edit/content_edit_base.html.twig' %}

{% trans_default_domain 'user_edit' %}

{% block details %}
    <h4 class="text-muted">{{ 'editing'|trans({'%contentType%': contentType.name})|desc('Editing - %contentType%') }}</h4>
    <h1>
        <svg class="ez-icon ez-icon-{{ contentType.identifier }}">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ contentType.identifier }}"></use>
        </svg>
        {{ user.name }}
    </h1>

    <div class="small">
        {{ contentType.name }} / {{ 'created_by'|trans({'%name%': 'Administrator'})|desc('Created by %name%') }} / {{ user.versionInfo.creationDate|localizeddate('medium', 'medium', app.request.locale) }} / {{ 'content_id'|trans({'%contentId%': user.id})|desc('Content ID: %contentId%') }}{% if user.versionInfo.contentInfo.mainLocationId %}, {{ 'location_id'|trans({'%locationId%': user.versionInfo.contentInfo.mainLocationId})|desc('Location ID: %locationId%') }}{% endif %}
    </div>
    {# @todo remove if statement once getDescription() bug is resolved in kernel #}
    {% if contentType.descriptions is not empty %}
        <div class="small text-muted">{{ contentType.description }}</div>
    {% endif %}
{% endblock %}

{% block form_fields %}
    {{ parent() }}
    {{ form_widget(form.update, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
{% endblock %}

{% block right_sidebar %}
    {% set user_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.user_edit.sidebar_right', [], {'user': user, 'content_type': contentType}) %}
    {{ knp_menu_render(user_edit_sidebar_right, {'template': '@ezdesign/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block close_button %}
    <a class="ez-content-edit-container__close" href="{{ path('_ezpublishLocation', {'locationId': user.versionInfo.contentInfo.mainLocationId}) }}"></a>
{% endblock %}
