{% trans_default_domain 'locationview' %}
{% form_theme form _self '@ezdesign/form_fields.html.twig'  %}

<div class="ez-add-to-bookmarks {{ form.vars.data.bookmarked ? 'ez-add-to-bookmarks--checked'}}">
    {{ form_start(form, {'action': path('ezplatform.location.update_bookmark')}) }}
        {{ form_widget(form.bookmarked, {'attr': {'class': 'ez-add-to-bookmarks__checkbox'}}) }}
        <label class="ez-add-to-bookmarks__label" for="{{ form.bookmarked.vars.id}}">
            <div
                class="ez-add-to-bookmarks__icon-wrapper ez-add-to-bookmarks__icon-wrapper--add"
                title="{{ 'location.bookmark.add'|trans|desc('Add to Bookmarks') }}">
                <svg class="ez-icon ez-icon--secondary">
                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#bookmark"></use>
                </svg>
            </div>
            <div
                class="ez-add-to-bookmarks__icon-wrapper ez-add-to-bookmarks__icon-wrapper--remove"
                title="{{ 'location.bookmark.remove'|trans|desc('Remove from Bookmarks') }}">
                <svg class="ez-icon ez-icon--secondary">
                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#bookmark-active"></use>
                </svg>
            </div>
        </label>
    {{ form_end(form)}}
</div>
