{% trans_default_domain 'locationview' %}
{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig' '@EzPlatformAdminUi/content/tab/translations/translation_add_form_fields.html.twig' %}

<div class="modal fade ez-translation" id="add-translation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {{ form_start(form, {'action': path('ezplatform.translation.add')}) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'tab.translations.add.title'|trans|desc('Create new translation') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'translation.modal_close'|trans|desc('Close') }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="ez-translation__title">{{ 'tab.translations.add.language'|trans|desc('Select a language for your new translation') }}</span>
                {{ form_widget(form.language, {'attr': {'class': 'ez-translation__language-wrapper'}}) }}
                <span class="ez-translation__title">{{ 'tab.translations.add.base_language'|trans|desc('Base this translation on an existing translation') }}</span>
                {{ form_widget(form.base_language, {'attr': {'class': 'ez-translation__language-wrapper'}}) }}
                <div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    {{ 'tab.translations.add.cancel'|trans|desc('Cancel') }}
                </button>
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary ez-btn--wide ez-btn--create-translation', 'disabled': 'disabled'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
