{% trans_default_domain 'locationview' %}

{% form_theme form_translation_remove '@ezdesign/parts/form/flat_widgets.html.twig' %}

{% import _self as tab %}
<section>
    {{ form_start(form_translation_remove, {
        'action': path('ezplatform.translation.remove'),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-translations' }
    }) }}
    {% include '@ezdesign/parts/table_header.html.twig' with { headerText: 'tab.translations.translation_manger'|trans|desc('Translation manager'), tools: tab.table_header_tools(form_translation_remove) } %}
    <table class="ez-table table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'tab.translations.language_name'|trans|desc('Language name') }}</th>
            <th>{{ 'tab.translations.language_code'|trans|desc('Language code') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td class="ez-table__cell ez-table__cell--has-checkbox">{{ form_widget(form_translation_remove.language_codes[translation.languageCode], {'attr': {'disabled': not translation.canDelete}}) }}</td>
                <td class="ez-table__cell">{{ translation.name }}</td>
                <td class="ez-table__cell">{{ translation.languageCode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form_translation_remove) }}

    {% include '@ezdesign/content/tab/translations/modal_add_translation.html.twig' with {'form': form_translation_add} only %}
</section>

{% macro table_header_tools(form_translation_remove) %}
    <button class="btn btn-primary ez-btn--prevented ez-btn--add-translation" data-toggle="modal" data-target="#add-translation-modal"
            title="{{ 'tab.translations.action.add'|trans|desc('Add Translation') }}">
        <svg class="ez-icon ez-icon-create">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
        </svg>
    </button>

    {% set modal_data_target = 'delete-translations-modal' %}
    <button id="delete-translations" type="button" class="btn btn-danger" disabled data-toggle="modal"
            data-target="#{{ modal_data_target }}" title="{{ 'tab.translations.action.delete'|trans|desc('Delete Translation') }}">
        <svg class="ez-icon ez-icon-trash">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
        </svg>
    </button>
    {% include '@ezdesign/bulk_delete_confirmation_modal.html.twig' with {
        'id': modal_data_target,
        'message': 'tab.translations.modal.message'|trans|desc('Do you want to delete Translation?'),
        'data_click': '#' ~ form_translation_remove.remove.vars.id,
    }%}
{% endmacro %}

{% block javascripts %}
    {% javascripts
    '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
