{% extends '@ezdesign/ui/menu/top_menu_base.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {% set currentItem = item %}
    {% for item in currentItem.children if item.children|length > 0 or (item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink)) %}
        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% set linkAttributes = item.linkAttributes|merge({'href': item.uri, 'aria-controls': item.name, 'class': 'nav-link' ~ (matcher.isCurrent(item) ? ' ' ~ options.currentClass)}) %}
    <a{{ knp_menu.attributes(linkAttributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% set href = '#' ~ item.name %}
    {% set linkAttributes = item.linkAttributes|merge({
        'href': item.uri is not empty ? item.uri : '#' ~ item.name,
        'aria-controls': item.name,
        'class': ('nav-link' ~ (matcher.isAncestor(item, options.matchingDepth) ? ' ' ~ options.currentClass|trim)) ~  (item.linkAttributes.class is defined ?  ' ' ~ item.linkAttributes.class|trim),
        'role': 'tab',
        'data-toggle': 'tab'
    }) %}
    {% if matcher.isAncestor(item, options.matchingDepth) %}{% set linkAttributes = linkAttributes|merge({'aria-expanded': 'true'}) %}{% endif %}
    <a{{ knp_menu.attributes(linkAttributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block label %}
    {{ parent() }}
{% endblock %}
