{% trans_default_domain 'content_url' %}
{% form_theme form '@ezdesign/content/form_fields.html.twig' '@ezdesign/content/tab/url/checkbox.html.twig' %}

<div class="modal fade ez-modal ez-modal--custom-url-alias" id="ez-modal--custom-url-alias" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {{ form_start(form, {'action': path('ezplatform.custom_url.add')}) }}
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'tab.urls.add.title'|trans|desc('Create a new URL alias') }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ 'tab.urls.modal_close'|trans|desc('Close') }}">
                    <svg class="ibexa-icon ibexa-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <span class="ez-modal--custom-url-alias__label required">{{ 'tab.urls.add.path'|trans|desc('URL') }}</span>
                {{ form_widget(form.path, {attr: { class: 'mb-3' }}) }}

                <span class="ez-modal--custom-url-alias__label">{{ 'tab.urls.add.language'|trans|desc('Language') }}</span>
                {{ form_widget(form.language, {attr: { class: 'mb-3' }}) }}

                <span class="ez-modal--custom-url-alias__label">{{ 'tab.urls.add.redirect'|trans|desc('Redirect to alias destination') }}</span>
                {{ form_widget(form.redirect) }}
                
                <div class="ez-modal--custom-url-alias__info-text">{{ 'tab.urls.add.redirect.helper.checked'|trans|desc('When checked, the alias will redirect to the destination using an HTTP 301 response.') }}</div>
                <div class="ez-modal--custom-url-alias__info-text mb-4">{{ 'tab.urls.add.redirect.helper.unchecked'|trans|desc('When unchecked, the alias will not redirect to the destination and the URL will stay the same.') }}</div>

                <span class="ez-modal--custom-url-alias__label">{{ 'tab.urls.add.site_root'|trans|desc('Place at the site root') }}</span>
                {{ form_widget(form.site_root) }}
                <div class="ez-modal--custom-url-alias__info-text">{{ 'tab.urls.add.site_root.helper.checked'|trans|desc('When checked, the alias will be placed at the site root.') }}</div>
                <div class="ez-modal--custom-url-alias__info-text">
                    {% if parent_name is not null %}
                        {{ 'tab.urls.add.site_root.helper.unchecked'|trans({'%parent_name%': parent_name})|desc('When unchecked, the alias will be placed under %parent_name%') }}
                    {% else %}
                        {{ 'tab.urls.add.site_root.helper.no_parent_name'|trans|desc('When unchecked, the alias will be placed under the parent of this Location') }}
                    {% endif %}
                </div>

                <span class="ez-modal--custom-url-alias__label">{{ 'tab.urls.add.site_access'|trans|desc('SiteAccess') }}</span>
                {{ form_widget(form.site_access) }}
                <div class="ez-modal--custom-url-alias__info-text">
                    {{ 'tab.urls.add.root_location_id.helper_secondary'|trans|desc("If you leave this empty, the alias will be placed at main root Location.") }}
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.add, {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary', 'disabled': 'disabled'}}) }}
                <button type="button" class="btn ibexa-btn ibexa-btn--secondary" data-bs-dismiss="modal">
                    {{ 'tab.urls.add.cancel'|trans|desc('Cancel') }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
