<div class="ibexa-available-field-types">
    <h3 class="ibexa-available-field-types__header">{{ 'content_type.view.edit.content_field_types'|trans|desc('Field types') }}</h3>
    <div class="ibexa-available-field-types__search-container">
        <input type="text" class="ibexa-input ibexa-available-field-types__search form-control" />
    </div>
    <ul class="ibexa-available-field-types__fields">
        {% for item in field_type_toolbar %}
            <li class="ibexa-available-field-types__field" draggable="true" data-item-identifier="{{ item.identifier }}">
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--drag-icon">
                    <use xlink:href="{{ ibexa_icon_path('drag') }}"></use>
                </svg>
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--field-icon">
                    <use xlink:href="{{ ibexa_icon_path('dropdown') }}"></use>
                </svg>
                <div class="ibexa-available-field-types__field-label">{{ item.name }}</div>
            </li>
        {% endfor %}
    </ul>
</div>
