{% extends "@ezdesign/content_type/edit_base.html.twig" %}

{% set language_code = language_code|default(content_type.mainLanguageCode) %}

{% block header %}
    {% set content_type_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_type_edit.sidebar_right', [], {
        'form_view': form,
        'content_type': content_type
    }) %}

    {% include '@ezdesign/ui/edit_header.html.twig' with {
        action_name: 'editing'|trans|desc('Editing'),
        icon_name: 'file',
        title: 'editing.title'|trans({ '%identifier%': content_type.name })|desc('Editing Content type %identifier%'),
        show_autosave_status: false,
        context_actions: knp_menu_render(content_type_edit_sidebar_right, {'template': '@ezdesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form, { attr: { class: 'ibexa-content-type-edit ibexa-form' } }) }}
        {% set is_translation = form.vars.data.languageCode != content_type.mainLanguageCode %}

        {% if is_translation %}
            {% include '@ezdesign/content_type/part/nontranslatable_fields_disabled.html.twig' %}
        {% endif %}

        <div
            class="ibexa-content-type-edit__sections ibexa-anchor-navigation-sections container"
            data-language-code="{{ language_code }}"
            data-content-type-group-id="{{ content_type_group.id }}"
            data-content-type-id="{{ content_type.id }}"
        >
            {% block form_sections %}
                {% embed "@ezdesign/content_type/edit_section.html.twig" with { section_id: '#Global-properties', is_active: true } %}
                    {% block title %}
                        {{ 'content_type.view.edit.global_properties'|trans|desc('Global properties') }}
                    {% endblock %}

                    {% block left_column %}
                        {{ form_row(form.name) }}
                        {{ form_row(form.identifier) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.nameSchema) }}
                        {{ form_row(form.urlAliasSchema) }}
                        {{ form_row(form.isContainer) }}
                        {{ form_row(form.defaultSortField) }}
                        {{ form_row(form.defaultSortOrder) }}
                        {{ form_row(form.defaultAlwaysAvailable) }}
                    {% endblock %}
                {% endembed %}

                {% embed "@ezdesign/content_type/edit_section.html.twig" with {
                    section_id: '#Field-definitions',
                    left_column_class: 'ibexa-content-type-edit__section-column--field-definitions',
                    right_column_class: 'ibexa-content-type-edit__section-column--available-fields'
                } %}
                    {% block title %}
                        {{ 'content_type.view.edit.content_field_definitions'|trans|desc('Field definitions') }}
                    {% endblock %}

                    {% block left_column %}
                        {{ include('@ezdesign/content_type/field_definitions.html.twig', { grouped_field_defintions: form.fieldDefinitionsData }) }}
                    {% endblock %}

                    {% block right_column %}
                        {{ include('@ezdesign/content_type/available_field_types.html.twig') }}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        </div>

        {{ form_widget(form.publishContentType, { attr: { class: 'ibexa-content-type-edit__publish-content-type', hidden: 'hidden' }}) }}
        {{ form_widget(form.removeDraft, {'attr': { 'hidden': 'hidden' }}) }}

        {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false }) }}
{% endblock %}
