{% extends "@ezdesign/ui/base.html.twig" %}

{% trans_default_domain 'content_type' %}
{% form_theme form '@ezdesign/ui/form_fields.html.twig' %}

{% block body_class %}ez-admin-edit ez-has-full-width-footer{% endblock %}

{% block breadcrumbs_admin %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { url: path('ezplatform.content_type_group.view', { contentTypeGroupId: content_type_group.id }), value: 'content_type_group.breadcrumb.view'|trans({ '%identifier%': content_type_group.identifier })|desc('%identifier%') },
        { value: 'content_type.breadcrumb.edit'|trans({ '%identifier%': content_type.name })|desc('%identifier%') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'content_type.view.edit.title'|trans({ '%name%': content_type.name })|desc('Editing Content Type \'%name%\''),
        content_type_identifier: content_type.identifier
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {% set language_code = language_code|default(content_type.mainLanguageCode) %}
    {% set is_translation = form.vars.data.languageCode != content_type.mainLanguageCode %}
    {% if is_translation %}
        {% include '@ezdesign/content_type/part/nontranslatable_fields_disabled.html.twig' %}
    {% endif %}
    <section class="container ez-container mb-4">
        <div class="card ez-card ez-card--light">
            <div class="ez-card__header ez-card__header--section-title">
                {{ 'content_type.view.edit.global_properties'|trans|desc('Global properties') }}
            </div>
            <div class="card-body ez-card__body ez-card__body--incresed-margin">
                {{ form_row(form.name, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.identifier, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.description, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.nameSchema, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.urlAliasSchema, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.isContainer, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.defaultSortField, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.defaultSortOrder, {'label_attr': {'class': 'ez-label'}}) }}
                {{ form_row(form.defaultAlwaysAvailable, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
            </div>
        </div>
    </section>

    <section class="container ez-container">
        <div class="card ez-card ez-card--light">
            <div class="ez-card__header ez-card__header--sticky-top ez-card__header--section-title">
                <div>
                    {{ 'content_type.view.edit.content_field_definitions'|trans|desc('Field definitions') }}
                </div>
                <div class="form-inline">
                    <div class="ez-card__field-control mr-2">
                    {{ form_widget(form.fieldTypeSelection, {'attr': {'class': 'ez-field-selection'}}) }}
                    {{ form_widget(form.addFieldDefinition, {'attr': {'class': 'btn btn-secondary'}}) }}
                    </div>

                    <button type="button"
                            title="{{ 'content_type.view.edit.content_field_definition.delete'|trans|desc('Delete Field definition(s)') }}"
                            class="btn btn-icon"
                            data-toggle="modal"
                            data-target="#delete-content-type-modal"
                            {% if form.addFieldDefinition.vars.disabled %} disabled {% endif %}>
                        <svg class="ez-icon ez-icon--medium ez-icon--light">
                            <use xlink:href="{{ ez_icon_path('trash') }}"></use>
                        </svg>
                    </button>
                </div>
            </div>

            {% include '@ezdesign/content_type/modal/delete_confirmation.html.twig' with {'form': form} %}

            <div class="card-body ez-card__body ez-card__body--incresed-margin">
                {% for field_definition in form.fieldDefinitionsData %}
                    {% set value = field_definition.vars.value %}

                    <div class="card ez-card ez-card--toggle-group ez-card--collapsed">
                        <div id="field-definition-{{ value.identifier }}" class="ez-card__header">
                            {% set name = value.names[language_code] ?? value.names[content_type.mainLanguageCode]  %}
                            <button class="ez-card__body-display-toggler btn">
                                <svg class="ez-icon ez-icon--small ez-icon--caret-down" aria-hidden="true">
                                    <use xlink:href="{{ ez_icon_path('caret-down') }}"></use>
                                </svg>
                                <svg class="ez-icon ez-icon--small ez-icon--caret-next" aria-hidden="true">
                                    <use xlink:href="{{ ez_icon_path('caret-next') }}"></use>
                                </svg>
                            </button>
                            {{ form_widget(field_definition.selected, {
                                'label': '%s (%s)'|format(name, value.fieldTypeIdentifier),
                                'attr': {'class': 'ez-input ez-input--checkbox mr-1'}
                            }) }}
                        </div>

                        <div class="ez-card__body">
                            {{ form_row(field_definition.name, {'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.identifier, {'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.position, {'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.description, {'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.isRequired, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.isSearchable, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.isTranslatable, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.isThumbnail, {'attr': {'class': 'ez-input ez-input--checkbox'}, 'label_attr': {'class': 'ez-label'}}) }}
                            {{ form_row(field_definition.fieldGroup, {'label_attr': {'class': 'ez-label'}}) }}

                            {# Field type specific fields below #}
                            {{ ez_render_field_definition_edit(value, {
                                'languageCode': language_code,
                                'form': field_definition,
                                'group_class': value.group_class|default(''),
                                'is_translation': is_translation,
                            }) }}

                            {# Default rendering #}
                            {% for child in field_definition|filter(child => child.isRendered() == false) %}
                                {{ form_row(child) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {{ form_widget(form.publishContentType, {'attr': { 'hidden': 'hidden' }}) }}
    {{ form_widget(form.removeDraft, {'attr': { 'hidden': 'hidden' }}) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false }) }}
{% endblock %}

{% block right_sidebar %}
    {% set content_type_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_type_edit.sidebar_right', [], {'form_view': form, 'content_type': content_type}) %}
    {{ knp_menu_render(content_type_edit_sidebar_right, {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-type-edit-js', null, 'ezplatform') }}
{% endblock %}
