{% trans_default_domain 'content_type' %}

{% import "@ezdesign/content_type/macros.html.twig" as macros %}

{% form_theme form_content_types_delete '@ezdesign/ui/form_fields.html.twig'  %}

<section class="container ez-container">
    {% set body_rows = [] %}
    {% for content_type in pager.currentPageResults %}
        {% set body_row_cols = [] %}

        {% set col_raw %}
            {% if can_delete %}
                {{ form_widget(form_content_types_delete.content_types[content_type.id], {"disabled": not deletable[content_type.id]}) }}
            {% else %}
                {% do form_content_types_delete.content_types.setRendered %}
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_checkbox: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set col_raw %}
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ez_content_type_icon(content_type.identifier) }}"></use>
            </svg>
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_icon: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set col_raw %}
            {% set view_url = path('ezplatform.content_type.view', {
                'contentTypeGroupId': content_type_group.id,
                'contentTypeId': content_type.id
            }) %}

            <a href="{{ view_url }}" title="{{ content_type.name }}">{{ content_type.name }}</a>
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_row_cols = body_row_cols|merge([
            { content: content_type.identifier },
            { content: content_type.id },
            { content: content_type.modificationDate|ez_full_datetime },
        ]) %}

        {% set col_raw %}
            {% if can_create %}
                {{ macros.content_type_copy(content_type, content_type_group, 'btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--copy-content-type') }}
            {% endif %}
            {% if can_update %}
                {{ macros.content_type_edit(content_type, content_type_group, 'btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text') }}
            {% endif %}
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% embed '@ezdesign/ui/component/table/table.html.twig' with {
        headline: 'content_type.view.list.title'|trans({ '%identifier%': content_type_group.identifier })|desc('Content Types in \'%identifier%\''),
        head_cols: [
            { has_checkbox: true },
            { has_icon: true },
            { content: 'content_type.view.list.column.name'|trans|desc('Name') },
            { content: 'content_type.view.list.column.identifier'|trans|desc('Identifier') },
            { content: 'content_type.view.list.column.id'|trans|desc('ID') },
            { content: 'content_type.view.list.column.modification_date'|trans|desc('Modification date') },
            { },
        ],
        body_rows,
    } %}
        {% block header %}
            {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                {% block actions %}
                    {% if can_create %}
                        <a
                            href="{{ path('ezplatform.content_type.add', {contentTypeGroupId: content_type_group.id}) }}"
                            title="{{ 'content_type.view.list.action.add'|trans|desc('Create a Content Type') }}"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                        </a>
                    {% endif %}
                    {% if can_delete %}
                        {% set modal_data_target = 'delete-content-types-modal' %}
                        <button
                            id="delete-content-types"
                            type="button"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                            disabled
                            data-bs-toggle="modal"
                            data-bs-target="#{{ modal_data_target }}"
                            title="{{ 'content_type.view.list.action.delete'|trans|desc('Delete Content Type') }}"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                            </svg>
                        </button>
                        {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                            'id': modal_data_target,
                            'message': 'content_type.modal.message'|trans|desc('Do you want to delete the Content Type?'),
                            'data_click': '#content_types_delete_delete',
                        }%}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endblock %}

        {% block between_header_and_table %}
            {{ form_start(form_content_types_delete, {
                'action': path('ezplatform.content_type.bulk_delete', {"contentTypeGroupId": group.id} ),
                'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-content-types' }
            }) }}
        {% endblock %}
    {% endembed %}
    {{ form_end(form_content_types_delete) }}

    {{ form_start(content_type_copy_form, { 'attr': {'hidden': 'hidden'}}) }}
    {{ form_end(content_type_copy_form) }}

    {% if pager.haveToPaginate %}
        {% include '@ezdesign/ui/pagination.html.twig' with {
            'pager': pager,
            'paginaton_params': {
                'routeName': route_name,
                'routeParams': {'contentTypeGroupId': group.id}
            }
        } %}
    {% endif %}
</section>

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-type-list-js', null, 'ezplatform') }}
{% endblock %}
