{% trans_default_domain 'content_type' %}

{% import "@ezdesign/content_type/macros.html.twig" as macros %}

{% form_theme form_content_types_delete '@ezdesign/ui/form_fields.html.twig'  %}

<section class="container ez-container">
    <div class="ez-table-header">
        <div class="ez-table-header__headline">{{ 'content_type.view.list.title'|trans({ '%identifier%': content_type_group.identifier })|desc('Content Types in \'%identifier%\'') }}</div>
        <div>
            {% if can_create %}
                <a
                    href="{{ path('ezplatform.content_type.add', {contentTypeGroupId: content_type_group.id}) }}"
                    title="{{ 'content_type.view.list.action.add'|trans|desc('Create a Content Type') }}"
                    class="btn btn-icon"
                >
                    <svg class="ez-icon ez-icon-create">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
            {% endif %}
            {% if can_delete %}
                {% set modal_data_target = 'delete-content-types-modal' %}
                <button
                    id="delete-content-types"
                    type="button"
                    class="btn btn-icon"
                    disabled
                    data-toggle="modal"
                    data-target="#{{ modal_data_target }}"
                    title="{{ 'content_type.view.list.action.delete'|trans|desc('Delete Content Type') }}"
                >
                    <svg class="ez-icon ez-icon-trash">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                    </svg>
                </button>
                {% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                    'id': modal_data_target,
                    'message': 'content_type.modal.message'|trans|desc('Do you want to delete the Content Type?'),
                    'data_click': '#content_types_delete_delete',
                }%}
            {% endif %}
        </div>
    </div>

    {{ form_start(form_content_types_delete, {
        'action': path('ezplatform.content_type.bulk_delete', {"contentTypeGroupId": group.id} ),
        'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-content-types' }
    }) }}
    <table class="ez-table table">
        <thead>
            <tr>
                <th class="ez-table__header-cell"></th>
                <th class="ez-table__header-cell ez-table__header-cell--has-icon"></th>
                <th class="ez-table__header-cell ez-table__header-cell--after-icon">{{ 'content_type.view.list.column.name'|trans|desc('Name') }}</th>
                <th class="ez-table__header-cell">{{ 'content_type.view.list.column.identifier'|trans|desc('Identifier') }}</th>
                <th class="ez-table__header-cell">{{ 'content_type.view.list.column.id'|trans|desc('ID') }}</th>
                <th class="ez-table__header-cell">{{ 'content_type.view.list.column.modification_date'|trans|desc('Modification date') }}</th>
                <th class="ez-table__header-cell"></th>
            </tr>
        </thead>
        <tbody>
        {% for content_type in pager.currentPageResults %}
            <tr>
                <td class="ez-table__cell ez-table__cell--has-checkbox">
                    {% if can_delete %}
                        {{ form_widget(form_content_types_delete.content_types[content_type.id], {"disabled": not deletable[content_type.id]}) }}
                    {% else %}
                        {% do form_content_types_delete.content_types.setRendered %}
                    {% endif %}
                </td>
                <td class="ez-table__cell ez-table__cell--has-icon">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ ez_content_type_icon(content_type.identifier) }}"></use>
                    </svg>
                </td>
                <td class="ez-table__cell ez-table__cell--name ez-table__cell--after-icon">
                {% set view_url = path('ezplatform.content_type.view', {
                        'contentTypeGroupId': content_type_group.id,
                        'contentTypeId': content_type.id
                    }) %}

                    <a href="{{ view_url }}" title="{{ content_type.name }}">{{ content_type.name }}</a>
                </td>
                <td class="ez-table__cell">{{ content_type.identifier }}</td>
                <td class="ez-table__cell">{{ content_type.id }}</td>
                <td class="ez-table__cell">{{ content_type.modificationDate|ez_full_datetime }}</td>
                <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                    {% if can_update %}
                        {{ macros.content_type_edit(content_type, content_type_group, 'btn btn-icon mx-2') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form_content_types_delete) }}

    {% if pager.haveToPaginate %}
        <div class="row justify-content-center align-items-center mb-2 ez-pagination__spacing">
                <span class="ez-pagination__text">
                    {{ 'pagination.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
        </div>
        <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
            {{ pagerfanta(pager, 'ez', {
                'routeName': route_name,
                'routeParams': {'contentTypeGroupId': group.id}
            }) }}
        </div>
    {% endif %}
</section>

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-content-type-list-js', null, 'ezplatform') }}
{% endblock %}
