{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.composer'|trans|desc('Composer') }} -->

<h1>{{ 'composer'|trans|desc('Composer') }}</h1>
<dl>
    <dt>{{ 'composer.minimum_stability'|trans|desc('Minimum stability') }}</dt>
    <dd>{{ info.minimumStability }}</dd>

    {% if info.packages is empty %}
        <dt>{{ 'packages'|trans|desc('Packages') }}</dt>
        <dd>{{ 'packages.empty'|trans|desc('No packages installed.') }}</dd>
    {% endif %}
</dl>

{% if info.packages is not empty %}
    <h2>{{ 'packages'|trans|desc('Packages') }}</h2>
    <dl>
        {% for package in info.packages %}
            {% if package.homepage is empty %}
                <dt>{{ package.name }}</dt>
            {% else %}
                <dt><a href="{{ package.homepage }}" target="_blank">{{ package.name }}</a></dt>
            {% endif %}
            <dd>{{ package.version }} {{ package.stability }} <span>({{ package.dateTime|localizeddate( 'short', 'short', app.request.locale )}}, {{ package.reference | slice(0, 5) }})</span></dd>
        {% endfor %}
    </dl>
{% endif %}
