{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.hardware'|trans|desc('Hardware') }} -->

<h1>{{ 'hardware'|trans|desc('Hardware') }}</h1>
<dl>
    <dt>{{ 'cpu'|trans|desc('CPU') }}</dt>
    <dd>
        {{ info.cpuType }}
        {% if info.cpuSpeed %}
            ({{ info.cpuCount }}x{{ info.cpuSpeed }}&nbsp;{{ 'mhz'|trans|desc('mhz') }})
        {% endif %}
    </dd>
    <dt>{{ 'memory'|trans|desc('Memory') }}</dt>
    <dd>{{ info.memorySize|ez_file_size( 1 ) }}</dd>
</dl>
