{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.symfony_kernel'|trans|desc('Symfony kernel') }} -->

<h1>{{ 'symfony_kernel'|trans|desc('Symfony kernel') }}</h1>
<dl>
    <dt>{{ 'symfony_kernel.environment'|trans|desc('Environment') }}</dt>
    <dd>{{ info.environment }}</dd>
    <dt>{{ 'symfony_kernel.debugMode'|trans|desc('Debug mode') }}</dt>
    <dd>{% if info.debugMode %}{{ 'symfony_kernel.debugMode.enabled'|trans|desc('Enabled') }}{% else %}{{ 'symfony_kernel.debugMode.disabled'|trans|desc('Disabled') }}{% endif %}</dd>
    <dt>{{ 'symfony_kernel.version'|trans|desc('Version') }}</dt>
    <dd>{{ info.version }}</dd>
    <dt>{{ 'symfony_kernel.name'|trans|desc('Name') }}</dt>
    <dd>{{ info.name }}</dd>
    <dt>{{ 'symfony_kernel.rootDir'|trans|desc('Root directory') }}</dt>
    <dd>{{ info.rootDir }}</dd>
    <dt>{{ 'symfony_kernel.cacheDir'|trans|desc('Cache directory') }}</dt>
    <dd>{{ info.cacheDir }}</dd>
    <dt>{{ 'symfony_kernel.logDir'|trans|desc('Log directory') }}</dt>
    <dd>{{ info.logDir }}</dd>
    <dt>{{ 'symfony_kernel.charset'|trans|desc('Character set') }}</dt>
    <dd>{{ info.charset }}</dd>

    {% if info.bundles is empty %}
        <dt>{{ 'bundles'|trans|desc('Bundles') }}</dt>
        <dd>{{ 'symfony_kernel.bundles.empty'|trans|desc('No bundles installed.') }}</dd>
    {% endif %}
</dl>

{% if info.bundles is not empty %}
    <h2>{{ 'bundles'|trans|desc('Bundles') }}</h2>
    <dl>
        {% for bundle, namespace in info.bundles %}
            <dt>{{ bundle }}</dt>
            <dd>{{ namespace }}</dd>
        {% endfor %}
    </dl>
{% endif %}
